  <footer>
    <div class="container">
      <div class="row footer-top">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 social">
          <a href="#">
            <svg class="inline-flex" id="brand_LinkedIn" data-name="brand / LinkedIn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
              <defs>
              <clipPath id="clip-path">
                  <rect id="brand_LinkedIn_Background_Mask_" data-name="brand / LinkedIn (Background/Mask)" width="24" height="24" fill="none"/>
              </clipPath>
              </defs>
              <rect id="brand_LinkedIn_Background_Mask_2" data-name="brand / LinkedIn (Background/Mask)" width="24" height="24" fill="none"/>
              <g id="brand_LinkedIn-2" data-name="brand / LinkedIn" clip-path="url(#clip-path)">
              <path id="brand_LinkedIn-3" data-name="brand / LinkedIn" d="M10,18H6V6h4V8a4.618,4.618,0,0,1,3.525-1.763A4.5,4.5,0,0,1,18,10.75V18H14V11.25a2.265,2.265,0,0,0-2.247-1.944A1.815,1.815,0,0,0,10,11.25V18ZM4,18H0V6H4V18ZM2,4A2,2,0,1,1,4,2,2,2,0,0,1,2,4Z" transform="translate(3 3)" fill="#fff"/>
              </g>
            </svg>
          </a>
          <a href="#">
            <svg class="inline-flex" id="brand_Twitter" data-name="brand / Twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
              <defs>
              <clipPath id="clip-path">
                  <rect id="brand_Twitter_Background_Mask_" data-name="brand / Twitter (Background/Mask)" width="24" height="24" fill="none"/>
              </clipPath>
              </defs>
              <rect id="brand_Twitter_Background_Mask_2" data-name="brand / Twitter (Background/Mask)" width="24" height="24" fill="none"/>
              <g id="brand_Twitter-2" data-name="brand / Twitter" clip-path="url(#clip-path)">
              <path id="brand_Twitter-3" data-name="brand / Twitter" d="M18.454,2.688A4.3,4.3,0,0,0,20.341.314a8.591,8.591,0,0,1-2.725,1.041A4.3,4.3,0,0,0,10.3,5.27,12.184,12.184,0,0,1,1.456.786a4.3,4.3,0,0,0,1.328,5.73A4.276,4.276,0,0,1,.841,5.978c0,.018,0,.036,0,.054a4.294,4.294,0,0,0,3.443,4.208,4.3,4.3,0,0,1-1.938.074,4.3,4.3,0,0,0,4.009,2.98,8.61,8.61,0,0,1-5.33,1.837A8.715,8.715,0,0,1,0,15.072,12.147,12.147,0,0,0,6.579,17,12.127,12.127,0,0,0,18.789,4.789q0-.279-.013-.555a8.719,8.719,0,0,0,2.142-2.222A8.579,8.579,0,0,1,18.454,2.688Z" transform="translate(1.541 4)" fill="#fff"/>
              </g>
            </svg>        
          <a href="#">
            <svg class="inline-flex" id="brand_instagram" data-name="brand / instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
              <defs>
              <clipPath id="clip-path">
                  <rect id="brand_instagram_Background_Mask_" data-name="brand / instagram (Background/Mask)" width="24" height="24" fill="none"/>
              </clipPath>
              </defs>
              <rect id="brand_instagram_Background_Mask_2" data-name="brand / instagram (Background/Mask)" width="24" height="24" fill="none"/>
              <g id="brand_instagram-2" data-name="brand / instagram" clip-path="url(#clip-path)">
              <path id="brand_instagram-3" data-name="brand / instagram" d="M9,18.036c-2.46,0-2.75-.013-3.71-.055a6.584,6.584,0,0,1-2.185-.45A4.619,4.619,0,0,1,.475,14.9a6.591,6.591,0,0,1-.419-2.187C0,11.755,0,11.441,0,9c0-2.467.013-2.755.056-3.71A6.59,6.59,0,0,1,.475,3.106,4.61,4.61,0,0,1,3.108.474,6.533,6.533,0,0,1,5.292.054C6.247,0,6.561,0,9,0c2.48,0,2.765.013,3.71.054A6.574,6.574,0,0,1,14.9.474a4.615,4.615,0,0,1,2.633,2.632,6.571,6.571,0,0,1,.421,2.217c.056.958.056,1.271.056,3.711s-.014,2.76-.056,3.707a6.6,6.6,0,0,1-.42,2.189A4.624,4.624,0,0,1,14.9,17.562a6.612,6.612,0,0,1-2.186.419C11.759,18.036,11.446,18.036,9,18.036ZM8.966,1.583c-2.446,0-2.7.012-3.655.055a4.989,4.989,0,0,0-1.669.311A2.989,2.989,0,0,0,1.923,3.661a5.015,5.015,0,0,0-.311,1.687C1.559,6.317,1.559,6.571,1.559,9c0,2.4.009,2.691.053,3.654a5.067,5.067,0,0,0,.311,1.67,2.991,2.991,0,0,0,1.719,1.711,4.921,4.921,0,0,0,1.669.311c.968.056,1.223.056,3.655.056,2.453,0,2.707-.012,3.654-.056a4.964,4.964,0,0,0,1.67-.311A3,3,0,0,0,16,14.326a5.041,5.041,0,0,0,.311-1.688h.011c.043-.956.043-1.211.043-3.654s-.011-2.7-.054-3.655A5.056,5.056,0,0,0,16,3.661,3,3,0,0,0,14.29,1.949a4.943,4.943,0,0,0-1.67-.311C11.653,1.583,11.4,1.583,8.966,1.583ZM9,13.619A4.623,4.623,0,1,1,13.62,8.995,4.629,4.629,0,0,1,9,13.619ZM9,5.993a3,3,0,1,0,3,3A3.007,3.007,0,0,0,9,5.993ZM13.8,5.28A1.078,1.078,0,1,1,14.882,4.2,1.079,1.079,0,0,1,13.8,5.28Z" transform="translate(3.002 3.005)" fill="#fff"/>
              </g>
            </svg>
          </a>
          <a href="#">
          <svg class="inline-flex" id="brand_facebook" data-name="brand / facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            <clipPath id="clip-path">
                <rect id="brand_facebook_Background_Mask_" data-name="brand / facebook (Background/Mask)" width="24" height="24" fill="none"/>
            </clipPath>
            </defs>
            <rect id="brand_facebook_Background_Mask_2" data-name="brand / facebook (Background/Mask)" width="24" height="24" fill="none"/>
            <g id="brand_facebook-2" data-name="brand / facebook" clip-path="url(#clip-path)">
            <path id="brand_facebook-3" data-name="brand / facebook" d="M0,10a10.005,10.005,0,0,0,8.437,9.879V12.89H5.9V10h2.54V7.8A3.528,3.528,0,0,1,12.213,3.9a15.438,15.438,0,0,1,2.24.2V6.559H13.189a1.446,1.446,0,0,0-1.628,1.563V10h2.771l-.443,2.891H11.561v6.988A10,10,0,1,0,0,10Z" transform="translate(2.002 2.002)" fill="#fff"/>
            </g>
          </svg>
        </a>
        <a href="#">
          <svg class="inline-flex" id="brand_youtube" data-name="brand / youtube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            <clipPath id="clip-path">
                <rect id="brand_youtube_Background_Mask_" data-name="brand / youtube (Background/Mask)" width="24" height="24" fill="none"/>
            </clipPath>
            </defs>
            <rect id="brand_youtube_Background_Mask_2" data-name="brand / youtube (Background/Mask)" width="24" height="24" fill="none"/>
            <g id="brand_youtube-2" data-name="brand / youtube" clip-path="url(#clip-path)">
            <path id="brand_youtube-3" data-name="brand / youtube" d="M10.02,14.012H10c-.062,0-6.265-.012-7.83-.437A2.505,2.505,0,0,1,.406,11.81,26.493,26.493,0,0,1,0,7,26.653,26.653,0,0,1,.417,2.182,2.564,2.564,0,0,1,2.183.4C3.705,0,9.737,0,9.993,0h.021c.063,0,6.282.012,7.831.437A2.5,2.5,0,0,1,19.607,2.2a25.238,25.238,0,0,1,.407,4.831,26.567,26.567,0,0,1-.418,4.811,2.51,2.51,0,0,1-1.767,1.763C16.309,14.008,10.276,14.012,10.02,14.012Zm-2-10.007-.005,6,5.212-3Z" transform="translate(1.986 5)" fill="#fff"/>
            </g>
          </svg>
        </a>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 subscribe">
          <input type="text" class="subscribe-field" placeholder="Enter your email">
          <button class="buttin-defult">SUBSCRIBE</button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6 open">
          <div class="footer-hide">
            <span>HIDE</span>
            <span></span>
          </div>
          <div class="footer-hide expand">
            <span>EXPAND</span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="footlinks">
        <ul>
          <span class="section-sub">ABOUT</span>
          <li><a href="#">Overview</a></li>
          <li><a href="#">ESAG Timeline</a></li>  
          <li><a href="#">Chariman’s Message</a></li>
          <li><a href="#">Leadership</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Investment Approach</a></li>                             
        </ul>
        <ul>
          <span class="section-sub">COMPANIES</span>
          <li><a href="#">Retail & Lifestyle</a></li>
          <li><a href="#">Consumer</a></li>
          <li><a href="#">Building & Construction
          </a></li>
          <li><a href="#">Industrial</a></li>
          
          <li><a href="#">Joint Ventures</a></li>
          <li><a href="#">Real Estate</a></li>
          
          
        </ul>
        <ul>
          <span class="section-sub">SOLUTIONS</span>
          <li><a href="#">Home Furnishings</a></li>
          <li><a href="#">Interior Fitout</a></li>
          <li><a href="#">Lighting Solutions</a></li>
          <li><a href="#">Transportation & Mobility</a></li>
          <li><a href="#">Life Sciences & Healthcare</a></li>
          <li><a href="#">Interior Design</a></li>
          <li><a href="#">Kitchens & Wardrobes</a></li>
          <li><a href="#">Office furniture</a></li>
          <li><a href="#">Automation</a></li>
          <li><a href="#">Building Solutions</a></li>
          <li><a href="#">Stationery</a></li>
          <li><a href="#">Tyres</a></li>
          <li><a href="#">Car Batteries</a></li>
          <li><a href="#">Fire Protection</a></li>
          <li><a href="#">View All Solutions</a></li>
          
        </ul>
        <ul>
          <span class="section-sub">CAREERS</span>
          <li><a href="#">Why Join ESAG</a></li>
          <li><a href="#">Tawteen Initiative</a></li>
          <li><a href="#">Vacancies</a></li>
          <li><a href="#">Tawteen Initiative</a></li>
          <li><a href="#">Benefits</a></li>
          <li><a href="#">Woman@ESAG</a></li>
          <li><a href="#">Internships</a></li>
          <li><a href="#">Talent Development</a></li>          
        </ul>
        <ul>
          <span class="section-sub">QUICK LINKS</span>
          <li><a href="#">CSR</a></li>
          <li><a href="#">Insights</a></li>
          <li><a href="#">Featured Projects</a></li>
          
        </ul>
        <ul>
          <span class="section-sub">CONTACT</span>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Headquarters</a></li>
          <li><a href="#">International Offices</a></li>
          <li><a href="#">Vendor Registration</a></li>        
        </ul>
      </div>            
    </div>
    <div class="foot-adress">
      <div class="container">
        <div class="row">
   
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span class="">
              Al Gurg Tower 1, Baniyas Road <br>
              PO Box 325, Dubai, United Arab Emirates
            </span>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <span >Phone: +971 4 227 9666 
              </span>
              <span>
                Email: esag@algurg.ae
              </span>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 tc-copy">
            <span>Terms of use & data privacy</span>
            <span>© 2021 Easa Saleh Al Gurg Group (ESAG)</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
    
</main>

<!-- <script defer src="assets/js/animation.js"></script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->
<script  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script> 
<!-- <script defer src="assets/js/jquery.min.js"></script> -->
<!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script> -->

<!-- <script defer src="assets/js/tweenmax.js"></script> -->
<!-- <script defer src="./assets/js/scrollmagic.js"></script> -->
<!-- <script defer src="assets/js/animation.gsap.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> -->
<script defer="defer" src="assets/js/plugins.min.js"></script>
<script defer="defer" src="assets/js/app.min.js"></script>





</body>

</html> 