<div class="row">
  <div class="sticky-head">
    <div class="logo">
      <a href="#">
        <img src="assets/img/logo/logo.svg" alt="algurg logo">
      </a>
    </div>
    <div class="top-nav">
      <ul>
        <li class="active_link"><a href="#">ABOUT</a></li>
        <li><a href="#">COMPANIES</a></li>
        <li><a href="#">CSR</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">CAREERS</a></li>
        <li><a href="#">INSIGHTS</a></li>  
      </ul>
      <div class="mobile-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="top-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="13.942" height="13.942" viewBox="0 0 13.942 13.942">
          <g id="Search" transform="translate(0.304 0.375)">
            <path id="Stroke_476" data-name="Stroke 476" d="M10.36,5.18A5.18,5.18,0,1,1,5.18,0,5.18,5.18,0,0,1,10.36,5.18Z" transform="translate(0.196 0.125)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
            <path id="Stroke_477" data-name="Stroke 477" d="M0,0,3.885,3.885" transform="translate(9.046 8.974)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
          </g>
        </svg>
        
      </span>
    </div>
    <div class="top-search-box">
      <input type="text" name="search" class="top-search-icon" placeholder="What're we looking for ?">
      <span class="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
          <g id="Group_1" data-name="Group 1" transform="translate(-184 -200)">
            <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(184 200)" fill="none" stroke="#707070" stroke-width="1.5">
              <circle cx="40" cy="40" r="40" stroke="none"/>
              <circle cx="40" cy="40" r="39.25" fill="none"/>
            </g>
            <line id="Line_1" data-name="Line 1" x2="35" y2="42" transform="translate(207 219)" fill="none" stroke="#707070" stroke-width="1.5"/>
            <line id="Line_2" data-name="Line 2" x1="35" y2="42" transform="translate(207 219)" fill="none" stroke="#707070" stroke-width="1.5"/>
          </g>
        </svg>
      </span>
    </div>
   
  </div>
 
</div>