html {
  // scroll-behavior: smooth;
  box-sizing: border-box;
}

body, html {
  overflow-y: overlay;
  overflow-x: hidden;
}

* {
  outline: 0;
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
    &::-webkit-scrollbar{
      width: 8px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: rgba($color: #000000, $alpha: .5);
      border-radius: 10px;
    }
    scrollbar-width: thin;
}

a, .btn{
  transition: 0.5s all ease-in-out;
}

body {
  // background-color: $color-white;
  font-family: $primery-font-family;
}


a{
  // color: $color-black;
  &:hover{
    text-decoration: none;
  }
}

button{
  &:focus{
    outline: none;
  }
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
  margin: 0px;
}

address{
  margin: 0;
  padding: 0;
}

@media (min-width: 1260px){
  .container{
    max-width: 1200px;
  }
}
@include mobile-landscape { 
  .container{
    max-width: 100%;
  }
}

@media (max-width: $mobile-sm){
  .container{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.aos-init,.aos-animate{
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    transition: none;
    transform: none;
    transition-delay: 0;
    transition-duration: 0;
  }
}

.slick-slide{
  outline: 0;
}
// @media (min-width:992px) {
  
//   html, body{
//     overflow: hidden;
//     overflow-x: hidden;
//     max-height: 100vh;
//     #pageScrollBar{
//     overflow-x: hidden;
//       max-height: 100vh;
//     }
//   }
  
//   .scroll-content{
//     overflow: hidden;
//     max-width: 100vw;
//   }
// }

// [data-scrollbar] .scrollbar-track:hover{
//   background-color: transparent !important;
// }
// #pageScrollBar{
//   overflow-x: hidden;
//   }

  section{
    // overflow-x: hidden;
  }


  .text_unset{
    text-transform: unset !important;
  }
  .mw_unset{
    max-width: unset !important;
  }