@font-face {
  font-family: 'Essonnes';
  src: url('../../assets/fonts/EssonnesDisplay-Regular.woff2') format('woff2'),
      url('../../assets/fonts/EssonnesDisplay-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Essonnes';
  src: url('../../assets/fonts/EssonnesDisplay-Light.woff2') format('woff2'),
      url('../../assets/fonts/EssonnesDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Essonnes';
  src: url('../../assets/fonts/EssonnesDisplay-Bold.woff2') format('woff2'),
      url('../../assets/fonts/EssonnesDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Essonnes';
  src: url('../../assets/fonts/EssonnesDisplay-Italic.woff2') format('woff2'),
      url('../../assets/fonts/EssonnesDisplay-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-Thin.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('../../fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-Light.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-Medium.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-Bold.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'poppins';
  src: url('../../assets/fonts/Poppins-Black.woff2') format('woff2'),
      url('../../assets/fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



/*------------------*
# Headings
*------------------*/

/*
 * Uniform spacing and color for headings
*/

html, body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primery-font-family;
  font-size: $primery-font-family;
}

h1, h2, h3, h4, h5, h6, button{
  font-family: $primery-font-family;
}

p{
  font-family: $secondary-font-family;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  // margin-bottom: 25px;
  &:last-child{
    margin-bottom: 0;
  }
}
ul, ol, span, address{
  font-family: $secondary-font-family;
  font-weight: normal;
}



