/*------------------*
# Variables
*------------------*/

/*
 * This file includes default variables to get going quickly on a project.
 * File includes:
 * - Base font family
 * - Base font sizes
 * - Heading spacing
 * - Paragraph spacing
 * - Base line height
 * - Base colors
*/

/*
 * Base font family
*/

$primery-font-family: 'Essonnes', sans-serif;;
$secondary-font-family: 'poppins', sans-serif;

/*
 * Base font sizes
*/

$base-font-size: 16px !default;

$h1-size: 75px !default;
$h2-size: 60px !default;
$h3-size: 24px !default;
$h4-size: 18px !default;
$h5-size: 16px !default;
$h6-size: 14px !default;
$p-size: 18px !default;


$session-h1:40px;
$session-sub:14px;


/*
 * Base line height
*/

$base-line-height: 1.5 !default;

/*
 * Base colors
*/

$primery-color: #92835C !default;
$secondary-color: #000 !default; 
$primary:#84754E;
$color-lunar-green:#414240;
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

// Breakpoints
$desktop-lg: 1440px;
$desktop-sm: 1365px;
$tablet-lg: 1200px; 
$tablet-sm: 991px;
$mobile-lg: 768px;
$mobile-sm: 580px;
$mobile-xs: 320px;


body{
    text-rendering: optimizeLegibility;
}

//buttons

.buttin-defult{
    width: 200px;
    height: 47px;
    border-radius: 3px;
    border:none;
    background: #84754E;
    color: #fff;
    font-size: 14px;
    display: block;
    font-family: $secondary-font-family;
    line-height: 47px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border:1px solid $primary;
    &:hover{
        background: transparent;
        color: $primary;
        
    }
}
.section-sub{
    font-size:14px;
    color: #A9986A;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $secondary-font-family;
    margin-bottom: 10px;
}
.section-hd{
    font-size: 40px;
    font-family:$primery-font-family;
    text-transform: uppercase;
    display: block;
    position: relative;
    color: $secondary-color;
    &::after{
        content: '';
        position: absolute;
        display: inline-block;
        width: 120px;
        height: 1px;
        background: #97855F;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
    }
    @media(max-width:$tablet-sm){
        font-size: 35px;
    }
    @media(max-width:$mobile-lg){
        font-size: 30px;
    }
    @media(max-width:475px){
      font-size: 25px;
    }
}
.section-content{
    font-size: 16px;
    font-family: $secondary-font-family;
    line-height: 27px;
    color: $secondary-color;
    @media(max-width:475px){
      font-size: 14px;
      line-height: 24px;
    }
}

.more{
    font-size: 14px;
    font-family: $secondary-font-family;
    color: $primary;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    margin-top: 8px;
    cursor: pointer;
    a{
        color: $primary;
        &:hover {
            color: #000;
        }
    }
    .more-icon{        
        // background: url("assets/img/bg/right.png") no-repeat ;
        width: 32px;
        height: 17px;
        position: absolute;
        display: inline-block;
        right: -77px;
        top: 2px;
        cursor: pointer;

    }
}
.message{
    background: #fff;
}

.slider{
    display: inline-block;
    float: right;
    span{
        cursor: pointer;
        &:first-of-type{
            margin-right: 17px;
        }
    }
}
// image
img{
    width: 100%;
}
section svg:hover path {
    fill: #000;
}