footer{    
    background: #333333; 
    position: relative;
    z-index: 11;  
    .footer-top{
        padding: 40px 0;
        &>div:nth-child(2){
            order: 0;
        }
        .social{
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
              svg{
                  path{
                     transition: .2s all ease-in-out; 
                      fill: #fff;
                    }
                &:hover{
                  g{
                    path{
                      fill:#84754e;
                    }
                  }
                }
              }
            }
            @media(max-width:$tablet-sm){
                order: 2;
            }
        }
        .subscribe{
            justify-content: center;
            display: flex;
            @media(max-width:$tablet-sm){
                order: 1;
                margin-bottom: 30px;
            }
        }
        .hide{
            @media(max-width:$tablet-sm){
                order: 3;
                justify-content: end;
                display: flex;
            }
        }
        .subscribe-field{
            border: 1px solid $primary;
            background: none;
            width: 310px;
            height: 47px;
            border-radius: 5px 0 0 5px;
            display: inline-block;
            margin-right: -10px;
            font-family: $secondary-font-family;
            font-size: $h5-size;
            color: #BFAA79;
            padding-left: 20px;
            border-right: none;
            line-height: 47px;
            @media(max-width:475px){
              width:100%;
            }

            &::placeholder{
                font-family: $secondary-font-family;
                font-size: $h5-size;
                color: #BFAA79;
                
            }
        }

        .buttin-defult{
            display: inline-block;
            width: 170px;
        }
        .footer-hide{
            width: max-content;
            margin-left: auto;
            min-width: 145px;
            height: 47px;
            border: 1px solid $primary;
            display: flex;
            font-family: $secondary-font-family;
            font-size: $h6-size;
            color: $primary;
            padding: 0 22px;
            border-radius: 3px;
            line-height: 47px;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            @media (max-width:990px) {
                margin-left: 0;
            }
            span{
                font-weight: 500;
                &:last-of-type{
                    width: 10px;
                    height: 1px;
                    background: $primary;
                }                
            }
            &:hover {
                background-color: #84754E;
                color: #fff;
                span {
                    color: #fff;
                }
                span::after, span:last-of-type {
                    background-color: #fff !important;
                }
            }
        }
        .footer-hide.expand{
            display: none;
            span{
                position: relative;
                &::after{
                    content: '';
                    width: 1px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    z-index: 1;
                    display: block;
                    background-color: $primary;
                }
            }
        }

        .open{
            .footer-hide{
                display: none;
                transition: 0.5s;
            }
            .footer-hide.expand{
                display: flex;
            }
        }
    } 
    .footlinks{
        display: flex;
        justify-content: space-between;
        -moz-transition: all .9s ease-out;
        -webkit-transition: all .9s ease-out;
        -o-transition: all .9s ease-out;
        transition: all .9s ease-out;
        height: 0;
        overflow: hidden;
        padding: 0;
        @media(max-width:$mobile-lg){
            flex-wrap: wrap;
        }
        ul{
        padding: 60px 0;
            @media(max-width:$mobile-lg){
                width:33.333%;
        padding: 10px 0;
            }
            @media(max-width:$mobile-sm){
                width: 50%;
            }
            span.section-sub{
                font-size: $h6-size;
                font-weight: 500 !important;
                font-family: $secondary-font-family;
                letter-spacing: normal;
            }
            span{
                margin-bottom: 17px;
                font-family: $secondary-font-family;
                color: #AB9D76;
                font-size: 14px;
                display: inline-block;
                font-weight: 400;
            }
            li{
                line-height: 25px;

                a{
                    color: $primery-color;
                    font-size: 13px;
                  &:hover{
                    color: #fff;
                  }
                }
            }
        }
    }
    .footlinks.open{
        height: auto;
    
        // transform: scaleY(0);
    }
    .foot-adress{
        width: 100%;
        display: block;
       padding: 40px 0 47px 0;
        background: #414240;
        @media(max-width:$mobile-lg){
            padding:20px;
            text-align: center;

        }
        div{
            a{
                display: inline-block;
                margin-right: 23px;
            }
           
            span{
                font-family: $secondary-font-family;
                font-size: 13px;
                color: #BFAA79;
                font-weight: 400;
                display: block;
                line-height: 26px;
            }
        }
        .tc-copy{
            span{
                font-size: 13px;
                color: #BFAA79;
                &:last-of-type{
                    color: $primary;
                }
            }
        }
    }
}