// Header styles here 
.header_spacer{
    padding-top: 100px;
}
header{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    @media(max-width:$mobile-sm){
        padding: 0 20px;
    }


    .sticky-head{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        @media(min-width:581px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        .logo{
            width: 188px;
            @media(max-width:$tablet-sm){
                width: 100px;
            }
        }
        .top-nav{
          @media(max-width:475px){
            height: 30px;
          }
        }
        ul{
            display: inline-flex;
            width: auto;    
            -webkit-transition: all 0.5s ease;
            -moz-transition: position 10s;
            -ms-transition: position 10s;
            -o-transition: position 10s;
            transition: all 0.5s ease;
            @media(max-width:$mobile-lg){
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                flex-direction: column;
                height: 100vh;
                justify-content: center;
                align-items: center;
                background: rgba(51, 51, 51, .9);
                left: -100%;
                }
            
            li{
                float: left;
                color: #fff;
                text-transform: uppercase;
                margin-left: 31px;
                &:first-child{
                margin-left: 0px;
                }
                @media(max-width:$tablet-sm){
                    padding-left: 20px;
                    margin-left: 0px;
                }
                @media(max-width:$mobile-lg){
                    padding-left: 0;
                    line-height: 35px;
                }
                a{
                    color:#fff;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    font-family: $secondary-font-family;
                    font-weight: 500;
                    font-size: 13px;
                    letter-spacing: 2px;
                    &:hover{
                        color: #92835C;
                    }
                }
                &.active_link{
                    a{
                        position: relative;
                        color: #A9986A;    
                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            display: block;
                            top: calc(100% + 2px);
                            left: 0;
                            z-index: 1;
                            background-color:#A9986A ;
                            @media (max-width:990px) {
                            top: calc(90% );
                            }
                        }   
                    }
                }
            }
        }
        .top-search-box{            
            background:rgba(255, 255, 255, .9);
            position: absolute;
            top: 0px;
            right: 0;
            height: 100%;
            cursor: pointer;
            width: 0;
            transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);   
            display: flex;
            align-items: center;
            z-index: 9;
            @media(max-width:475px){
              position: fixed;
              height: 74px;
            }     
            .top-search-icon{
                height: 70px;
                width: 100%;
                font-size: 30px;
                display: inline-block;
                font-family:$secondary-font-family;
                font-weight: 400;
                border: none;
                outline: none;
                color: #000;
                // padding: 3px;
                // padding-right: 60px;
                width: 0px;                              
                background: none;
                z-index: 3;                
                cursor: pointer;  
                border-bottom: 1px solid #BBB;
                padding: 0;
                @media(max-width:$tablet-sm){
                  font-size: 35px;
                }
                @media(max-width:475px){
                  font-size: 25px;
                  height: 40px;
                }
                                        
            }
            .close{
                width: 40px;
                height: 40px;
                svg{
                    width: 100%;
                    height: auto;
                }
            }
            
        }
        .srch-open{
            width: 100%;
            padding: 0 20px;    
            .top-search-icon{
                width: 100%;
            }
        }
        .open-nav{
            left: 0;
        }
        .mobile-nav{
            display: inline-block;
            @media(min-width:769px){
                display: none;
            }
            span{
                width: 30px;
                height: 3px;
                background-color: #ecf0f1;
                display: block;
                margin: 6px auto;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

        }
        .mobile-nav.open{
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-transition-delay: 0.6s;
            -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            span{
                &:nth-child(2){
                    width: 0;
                }
                &:nth-child(1),
                &:nth-child(3){
                    -webkit-transition-delay: 0.3s;
                    -o-transition-delay: 0.3s;
                    transition-delay: 0.3s;
                }
                &:nth-child(1){
                    -webkit-transform: translateY(13px);
                    -ms-transform: translateY(13px);
                    -o-transform: translateY(13px);
                    transform: translateY(13px);
                    margin: 13px auto;
                }
                &:nth-child(3){
                    -webkit-transform: translateY(-13px) rotate(90deg);
                    -ms-transform: translateY(-13px) rotate(90deg);
                    -o-transform: translateY(-13px) rotate(90deg);
                    transform: translateY(-13px) rotate(90deg);
                }
            }
        }
        .top-search{
            margin-left: 60.5px;
            display: inline-flex;
            margin-top: 5px;
            position: relative;
            cursor: pointer;
            @media(max-width:$tablet-sm){
                margin-left: 20px;
            }
            @media(max-width:$mobile-lg){
                vertical-align: super;
            }
            
        }
    }
    
    ul.top-nav{
        display: inline-flex;
        width: 100%;

        -webkit-transition: all 0.5s ease;
        -moz-transition: position 10s;
        -ms-transition: position 10s;
        -o-transition: position 10s;
        transition: all 0.5s ease;
        // justify-content: space-between;
        li{
            float: left;
            color: #fff;
            text-transform: uppercase;
            line-height: 120px;
            a{
                color:#fff;
                width: 100%;
                height: 100%;
                display: inline-block;
                font-family: $secondary-font-family;
                font-weight: 500;
                font-size: 13px;
                letter-spacing: 2px;
            }
        }
    }
    ul.nav-left{
        position: relative;        
        justify-content: flex-end;
        padding-right: 60px;
        li{
            padding-left: 52px;
        }
        &::before{
            position: absolute;
            content: '';
            display: inline-block;
            width: 60px;
            height: 2px;
            background-color: #C9A34B;
            top: 60px;
            left: 0;

        }
    }
    ul.nav-right{
        position: relative;
        justify-content: flex-start;
        padding-left: 60px;
        li{
            text-align: right;
            padding-right: 52px;
        }
        &::after{
            position: absolute;
            content: '';
            display: inline-block;
            width: 60px;
            height: 2px;
            background-color: #C9A34B;
            top: 60px;
            right: 0;

        }
    }
    &.bg_dark{
        background-color: #272726;

    }
}
.fix-nav{
    background:#84754e;
    animation: smoothScroll 1s forwards;
    position: fixed;
    .sticky-head{
        padding: 10px 0;
        .logo{
            width: 140px;
        }
        img {
            height: 50px;
            object-fit: contain;
        }
        .top-nav{
            ul{
                li{
                    a{
                        color: #fff;
                        &:hover{
                            color: #000;
                        }
                    }
                    &.active_link{
                        a{
                            color: #000;    
                            &::after{
                                background-color:#000;
                            }   
                        }
                    }  
                }
            }
            .top-search{
                svg{
                    g{
                        path{
                            stroke:#fff;
                        }
                    }
                }
            }
        }
    
    }
  
}

header.fix-nav {
    .top-search-box {
        .top-search-icon {
            height: 40px;
            font-size: 20px;
        }
    }
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}