section.centered-banner {
    h1::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 120px;
        height: 1px;
        background-color: #A9986A;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
    }
}
::-webkit-scrollbar:horizontal{
    height: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
.page-inner-nav {
    padding: 30px 0px;
    background-color: #eee4cd;
    position: absolute;
    bottom: 0;
    z-index: 11;
    width: 100%;
    @media (max-width: 1199px) {
        overflow-x: hidden;
        margin-left: auto;
    }
    ul {
        display: flex;
        justify-content: center;
        @media (max-width: 1199px) {
            justify-content: space-between;
            margin-left: -15px;
            overflow-x: scroll;
        }
        li {
            padding-left: 15px;
            padding-right: 15px;
            a {
                font-size: 15px;
                line-height: 23px;
                font-weight: 500;
                color: #84754E;
                width: max-content;
                display: block;
                &.active {
                    color: #272726;
                    font-weight: 600;    
                }
                &:hover {
                    color: #272726;
                }
            }
        }
    }
}

//banner
.centered-banner {
    overflow: hidden;
    h1 {
        font-size: 40px !important;
        line-height: 53px;
        text-align: center;
        max-width: 100% !important;
    }
    .banner-cnt {
        .container {
            height: 100%;
            .banner-text {
                padding-bottom: 0;
                .banner-text-inner {
                    vertical-align: middle;
                }
            }
        }
    }
    .banner-img {
        picture {
            img {
                object-position: bottom;
                object-fit: cover;
                padding-bottom: 80px;
            }
        }
    }
}
.centered-banner, .centered-banner .banner-img picture img {
    @media (min-width: 1400px) {
        height: 600px;
    }
    @media (max-width: 1399px) and (min-width: 992px) {
        height: 570px;
    }
    @media (max-width: 991px) and (min-width: 768px) {
        height: 500px;
    }
    @media (max-width: 767px) {
        height: 500px; 
    }
}
//banner end

section.group-profile {
    padding: 120px 0;
}
section.group-profile p {
    line-height: 28px;
}
section.group-profile p:not(:last-child) {
    margin-bottom: 28px;
}
section.group-profile .buttin-defult {
    padding-left: 20px;
    padding-right: 20px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 35px;
}
section.commitment .project-box .project-position {
    margin-bottom: 0;
    margin-top: 20px;
    color: #000;
}
section.commitment .service.owl-carousel .owl-dots {
    display: none;
}
section.career .careeer-bg .career-content .section-hd {
    margin-bottom: 15px;
    @media (max-width:1200px) {
        font-size: 28px;
    }
}
section.investment-content .future-content .container .section-sub {
    color: #A9986A;
}
section.investment-content .future-content .container .section-hd::after {
    background-color: #A9986A;
}
section.investment-content .future-content .container .section-hd {
    color: #000000;
}
section.news .buttin-defult {
    margin-left: auto;
    margin-right: auto;  
    margin-top: 65px;
}
section.about-content {
    padding: 120px 0;

    h4{
        color: #414240;
        font-size: 20px;
        line-height: 28px;
        margin-bottom:10px;
        font-family: "poppins", sans-serif;

    }
    .content_feature_image{
        max-width: 360px;
        height: 245px;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    @media (max-width:990px) {
        max-width: 100%;
        margin-bottom: 20px;
    }
    }
}
section.about-content h2 {
    color: #756A4B;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 28px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 120px;
        height: 2px;
        display: block;
        top: calc(100% + 17px);
        left: 0;
        z-index: 1;
        background-color:#A9986A ;
    }
    &:not(:only-child){
        &::after{
            display: none;
        }

    }
    @media (max-width:570px) {
        font-size: 30px;
        line-height: 40px;
    }
}
section.about-content .col-lg-5 h2{
    &::after{
        display: none;
    }
}
section.about-content p {
    color: #414240;
    line-height: 28px;
    margin-bottom: 28px;
}
section.about-content p:last-child {
    margin-bottom: 0px;
}
section.breadcrumb {
    padding: 30px 0px 15px;
    @media (max-width: 767px) {
        overflow-x: scroll;
    }
}
.bg_peach{
    background-color: #f7f4ee !important;
}
section.breadcrumb ul {
    display: flex;
}
section.breadcrumb {
    ul {
        li {
            font-size: 13px;
            line-height: 20px;
            color: #6D6E6C;
            padding-left: 18px;
            padding-right: 18px;
            position: relative;
            font-weight: 500;
            white-space: nowrap; 
            a {
                color: #6D6E6C;
                font-weight: 500;
            }
        }
    }
}
section.breadcrumb ul li:first-child {
    padding-left: 0px;
}
section.breadcrumb ul li:after {
    position: absolute;
    content: '';
    width: 12px;
    height: 1px;
    background-color: #a9986a;
    top: 10px;
    right: -8px;
}
section.breadcrumb ul li:last-child::after {
    content: none;
}
section.related-links .section-hd {
    display: block;
    text-align: center;
    margin-top: 0px;
}
section.related-links {
    padding: 120px 0;
}
section.fundamentals {
    background-color: #bfaa7921;
    padding: 120px 0px;    
}
section.fundamentals p,
section.fundamentals li {
    font-size: 16px;
    line-height: 28px;
    color: #414240;
}
section.fundamentals p {
    margin-bottom: 28px;
}
section.fundamentals p:last-child {
    margin-bottom: 0;
}
section.fundamentals li {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #D8D8D8;
}
section.fundamentals li:last-child {
    border-bottom: 0;
}
section.fundamentals ul {
    margin-bottom: 45px;
    margin-top: 45px;
}
section.fundamentals ul li:before {
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    margin-right: 35px;
    background: url('../../uploads/images/right-arrow-long.svg') no-repeat left center;
    background-size: contain;
    content: '';
    float: left;
    position: relative;
    top: -2px;
}

section.related-links {
    .row > div .future-bg{
        overflow: hidden;
        .likes_counter{
            width: 68px;
            height: 68px;
            border-radius: 50%;
            position: absolute;
            top: 100%;
            margin-top: -34px;
            z-index: 1;
            right: 30px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: .6);
            .icon{
              width: 20px;
              height: 20px;
              display: block;
              margin-bottom: 7px;
              img{
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
              span{
                font-size: 14px;
                text-align: center;
                color: #000;
                font-weight: 400;
                line-height: 18px;
    
              }
            }
          }
    }
    .row > div img {

        transition: .5s all ease-in-out;
    }
    .row > div:hover {
        img{
            transform: scale(1.1);
        }
    }
    .related-links-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        .container, .links-container {
            height: 100%;
            position: relative;
            z-index: 500;
        }
        .banner-text {
            height: 100%;
            display: table;
            width: 100%;
            .banner-text-inner {
                vertical-align: middle;
                display: table-cell;
                text-align: center;
                padding: 20px;
            }
        }
        h2 {
            font-size: 30px;
            line-height: 40px;
            color: #fff;
        }
        p {
            font-size: 14px;
            line-height: 26px;
            color: #fff;
        }
    }
    .row {
        padding-top: 80px;
    }
}

@media (min-width:992px) {
    .group-profile-content {
        width: 770px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    section.shaping-future.investment-content .future-content .future-content-inner .section-content {
        width: 60%;
    }
}
@media (min-width:768px) {
    section.career .careeer-bg .half-width-content {
        max-width: 50%;
    }
}
@media (max-width:991px) and (min-width: 768px) {
    section.related-links .row {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }    
}
@media (max-width:768px) {
    section.related-links .row .col-sm-12 {
        margin-bottom: 15px;
    }
    section.page-inner-nav ul {
        justify-content: flex-start;
    }
    section.page-inner-nav {
        overflow-x: scroll;
        margin-left: -15px;
    }
    section.about-content,
    section.fundamentals,
    section.related-links,
    section.news-content,
    section.group-profile {
        padding: 60px 0 !important;
    }
    section.fundamentals ul {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    section.fundamentals p {
        margin-bottom: 15px;
    }
    section.related-links .row {
        padding-top: 60px;
    }
}
@media (min-width:1600px) {
    body.single-news .top-banner .banner-img {
        height: 87vh;
    }
}
@media (max-width:1599px) and (min-width:992px) {
    body.single-news .top-banner .banner-img {
        height: 78vh;
    }
}

section.news-content {
    padding: 120px 0;
    h2 {
        color: #000;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 30px;
     
    }
    .group-profile-content {
        h2:last-child {
            margin-bottom: 0;
        }
    }
    p {
        color: #414240;
        line-height: 28px;
        margin-bottom: 28px;
    }
    p:last-child {
        margin-bottom: 0;
    }
    h4 {
        color: #A9986A;
        font-size: 14px;
        line-height: 21px;
        font-family: "poppins", sans-serif;
    }
    .featured-img {
        margin-top: 60px;
        margin-bottom: 120px;
        position: relative;
        .likes_counter{
            width: 68px;
            height: 68px;
            border-radius: 50%;
            position: absolute;
            top: 100%;
            margin-top: -34px;
            z-index: 1;
            right: 30px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: .6);
            .icon{
              width: 20px;
              height: 20px;
              display: block;
              margin-bottom: 7px;
              img{
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
              span{
                font-size: 14px;
                text-align: center;
                color: #000;
                font-weight: 400;
                line-height: 18px;
    
              }
            }
          }
        @media (max-width:768px) {
            margin-top: 30px;
            margin-bottom: 60px;            
        }
    }
}

section.back-to-news {
    .buttin-defult {
        background: none;
        border: 1px solid #84754E;
        color: #84754E;
        line-height: 45px;
        text-align: center;
        margin: auto;
    }
    svg {
        margin-right: 15px;
        position: relative;
        top: 2px;
    }
}
section.featured.featured-gallery-news {
    background-color: #bfaa7921;
    .gallery-item {
        .gallery_content {
            padding-top: 20px;
            // padding-bottom: 20px;
            p {
                font-size: 16px;
                line-height: 28px;
                color: #414240;
            }
        }
    }
    .featured-gallery {
        .featured-galery-box {
            .gallery-item {
                max-height: 100%;
            }
            .owl-dots {
                display: none;
            }
        }
    }
}

section.bg-white {
    background-color: #fff !important;
    .half-width-content {
        background-color: #fff !important;
    }
}

.common_contact_block {
    .section-hd + .group-profile-content {
        margin-top: 50px;
    }
    .section-hd {
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .section-sub {
        display: block;
        text-align: center;
        font-weight: 500;
    }
}

.scroll-down-animation {
    cursor: pointer;
    margin: 40px auto;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    transition: 0.5s;
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 18px;
    height: 18px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    &:hover {
        border-bottom: 2px solid #000;
        border-right: 2px solid #000; 
    }
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation:    fade_move_down 2s ease-in-out infinite;
    animation:         fade_move_down 2s ease-in-out infinite;
}
@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


section.news{
    .prev.all-prev , .next.all-next{
        // top: 52%;
    }

}