.career-details {
    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    @media (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    h2 {
        color: #756A4B;
        font-size: 40px;
        line-height: 53px;
        position: relative;
    }
    h5 {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        color: #A9986A;
        font-family: poppins;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    p {
        color: #414240;
        line-height: 28px;
        margin-bottom: 28px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .detail {
        display: flex;
        padding: 10px 0;
        .image {
            width: 24px;
            height: 24px;
            display: block;
            margin-right: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.two-column-featured-gallery {
    .featured-gallery {
        width: 100% !important;
    }
}