.programs_row{
  margin-top: 75px;
  // &>div:nth-child(odd){
  //   padding-right: 30px;
  //   @media (max-width:1200px) {
  //   padding-right: 15px;
  //   }
  // }
  // &>div:nth-child(even){
  //   padding-left: 30px;
  //   @media (max-width:1200px) {
  //     padding-left: 15px;
  //     }
  // }
  // &>div:nth-child(1n){
  //   margin-top: 60px;
  //   @media (max-width:570px) {
  //   margin-top: 0px;
  //   }
  // }
  // &>div:first-child ,&>div:nth-child(2) {
  //   margin-top: 0px;
  // }
  .project-box{
    display: inline-block;
    margin-bottom: 0;
    .project-image{
        position: relative;
        transition: .5s all ease-in-out;

      .logo_image{
        position: absolute;
        inset: 0;
        z-index: 10;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transition: .5s all ease-in-out;
        img{
          width: 250px;
          height: 250px;
          object-fit: contain;
          transform: scale(1) !important;
        }
      }
      &:hover{
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: .2);
        .logo_image{
            @media (min-width:1200px) {
              opacity: 1;
              visibility: visible;
            }
        }
      }
    }
    .project-content{
        display: inline-block;
        padding: 30px;
        // @media(max-width:$mobile-lg){
        //     padding: 25px 0 0 25px;
        // }
        // @media(max-width:475px){
        //   padding: 20px 0 0 0;
        // }    
        h3{
            font-size: 30px;
            font-family: $primery-font-family;
            color: $secondary-color;
            @media(max-width:990px){
              font-size: 20px;
            }
            @media(max-width:475px){
              font-size: 20px;
            }
        }
        p.section-content , p{
            margin-top: 12px;
        }
    }
    &:nth-last-child(1) {
      .project-content {
        padding-bottom: 0;
      }
    }
    &:nth-last-child(2) {
      .project-content{
        @media(min-width:768px) {
          padding-bottom: 0;
        }
      }
    }
  }
}
.three_column_programs_grid{
  margin: 0 -20px;
  .project-box{
    padding: 0px 20px;
    @media(min-width:768px) {
      margin-bottom: 60px;
    }
    @media(max-width:767px) {
      margin-bottom: 30px;
    }
    .project-image{
      margin-bottom: 30px;
      height: 245px;
      width: 100%;
      @media (max-width:1200px) {
      height: 190px;
      }
      @media (max-width:990px) {
        height: 145px;
        }
        @media (max-width:570px) {
          height: 245px;
          }
      img{
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 1005;
      }
    }
    .project-content{
      h3{
        font-size: 30px;
        line-height: 40px;
        font-weight: 500;
        font-family: $primery-font-family;
        color: $secondary-color;
        @media (max-width:1200px) {
          font-size: 26px;
          line-height: 32px;
          }
        @media(max-width:990px){
          font-size: 20px;
        }
        @media(max-width:475px){
          font-size: 20px;
        }
    }
    .section-content , p{
      font-size: 16px;
      line-height: 28px;
      color: #000;
      font-weight: 400;
      margin-bottom: 25px;
      @media (max-width:1200px) {
        font-size: 15px;
        line-height: 22px;
        }
        @media(max-width:990px){
          font-size: 14px;
          line-height: 22px;
      margin-bottom: 15px;
        }
    }

    }
  }
  @media (min-width:768px) {
    .project-box:nth-last-child(3),
    .project-box:nth-last-child(2),
    .project-box:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  @media(max-width:767px) {
    .project-box:last-child {
      margin-bottom: 0;
    }
  }
}
section.commitment{
  .buttin-defult{
    padding-left: 60px;
    padding-right: 60px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    &.btn-prev{
    margin-right: 30px;
    @media (max-width:570px) {
    margin-right: auto;
    }
    }
    &.btn-next{
    margin-left: 30px;
    @media (max-width:570px) {
      margin-left: auto;
      }
    }
  }
}
.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-container {  
  position: absolute;  
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;  
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
section.bg_white{
  background-color: #fff;
}
.visible[data-aos='fade-right'] , .visible[data-aos='fade-up'] , .visible[data-aos='fade-left'] , .visible[data-aos='fade-down']{
  opacity: 1;
  transform: translateZ(0);
}

