section.csr-details-desc {
    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    @media (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    p {
        line-height: 28px;
        margin-bottom: 28px;
        color: #414240;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
section.csr-details-content {
    padding-top: 0;
    @media (min-width: 768px) {
        padding-bottom: 120px;
    }
    @media (max-width: 767px) {
        padding-bottom: 60px;
    }
    .group-profile-content {
        h2 {
            @media (min-width: 768px) {
                font-size: 40px;
                line-height: 53px;
            }
            @media (max-width: 767px) {
                font-size: 35px;
                line-height: 45px;
            }
            color: #000000;
            text-align: center;
            margin-bottom: 80px;
            @media (max-width: 767px) {
                margin-bottom: 60px;
                // font-size: 30px;
                // line-height: 40px;
            }
            position: relative;
        }
        h2::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 120px;
            height: 1px;
            background-color: #A9986A;
            bottom: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
        p {
            line-height: 28px;
            color: #414240;
            &:not(:last-child) {
                margin-bottom: 28px;
            }
        }
    }
}
section.featured-gallery-news + section.csr-details-content {
    @media (min-width: 768px) {
        margin-top: 120px;
    }
    @media (max-width: 767px) {
        margin-top: 60px;
    }    
}
section.csr-details-content + section.group-profile {
    padding-top: 0;
}
.video-holder {
    .plyr--full-ui.plyr--video .plyr__control--overlaid {
        background: 0 0;
        border: 3px solid #fff;
    }
    .plyr--paused .plyr__controls {
        opacity: 0;
    }
    .plyr--paused .plyr__poster {
        opacity: 1;
        display: block !important;
    }
}

.back-to-csr {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    @media (max-width: 767px) {

    }
    button.buttin-defult , .buttin-defult{
        background: none;
        border: 1px solid #84754E;
        color: #84754E;
        line-height: 45px;
        text-align: center;
        width: 300px;
        @media (min-width: 768px) {
            margin: 0px 20px;
        }
        @media (max-width: 767px) {
            margin: 20px auto;
        }
    }
    svg {
        position: relative;
        top: 2px;       
    }
    .btn-prev svg {
        margin-right: 15px;
    }
    .btn-next svg {
        margin-left: 15px;
    }
}

.back-to-csr {
    .buttin-defult {
        svg {
            path {
                transition: all .5s ease-in-out;
            }
        }
        &:hover {
            background-color: #84754E;
            color: #fff;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}

.modal-backdrop.show {
    opacity: 0.7;
}
.featured {
    .modal {
        .modal-dialog {
            max-width: 800px;
        }
        button.close {
            position: absolute;
            z-index: 9;
            right: 15px;
            top: 15px;
            background-color: #eee4cd;
            border: 0;
            font-size: 30px;
            cursor: pointer;
            border-radius: 50%;
            line-height: 30px;
            opacity: 0.5;
            transition: 0.5s;
            &:hover {
                opacity: 1;
            }
        }
        .modal-content {
            border: none;
            background-color: transparent;
        }
    }
}
.gallery-img {
    position: relative;
    .play_button_div{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.30);
        }
        .play_button {
            background-color: transparent;
            border: 3px solid #fff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 1;
            svg {
                fill: #fff;
                display: block;
                height: 18px;
                pointer-events: none;
                width: 18px;
            }
        }
    }
}