// owl carousal

.sticky-buttons {
  display: none;
  opacity: 0.5;
  position: fixed;
  right: 0;
  bottom: 72px;
  background: #fff;
  z-index: 100;
  width: 52px;
  transition: 0.5s;
  &:hover {
    opacity: 1;
  }
  span {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    &:first-of-type {
      border-bottom: 1px solid rgba(191, 170, 121, 0.5);
    }
    &:hover {
      background: #eee4cd;
    }
  }
}
.top-banner {
  position: relative;
  .custom-owl-arow-normal {
    top: 40%;
    @media (max-width: 767px) {
      display: none;
    }
    svg {
      path {
        fill: #fff;
      }
      &:hover {
        path {
          fill: #000;
        }
      }
    }
  }
  .banner_slider.owl-carousel {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    overflow: hidden;
    height: 100vh;
    min-height: auto;
  }
  .video-holder {
    height: 100%;
    .video_desktop {
      display: block;
      @media (max-width: $mobile-lg) {
        display: none;
      }
    }
    .video_mobile {
      display: none;
      @media (max-width: $mobile-lg) {
        display: block;
        .plyr--video .plyr__video-embed{
            min-width: 100%;
            transform: translate(-50%,-50%) scale(1.1);
        }
      }
    }
    @media (max-width: 767px) {
      .plyr--video {
        height: 100%;
        .plyr__video-embed {
          height: 100%;
          min-width: 177.77vh;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .banner-img {
    position: relative;
    height: 100vh;
    min-height: auto;
    width: 100%;
    overflow: hidden;
    background: #fff;
    @media (max-width: $tablet-sm) {
      height: 100vh;
      min-height: 100%;
    }
    picture {
      img {
        width: 100%;
        position: absolute;
        // top: -77px;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(rgba(0, 0, 0, 0.4) 5%, rgba(6, 53, 76, 0));
      z-index: 1;
      display: inline-block;
      width: 100%;
      height: 100%;
      bottom: 0;
    }
  }
  .banner-cnt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    // pointer-events: none;
    @media (max-width: 767px) {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
    }
    .container {
      height: calc(100% - 70px);
      position: relative;
      z-index: 500;
      .banner-text {
        height: 100%;
        display: table;
        width: 100%;
        padding-bottom: 80px;
        @media (max-width: 767px) {
          padding-bottom: 180px;
        }
        .banner-text-inner {
          display: table-cell;
          vertical-align: bottom;
          // transform: translateY(40px);
          h1,
          span,
          a {
            opacity: 0;
          }
          h1 {
            font-size: $h1-size;
            color: #fff;
            font-family: $primery-font-family;
            font-weight: 500;
            max-width: 901px;
            @media (max-width: $tablet-sm) {
              font-size: $h2-size;
              max-width: 100%;
              width: 100%;
            }
            @media (max-width: $mobile-lg) {
              font-size: 45px;
            }
            @media (max-width: 475px) {
              font-size: 40px;
            }
          }
          .banner-subtxt {
            color: #fff;
            font-size: 18px;
            line-height: 28px;
            width: auto;
            display: block;
            font-family: $secondary-font-family;
            font-weight: 400;
            margin-top: 15px;
            max-width: 901px;
            @media (max-width: $tablet-sm) {
              max-width: 100%;
              width: 100%;
            }
            @media (max-width: 475px) {
              font-size: 16px;
              line-height: 24px;
            }
          }
          .banner-btn {
            margin-top: 11px;
            letter-spacing: 3px;
            font-family: $secondary-font-family;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .inner_banner_align {
          .banner-subtxt {
            margin: 40px auto 20px;
            text-align: center;
          }
        }
      }
      .scroll-down {
        position: absolute;
        right: 0;
        bottom: 0;
        .arrow {
          width: 1px;
          height: 75px;
          background: $primery-color;
          position: relative;
          display: block;
          margin: 0 auto;
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
          &::before {
            content: "";
            width: 20px;
            height: 1px;
            background: $primery-color;
            display: inline-block;
            position: absolute;
            bottom: 8px;
            transform: rotate(45deg);
            left: -17px;
          }
          &::after {
            content: "";
            width: 20px;
            height: 1px;
            background: $primery-color;
            display: inline-block;
            position: absolute;
            bottom: 8px;
            transform: rotate(-45deg);
            left: -2px;
          }
        }
        .scroll-texts {
          color: #97855f;
          font-size: 12px;
        }
      }
    }
  }
  .baner-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    @media (min-width: 768px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      .banner-bottom-nav {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: $tablet-sm) and (min-width: $mobile-sm) {
          justify-content: center;
        }
        @media (max-width: 767px) {
          display: grid;
          justify-content: initial;
        }
        span {
          @media (max-width: 767px) {
            width: 100%;
            height: 47px;
            line-height: 47px;
          }
          a {
            color: $primary;
            &::before {
              content: "";
              position: absolute;
              width: 23px;
              height: 23px;
              display: inline-block;
              border: 1px solid #84754e;
              border-radius: 50%;
              right: -32px;
              top: -3px;
              background-color: #fff;
              transition: 0.4s;
              @media (max-width: 767px) {
                right: 0px;
                top: 12px;
              }
            }
            &:hover {
              color: #000;
              &::before {
                background-color: #eee4cd;
              }
            }
          }
          &:not(:last-child) {
            margin-right: 90px;
          }
          &:last-child {
            margin-right: 30px;
          }
          font-size: 14px;
          font-family: $secondary-font-family;
          color: $primary;
          font-weight: 500;
          position: relative;
          letter-spacing: 1.1px;
          &:not(:last-child)::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 40px;
            background: rgba(191, 170, 121, 0.5);
            top: -11px;
            right: -60px;
            @media (max-width: 767px) {
              width: 100%;
              height: 1px;
              right: auto;
              left: 0;
              bottom: 0;
              top: auto;
            }
          }
          position: relative;
          &::before {
            content: url("../../uploads/home/arow.svg");
            transform: scale(0.8);
            position: absolute;
            width: 6px;
            height: 10px;
            display: inline-block;
            right: -20px;
            top: -1px;
            z-index: 2;
            @media (max-width: 767px) {
              right: 12px;
              top: 4px;
            }
          }
        }
      }
    }
  }
}

section.who-we-are {
  background: #f7f4ee;
  padding: 122px 0 140px 0;
  @media (max-width: $mobile-lg) {
    padding: 60px 0 70px 0;
  }
  .section-sub {
    display: block;
    text-align: center;
    letter-spacing: 1px;
  }
  .section-hd {
    display: block;
    text-align: center;
    margin-top: 16px;
    position: relative;
    margin-bottom: 83px;
  }
  .dream-box {
    background: rgba(201, 163, 75, 0.2);
    width: 100%;
    height: 100%;
    padding: 40px;
    @media (max-width: $tablet-lg) {
      margin-bottom: 30px;
      height: auto;
    }
    p {
      font-size: 26px;
      font-weight: 400;
      font-family: $primery-font-family;
      line-height: 34px;
      @media (max-width: $mobile-lg) {
        font-size: 21px;
        line-height: 28px;
      }
    }
    .more {
      font-weight: 500;
      color: $primary;
      &:hover {
        color: #000;
      }
    }
    .slider {
      margin-top: 8px;
    }
  }
  .portfolio-img {
    display: block;
    width: 100%;
    // height: 365px;
    position: relative;
  }
  .portfolio-count {
    position: absolute;
    bottom: 40px;
    right: 40px;
    .count {
      font-size: 90px;
      font-family: $primery-font-family;
      color: #fff;
      display: block;
      text-align: right;
      line-height: 1.2;
      @media (max-width: $tablet-sm) {
        font-size: 60px;
        line-height: 65px;
      }
      @media (max-width: $mobile-lg) {
        font-size: 45px;
        line-height: 55px;
      }
    }
    .count-text {
      color: #fff;
      font-size: $h5-size;
      font-family: $secondary-font-family;
      display: block;
      text-align: right;
      @media (max-width: $mobile-lg) {
        font-size: 13px;
      }
    }
  }
}
section.shaping-future {
  position: relative;
  .future-bg {
    position: relative;
    height: 100vh;
    min-height: 830px;
    overflow: hidden;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .likes_counter {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      margin-top: -34px;
      z-index: 1;
      right: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.6);
      .icon {
        width: 20px;
        height: 20px;
        display: block;
        margin-bottom: 7px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        span {
          font-size: 14px;
          text-align: center;
          color: #000;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
    @media (max-width: $desktop-lg) {
      min-height: 100vh;
    }
    @media (max-width: $tablet-sm) {
      height: 70vh;
      min-height: 700px;
    }
    @media (max-width: $mobile-lg) {
      height: 60vh;
      min-height: 500px;
    }
    picture {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .future-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 120px 0 120px 0;
    z-index: 3;
    @media (max-width: $tablet-sm) {
      padding: 60px 0 54px 0;
    }
    .container {
      position: relative;
      height: 100%;
      .section-sub {
        display: block;
        text-align: center;
        color: #fff;
      }
      .section-hd {
        display: block;
        text-align: center;
        color: #fff;
        margin-top: 15px;
        &::after {
          background: #fff;
        }
      }
      .future-content-inner {
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        .section-content {
          color: #fff;
          text-align: center;
          width: 55%;
          margin: 0 auto;
          @media (max-width: $tablet-sm) {
            width: 85%;
          }
        }
        .buttin-defult {
          margin: 45px auto 0;
        }
      }
    }
  }
  .right-arow {
    position: absolute;
    right: 55px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
  }
  .left-arow {
    position: absolute;
    left: 55px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
  }
}
section.expertise {
  position: relative;
  padding: 120px 0;
  background: #fff;
  overflow: hidden;
  @media (max-width: $mobile-lg) {
    padding: 60px 0;
  }
  .container {
    position: relative;
  }
  .section-hd {
    display: inline-block;
    margin-top: 15px;
    &::after {
      left: 61px;
    }
  }
  .title {
    display: inline-block;
  }
  .gallery-nav {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 36px;
    color: $primery-color;
    @media (max-width: 570px) {
      top: 10px;
      right: 15px;
    }
    .img-arrow {
      display: inline-block;
      cursor: pointer;
    }
    p {
      display: inline-block;
      color: $primary;
      font-size: 16px;
      font-family: $primery-font-family;
      font-style: italic;
      font-weight: 500;
      margin: 0 13px;
    }
  }
  .featured-gallery {
    position: relative;
    width: 100vw;
    display: block;
    margin-top: 73px;
    // overflow: hidden;
    @media (max-width: $mobile-lg) {
      width: 100%;
    }

    .featured-galery-box {
      width: 100%;
      // height: 570px;
      display: inline-block;
      overflow: hidden;
      // margin-left: -66px;
      .expertise {
        display: inline-block;
        max-width: 963px;
        width: 100%;
        @media (max-width: $desktop-sm) {
          max-width: 875px;
        }
        @media (max-width: $tablet-lg) {
          max-width: 815px;
        }
        @media (max-width: $tablet-sm) {
          max-width: 620px;
        }
        @media (max-width: $mobile-lg) {
          max-width: 510px;
        }
        .logos {
          width: 100%;
          height: 100%;
          margin-top: 76px;
          margin-left: auto;
          margin-right: auto;
          //display: inline-flex;
          //justify-content: space-between;
          .slick-slide {
            margin: 0 10px;
          }
          .slick-list {
            margin: 0px -10px 0px -10px;
          }
          @media (max-width: $mobile-sm) {
            margin-top: 40px;
          }
          .logo-item {
            width: 100%;
            height: 130px;
            border: 1px solid rgba(191, 170, 121, 0.3);
            align-items: center;
            display: inline-flex;
            justify-content: center;
            //margin-right: 20px;
            &:last-of-type {
              margin-right: 0;
            }
            @media (max-width: $mobile-lg) {
              padding: 0 10px;
              height: 80px;
            }
            img {
              max-width: max-content;
            }
          }
        }
      }
      .gallery-item {
        width: 100%;
        max-height: 567px;
        position: relative;
        overflow: hidden;

        .gallery-img {
          position: relative;
          @media (min-width: 768px) {
            max-height: initial;
          }
          @media (max-width: $tablet-sm) {
            max-height: 300px;
          }
          @media (max-width: 475px) {
            max-height: 260px;
          }
          @media (max-width: 475px) {
            max-height: 230px;
          }
          @media (max-width: 375px) {
            max-height: 200px;
          }
          @media (max-width: 375px) {
            max-height: 170px;
          }
        }
        .gallery-content {
          width: 100%;
          background: #fff;
          padding: 60px 0 0px 60px;
          position: absolute;
          bottom: 0px;
          right: 0px;
          z-index: 20;
          max-width: 464px;
          @media (max-width: $mobile-lg) {
            position: relative;
            max-width: 100%;
            width: 100%;
            padding: 30px 30px 0 30px;
          }
          @media (max-width: 475px) {
            padding: 20px 0 0 0;
          }
          .content-hd {
            font-size: 40px;
            font-family: $primery-font-family;
            color: #000;
            font-weight: 500;
            @media (max-width: $tablet-sm) {
              font-size: 35px;
            }
          }
          .section-content,
          p {
            margin-top: 14px;
          }
          .expertise-btn {
            margin-top: 34px;
            .more {
              //margin-top: 34px;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
section.solution {
  position: relative;
  .solution-bg {
    .owl-dots {
      display: none;
    }
  }
  .future-bg {
    position: relative;
    height: 100vh;
    min-height: auto;
    overflow: hidden;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .likes_counter {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      margin-top: -34px;
      z-index: 1;
      right: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.6);
      .icon {
        width: 20px;
        height: 20px;
        display: block;
        margin-bottom: 7px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        span {
          font-size: 14px;
          text-align: center;
          color: #000;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
    @media (max-width: $tablet-sm) {
      height: 75vh;
      min-height: 700px;
    }
    @media (max-width: $mobile-lg) {
      height: 60vh;
      min-height: 500px;
    }
    picture {
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
  .future-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 127px 0 50px 0;
    z-index: 10;
    @media (max-width: $tablet-sm) {
      padding: 60px 0 54px 0;
    }
    .container {
      position: relative;
      height: 100%;
      .section-sub {
        display: block;
        text-align: center;
        color: #fff;
      }
      .section-hd {
        display: block;
        text-align: center;
        color: #fff;
        margin-top: 15px;
        &::after {
          background: #fff;
        }
      }
      .future-content-inner {
        display: inline-block;
        position: absolute;
        bottom: 0;
        @media (max-width: $mobile-sm) {
          left: 0;
        }
        h2 {
          text-transform: none;
          margin-bottom: 14px;
          &::after {
            content: none;
          }
        }
        .section-content,
        p {
          color: #fff;
          text-align: center;
          width: 55%;
          margin: 0 auto;
          @media (max-width: $tablet-sm) {
            width: 85%;
          }
          @media (max-width: $mobile-lg) {
            width: 100%;
          }
        }
        .solution-btns {
          display: block;
          text-align: center;
          margin-top: 45px;
          .buttin-defult {
            display: inline-block;
            @media (max-width: 475px) {
              display: block;
              margin: 0 auto;
            }
            &:last-of-type {
              // background: none;
              // border: 1px solid $primary;
              // color: $primary;
              // margin-left: 41px;
              // &:hover{
              //     //background-color: $primary;
              //     color: #fff;
              //     border-color: #fff;
              // }
              @media (max-width: 475px) {
                margin: 25px auto 0 auto;
              }
            }
            & + .buttin-defult {
              margin-left: 41px;
              @media (max-width: 475px) {
                margin: 25px auto 0 auto;
              }
            }
          }
        }
      }
    }
  }
  .right-arow {
    position: absolute;
    right: 55px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    @media (max-width: $mobile-sm) {
      display: none;
    }
  }
  .left-arow {
    position: absolute;
    left: 55px;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    @media (max-width: $mobile-sm) {
      display: none;
    }
  }
}

section.tailord {
  padding: 120px 0 80px 0;
  background: #fff;
  @media (max-width: $mobile-lg) {
    padding: 60px 0 60px 0;
  }
  .section-sub {
    display: block;
    text-align: center;
    font-weight: 500;
  }
  .section-hd {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  .about-service {
    width: 100%;
    height: auto;
    display: block;
    .tab-section {
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 59px;
      ul.tab-list {
        //height: 130px;
        overflow: hidden;
        -moz-transition: height 1s ease;
        -webkit-transition: height 1s ease;
        -o-transition: height 1s ease;
        transition: height 1s ease;
        // @media(max-width:$tablet-sm){
        //   height: auto;
        // }
        li {
          width: auto;
          height: 46px;
          padding: 14px 29px;
          border: 1px solid $primery-color;
          // line-height: 46px;
          font-family: $secondary-font-family;
          font-size: 13px;
          text-align: center;
          font-weight: 600;
          letter-spacing: 2px;
          color: $primery-color;
          border-radius: 3px;
          display: inline-block;
          margin: 0 10px 20px 0;
          cursor: pointer;
          transition: 0.4s;
          line-height: 18px;
          text-transform: uppercase;
          &:hover,
          &.active {
            background: #92835c;
            color: #fff;
          }
          &.toggle_tab {
            width: 200px;
            .toggle_tab_text {
              position: relative;
              width: 100px;
              &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 10px;
                background-color: #84754e;
                top: 23%;
                right: -25px;
              }
              &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                background-color: #84754e;
                top: 43%;
                right: -29px;
              }
            }
            &:hover {
              .toggle_tab_text {
                &::before,
                &::after {
                  background-color: #fff;
                }
              }
            }
          }
        }
      }

      ul.tab-list.open {
        height: auto;
        -moz-transition: height 1s ease;
        -webkit-transition: height 1s ease;
        -o-transition: height 1s ease;
        transition: height 1s ease;
        .toggle_tab.open {
          .toggle_tab_text {
            &::before {
              background-color: transparent;
            }
          }
        }
      }

      ul.tab-list li:not(.toggle_tab) {
        display: none;
      }
      ul.tab-list li:nth-child(-n + 8),
      ul.tab-list.open li {
        display: inline-block;
      }

      .service-hide {
        display: block;
        width: 100%;
        // @media(max-width:$tablet-sm){
        //   display: none;
        // }
        .show-less {
          display: none;
        }
        .show {
          display: inline-block;
          width: 210px;
          height: 47px;
          padding: 0 32px;
          border: 1px solid $primary;
          border-radius: 3px;
          font-size: $h6-size;
          font-family: $secondary-font-family;
          color: $primary;
          font-weight: 500;
          position: relative;
          line-height: 47px;
          text-align: left;
          cursor: pointer;
          transition: 0.4s;
          &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            background: $primary;
            top: 43%;
            right: 36px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            background: $primary;
            top: 50%;
            right: 32px;
          }
          &:hover {
            background: #92835c;
            color: #fff;
            &.show::after,
            &.show::before {
              background-color: #fff;
            }
          }
        }
        .show.open {
          &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            background: $primary;
            top: 43%;
            right: 36px;
            transform: rotate(90deg);
          }
          .show-more {
            display: none;
          }
          .show-less {
            display: block;
          }
        }
      }
    }
    .tab-content {
      width: 100%;
      height: auto;
      display: inline-block;
      margin-top: 120px;
      @media (max-width: $mobile-lg) {
        margin-top: 60px;
      }
      .row {
        div {
          &:nth-child(odd) {
            .project-box {
              margin-right: 15px;
              @media (max-width: 575px) {
                margin-right: 0;
              }
            }
          }
          &:nth-child(even) {
            .project-box {
              margin-left: 15px;
              @media (max-width: 575px) {
                margin-left: 0;
              }
            }
          }
        }
      }
      .project-box {
        display: inline-block;
        margin-bottom: 80px;
        @media (max-width: $mobile-lg) {
          margin-bottom: 40px;
        }
        .project-image {
          position: relative;
          .subtitle {
            position: absolute;
            display: inline-block;
            top: 30px;
            left: 30px;
            font-size: 14px;
            font-family: $secondary-font-family;
            color: #fff;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;
          }
        }
        .project-content {
          display: inline-block;
          padding: 25px 40px 0 31px;
          @media (max-width: $mobile-lg) {
            padding: 20px;
          }
          @media (max-width: 475px) {
            padding: 20px 0 0 0;
          }
          h3 {
            font-size: 24px;
            font-family: $secondary-font-family;
            color: $secondary-color;
          }
          p.section-content,
          p {
            margin-top: 12px;
          }
          p .more {
            margin-top: 0px;
            padding-left: 5px;
          }
        }
      }
    }
    .item-show {
      margin: 0 auto;
    }
  }
}

section.common_contact {
  background-color: #bea97921;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  .section-hd {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}

.prev {
  position: absolute;
  top: 50%;
  left: -60px;
  cursor: pointer;
  svg {
    width: 15px;
    height: 25px;
  }
  @media (max-width: $desktop-sm) {
    left: -30px;
  }
  @media (max-width: $mobile-lg) {
    left: -20px;
    display: none;
  }
}
.next {
  position: absolute;
  top: 50%;
  right: -50px;
  cursor: pointer;
  @media (max-width: $desktop-sm) {
    right: -30px;
  }
  @media (max-width: $mobile-lg) {
    right: -20px;
    display: none;
  }
}
.all-prev,
.all-next,
.be-next,
.be-prev {
  top: 60%;
  svg {
    height: 20px;
    width: 15px;
  }
}

section.what-we-do {
  padding: 114px 0 120px 0;
  .section-sub {
    display: block;
    text-align: center;
  }
  .section-hd {
    display: block;
    text-align: center;
    margin-top: 16px;
    position: relative;
  }
  .section-content {
    width: 49%;
    display: block;
    text-align: center;
    margin: 40px auto 0;
  }
  .expertise-galery {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 84px;
    .galery-item {
      width: 540px;
      // margin-right: 60px;
      float: left;
      .galery-img {
        display: block;
      }
      .gallery-content {
        display: block;
        margin: 26px 0 0 30px;
        .gallery-hd {
          font-size: 30px;
          font-family: $primery-font-family;
          font-weight: 400;
          color: #333;
        }
        .section-content {
          text-align: left;
          width: auto;
          margin-top: 8px;
          padding-right: 28px;
        }
      }
    }
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 50%;
        left: -80px;
        transform: translateY(50%);
      }
      .owl-next {
        position: absolute;
        top: 50%;
        right: -80px;
        transform: translateY(50%);
      }
    }
  }
}

section.dream {
  position: relative;
  .dream-bg {
    position: relative;
    height: 100vh;
    min-height: 830px;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .dream-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 111px 0 166px 0;
    .section-hd {
      display: block;
      text-align: center;
    }
    .dream-count {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 193px;
      .count-box {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 2px;
        flex-direction: column;
        margin-right: 2px;
        &:last-of-type {
          margin-right: 0;
          .count-num {
            &::after {
              content: none;
            }
          }
        }
        .count-num {
          display: block;
          font-size: $h2-size;
          color: $primery-color;
          font-family: $primery-font-family;
          font-weight: 600;
          line-height: 60px;
          position: relative;
          &::after {
            content: "+";
            position: absolute;
            display: inline-block;
          }
        }
        .count-title {
          display: block;
          font-family: $secondary-font-family;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
    .buttin-defult {
      font-family: $secondary-font-family;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 74px auto 0;
    }
  }
}

section.career {
  padding: 120px 0;
  background: #f7f4ee;
  // height: 100vh;
  @media (max-width: $mobile-lg) {
    padding: 60px 0;
  }
  .careeer-bg {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .career-content {
      position: absolute;
      background: #f6f4ee;
      padding: 60px 0 0 60px;
      bottom: 0px;
      right: 0px;
      z-index: 1;
      //border: 1px solid rgba($color: #707070, $alpha: .2);
      max-width: 464px;
      .section-hd {
        margin-top: 20px;
        margin-bottom: 30px;
      }
      @media (max-width: $tablet-lg) {
        padding: 30px 0 0 30px;
      }
      @media (max-width: $mobile-lg) {
        position: relative;
        max-width: 100%;
      }
      @media (max-width: 475px) {
        padding: 20px 0 0 0;
      }
      .section-hd {
        text-transform: none;
        margin-top: 15px;
        &::after {
          content: none;
        }
      }
    }
  }
}

section.featured {
  position: relative;
  padding: 120px 0;
  background: #fff;
  // overflow: hidden;
  @media (max-width: $mobile-lg) {
    padding: 60px 0;
  }
  .container {
    position: relative;
  }
  .section-hd {
    display: inline-block;
    margin-top: 15px;
    &::after {
      left: 61px;
    }
  }
  .title {
    display: inline-block;
  }
  .gallery-nav {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 36px;
    color: $primery-color;
    @media (max-width: 570px) {
      top: 10px;
      right: 15px;
    }
    .img-arrow {
      display: inline-block;
      cursor: pointer;
    }
    p {
      display: inline-block;
      color: $primary;
      font-size: 15px;
      font-family: $primery-font-family;
      font-style: italic;
      font-weight: 400;
      margin: 0 13px;
    }
  }
  .featured-gallery {
    position: relative;
    width: 100vw;
    display: block;
    margin-top: 73px;
    // overflow: hidden;
    @media (max-width: $mobile-lg) {
      width: 100%;
    }

    .featured-galery-box {
      width: 100%;
      // height: 570px;
      display: inline-block;
      overflow: hidden;
      // margin-left: -66px;
      .expertise {
        display: inline-block;
        .logos {
          width: 100%;
          height: 130px;
          margin-top: 76px;
          display: inline-flex;
          justify-content: space-between;

          .logo-item {
            width: 227px;
            height: 100%;
            border: 1px solid rgba(191, 170, 121, 0.3);
            align-items: center;
            display: inline-flex;
            justify-content: center;
            img {
              max-width: max-content;
            }
          }
        }
      }
      .gallery-item {
        max-width: 963px;
        width: 100%;
        max-height: 570px;
        position: relative;
        overflow: hidden;
        @media (max-width: $desktop-sm) {
          max-width: 875px;
        }
        @media (max-width: $tablet-lg) {
          max-width: 815px;
        }
        @media (max-width: $tablet-sm) {
          max-width: 620px;
        }
        @media (max-width: $mobile-lg) {
          max-width: 510px;
        }
        .gallery-img {
          position: relative;
        }
        .gallery-content {
          width: 100%;
          background: #fff;
          padding: 60px 0 60px 60px;
          position: absolute;
          bottom: 0px;
          right: 0px;
          z-index: 20;
          max-width: 464px;
          @media (max-width: $mobile-lg) {
            position: relative;
            padding: 25px 0 30px 25px;
          }
          @media (max-width: 475px) {
            padding: 20px 0 30px 0;
          }
          .content-hd {
            font-size: 40px;
            font-family: $primery-font-family;
            color: #000;
            font-weight: 500;
            @media (max-width: $tablet-sm) {
              font-size: 35px;
            }
            @media (max-width: $mobile-lg) {
              font-size: 30px;
            }
            @media (max-width: 475px) {
              font-size: 26px;
            }
          }
          .section-content {
            margin-top: 14px;
          }

          .more {
            margin-top: 34px;
            position: absolute;
            bottom: 0px;
            left: 60px;
            @media (max-width: $mobile-lg) {
              left: 25px;
            }
            @media (max-width: 575px) {
              left: 0;
            }
          }
          .slider {
            position: absolute;
            bottom: -6px;
            right: 0;
          }
        }
      }
    }
  }
}

section.commitment {
  padding: 120px 0;
  background: rgba(191, 170, 121, 0.2);
  .prev.our-prev,
  .next.our-next {
    width: 12px;
    height: 20px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  @media (max-width: $mobile-lg) {
    padding: 60px 0;
  }
  .container {
    position: relative;
  }

  .section-sub {
    display: block;
    text-align: center;
    font-weight: 500;
  }
  .section-hd {
    display: block;
    text-align: center;
    margin-top: 0px;
  }
  .section_desc {
    font-size: 16px;
    line-height: 28px;
    color: $color-lunar-green;
    margin: 66px auto 0 auto;
    max-width: 767px;
    font-family: $secondary-font-family;
  }
  .service,
  .single_service {
    width: 100%;
    height: auto;
    display: block;
    margin: 70px 0 0 0;
    .project-box {
      display: inline-block;
      margin-bottom: 0;
      width: 100%;

      .project-image {
        position: relative;
      }
      .project-content {
        display: inline-block;
        padding: 30px 30px 0px 30px;
        @media (max-width: $mobile-lg) {
          padding: 25px 25px 0 25px;
        }
        @media (max-width: 575px) {
          padding: 20px 0 0 0;
        }
        h3 {
          font-size: 30px;
          font-family: $primery-font-family;
          color: $secondary-color;
          @media (max-width: 990px) {
            font-size: 20px;
          }
          @media (max-width: 475px) {
            font-size: 20px;
          }
        }
        p.project-position {
          @media (max-width: 990px) {
            font-size: 12px;
            line-height: 20px;
          }
        }
        p.section-content,
        p {
          margin-top: 17px;
          @media (max-width: 990px) {
            font-size: 12px;
            line-height: 20px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.owl-nav {
  display: none;
}
section.message {
  position: relative;
  .message-bg {
    width: 100%;
    // height: 100%;
    position: relative;
    min-height: 1070px;
    overflow: hidden;
    @media (max-width: $tablet-sm) {
      min-height: 800px;
    }
    @media (max-width: $mobile-lg) {
      min-height: 650px;
    }
    @media (max-width: 475px) {
      min-height: 500px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: none;
      position: absolute;
      bottom: 0;
      object-position: bottom;
      @media (max-width: $mobile-lg) {
        object-fit: contain;
      }
    }
  }
  .message-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 120px 0 0 0;
    @media (max-width: $mobile-lg) {
      padding: 60px 0 0 0;
    }
  }
  .section-hd {
    text-transform: none;
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #97855f;
    font-size: 60px;
    line-height: 80px;
    @media (max-width: $tablet-sm) {
      font-size: 45px;
      line-height: 50px;
      width: 100%;
    }
    @media (max-width: 475px) {
      font-size: 40px;
      line-height: 45px;
    }
    &::after {
      content: none;
    }
  }
  .messager {
    font-family: $secondary-font-family;
    color: #414240;
    font-size: 16px;
    line-height: 27px;
    display: block;
    text-align: center;
    margin-top: 23px;
    span {
      display: block;
    }
    .messager-name {
      font-weight: 500;
    }
  }
}
section.news {
  background: rgba(171, 157, 118, 0.2);
  padding: 100px 0 120px 0;
  @media (max-width: $mobile-lg) {
    padding: 50px 0 60px 0;
  }
  .container {
    position: relative;
  }
  .section-sub {
    display: block;
    text-align: center;
  }
  .section-hd {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  .newses {
    margin: 90px 0 0 0;
    .news-item {
      background: #fff;
      max-width: 555px;
      min-height: 500px;
      padding: 40px 40px 40px;
      position: relative;
      @media (max-width: 990px) {
        padding: 20px;
      }
      @media (max-width: 575px) {
        min-height: 485px;
        padding: 15px;
      }
      .news-content {
        .section-hd {
          text-transform: none;
          text-align: left;
          line-height: 46px;
          font-weight: 500;
          @media (max-width: $tablet-lg) {
            font-size: 30px;
            line-height: 40px;
          }
          @media (max-width: 475px) {
            font-size: 26px;
            line-height: 32px;
          }
          &::after {
            content: none;
          }
        }
        .section-sub {
          text-align: left;
          letter-spacing: 0px;
          margin-top: 43px;
        }
        .section-content,
        p {
          margin-top: 30px;
          @media (max-width: $tablet-sm) {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: hidden;
          }
        }
        p {
          color: #000;
        }
        .more {
          position: absolute;
          bottom: 15px;
          left: 40px;
          margin-top: 15px;
          @media (max-width: 990px) {
            left: 20px;
          }
          @media (max-width: 575px) {
            left: 15px;
          }
        }
      }
    }
    .owl-nav {
      .owl-prev {
        position: absolute;
        top: 50%;
        left: -80px;
        transform: translateY(50%);
      }
      .owl-next {
        position: absolute;
        top: 50%;
        right: -80px;
        transform: translateY(50%);
      }
    }
  }
}

.connected {
  padding: 120px 0;
  @media (max-width: $mobile-lg) {
    padding: 60px 0;
  }
  .owl-stage-outer {
    // height: 550px !important;
  }
  .container {
    position: relative;
    padding-right: 1px;
  }
  .section-sub {
    display: block;
    text-align: center;
  }
  .section-hd {
    display: block;
    text-align: center;
    margin-top: 23px;
  }
  .twt-feeds {
    margin-top: 74px;
    position: relative;
    .tweet-box {
      width: 100%;
      height: 100%;
      border: 1px solid #bfaa79;
      padding: 40px;
      position: relative;
      min-height: 456px;
      @media (max-width: $tablet-lg) {
        padding: 20px;
      }
      // @media(max-width:475px){
      //   min-height: 400px;
      // }
      .tweet-profile {
        display: flex;
        flex-direction: row;
        .pro-icon {
          min-width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
          img {
            width: 100%;
          }
        }
        .pro-titles {
          font-family: $secondary-font-family;
          font-weight: 500;
          font-size: $h6-size;
          line-height: 20px;
          margin-top: 8px;
        }
      }
      .tweet-content-before {
        display: block;
        font-family: $secondary-font-family;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 13px;
      }
      p.tweet-content {
        display: block;
        font-family: $secondary-font-family;
        font-size: $h5-size;
        line-height: 28px;
        margin-top: 47px;
        font-weight: 400;
        a {
          color: #c9a34b;
        }
      }
      .tweet-fetre {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 32px;
        left: 0;
        padding: 0 40px;
        svg {
          &:first-of-type {
            margin-right: 20px;
          }
        }
        .date {
          font-family: $secondary-font-family;
          font-size: $h6-size;
          color: #a9986a;
          font-weight: 400;
        }
      }
    }
  }
}

// animation

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bg_tan {
  background-color: #eeebe3 !important;
}
section.about-content h2.align-center::after {
  left: 50%;
  transform: translateX(-50%);
}

.align-center {
  text-align: center;
  color: #000 !important;
  & + p {
    margin-top: 60px;
    @media (max-width: 570px) {
      margin-top: 60px;
    }
  }
}
.underline {
  position: relative;
  display: block;
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 1px;
    background: #97855f;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}

section.featured.bg_tan
  .featured-gallery
  .featured-galery-box
  .gallery-item
  .gallery-content {
  background-color: #eeebe3 !important;
}
section.featured.bg_peach
  .featured-gallery
  .featured-galery-box
  .gallery-item
  .gallery-content {
  background-color: #f7f4ee !important;
}
.custom-owl-right-arow,
.custom-owl-left-arow {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  @media (max-width: $mobile-sm) {
    display: none;
  }
}
.custom-owl-right-arow {
  right: 55px;
}
.custom-owl-left-arow {
  left: 55px;
}
section.expertise {
  .custom-owl-right-arow,
  .custom-owl-left-arow {
    top: 45%;
  }
}
section.featured {
  .custom-owl-right-arow,
  .custom-owl-left-arow {
    top: 55%;
  }
}
.custom-owl-arow {
  background-color: #eee4cd;
  line-height: 0;
  padding: 10px;
  opacity: 0;
  transition: 0.5s;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  &:hover {
    opacity: 1;
  }
}
.featured_gallery_hover:hover .custom-owl-arow {
  opacity: 0.5;
}
.featured_gallery_hover .custom-owl-arow:hover {
  opacity: 1;
}
.first_one .custom-owl-left-arow,
.last_one .custom-owl-right-arow {
  display: none;
}
.project-box .project-image,
.portfolio-box .portfolio-img,
.detail-blocks-div .detail-blocks-image,
.logo-item,
.img_wrap,
.grid_ist_item .image_wrap,
.grid_block_element .feature_thumb_image,
.insight_cards .insight_img {
  overflow: hidden;
}
.project-box .project-image img,
.portfolio-box .portfolio-img img,
.detail-blocks-div .detail-blocks-image img,
.logo-item img,
.img_wrap img,
.grid_ist_item .image_wrap img,
.grid_block_element .feature_thumb_image img,
.insight_cards .insight_img img {
  transition: 0.5s all ease-in-out;
}
.project-box:hover .project-image img,
.portfolio-box:hover .portfolio-img img,
.detail-blocks-div:hover .detail-blocks-image img,
.logo-item:hover img,
.img_wrap:hover img,
.grid_ist_item .image_wrap:hover img,
.grid_block_element .feature_thumb_image:hover img,
.insight_cards .insight_img:hover img {
  transform: scale(1.1);
}

.inner_years {
  position: absolute;
}
section.commitment .service .project-box .project-content p {
  color: #000;
}
section.shaping-future
  .future-content
  .container
  .future-content-inner
  .section-content
  p {
}
