.career_icons_row {
  max-width: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 10px;
  flex-wrap: wrap;
  @media (max-width: 990px) {
    // width: 100%;
  }
  .iconcard {
    width: 20%;
    flex: 0 0 20%;
    @media (max-width: 990px) {
      width: 33.33%;
      flex: 0 0 33.33%;
      margin-bottom: 40px;
    }
    @media (max-width: 570px) {
      width: 50%;
      flex: 0 0 50%;
    }
    img {
      width: 60px;
      height: 60px;
      margin: 0 auto 20px;
      object-fit: contain;
      display: block;
      object-position: center;
    }
  }
  h6 {
    color: #a5835f;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-family: "poppins", sans-serif;
  }
}
.people_career_block {
  height: 540px;
  margin: 30px 0 80px;
  position: relative;
  @media (max-width: $tablet-sm) {
    height: 440px;
  }
  @media (max-width: 570px) {
    height: 540px;
  }
  .container {
    position: relative;
    height: 100%;
  }
  .bg_image {
    height: 100% !important;
    width: 100% !important;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .future-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 30px 15px;
    .section-hd {
      display: block;
      text-align: center;
      color: #fff;
      margin-top: 15px;
      margin-bottom: 110px;
    }
    .future-content-inner {
      p {
        font-size: 16px;
        font-family: "poppins", sans-serif;
        line-height: 27px;
        color: #fff;
        text-align: center;
        max-width: 680px;
        margin: 0 auto;
      }
      .buttin-defult {
        margin: 45px auto 0;
      }
    }
  }
}
.people_practices_section {
  padding: 70px 0;
  .section-hd {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
  .section-content {
    margin-bottom: 70px;
  }
}
.people_career_row {
  margin: 0 -30px;
  & > div {
    padding: 0 30px;
    margin-bottom: 50px;
  }
  .people_card {
    .image_wrp {
      width: 100%;
      height: auto;
      background-color: #c5c5c5;
      aspect-ratio: 91/114;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s all ease-in-out;
        &[src=""] {
          display: none;
        }
      }
      span {
        position: absolute;
        top: 20px;
        left: 20px;
        line-height: 1;
        font-weight: 500;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
        z-index: 1;
      }
      &:hover img{
        transform: scale(1.1);
      }
    }
    h5 {
      font-size: 22px;
      color: #000;
      margin-bottom: 14px;
      font-weight: 600;
      font-family: "poppins", sans-serif;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #000;
      text-align: justify;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
.bg_tan {
  background-color: #f2eee4;
  &.people_career_block .future-content {
    .section-hd {
      color: #000;
    }
    .future-content-inner p {
      color: #000;
    }
  }
}
.underscore {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 1px;
    background: #000;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.bg_ogg_white {
  background-color: #fafafa !important;
}
.bg_mercury {
  background-color: #e4e4e4 !important;
}
section.commitment.bg_light_gold + .people_career_block.bg_mercury,
section.commitment.bg_light_gold + .people_career_block.bg_tan,
section.commitment.bg_light_gold + .people_career_block.bg_light_gold {
  margin-top: 0 !important;
}
section.commitment {
  position: relative;
  // overflow: hidden;
  .bg_image{
    position: absolute;
    inset: 0;
    z-index: 1;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .container{
    z-index: 2;
  }
}
section.career .careeer-bg .career-content {
  .more{
    transition: .2s all ease-in-out;
    &:hover{
      color: #000;
    }
  }
}
.bg_light_gold4 {
  background-color: #eeece4 !important;
}
.video_player_popup_btn{
}
.video_player_popup_window{
  position: fixed;
  user-select: none;
  overscroll-behavior: contain;
  inset: 0;
  z-index: 1000;
  background-color: rgba($color: #000000, $alpha: .8);
  display: flex;
  align-items: center;
  width: 0;
  height: 0;
  overflow: hidden;
  justify-content: center;
  transition: .5s all ease-in-out;
  iframe{
    width: 60%;
    max-width: 60%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .close_popup_btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #a5835f;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    svg{
      fill: #fff !important;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: .2s all ease-in-out;
      path{
      fill: #fff !important;

      }
    }
    &:hover{
      @media (min-width:1200px) {
        svg{
          transform: scale(1.2);
        }
      }
    }
  }
  &.show_window{
    overflow: auto;
    width: 100vw;
    height: 100vh;
  }
}
.overflow_hidden{
  overflow: hidden;
}