body {
    &.relative_header {
        header:not(.fix-nav) {
            position: relative;
            background: #000;
        }
        .page-inner-nav {
            position: relative;
        }
    }
    &.timeline {
        .sticky-buttons {
            opacity: 0;
            visibility: hidden;
        }
        &:not(.timeline_show_footer) {
            footer {
                display: none;
            }
        }
        header {
            overflow: hidden;
            transition: 0.5s;
            @media (min-width: 992px) {
                max-height: 132px;
            }
            @media (max-width: 991px) {
                max-height: 85px;
            }
        }
        &.timeline_hide_header {
            header {
                max-height: 0;
            }
        }
    }
}
.decades {
    position: relative;
    .go_to_home{
        position: absolute;
        left: 25px;
        top: 25px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #84754E;
        display: flex;
        align-items: center;
        z-index: 130;
        font-family: "poppins", sans-serif;
        @media (max-width:570px) {
            top: 4px;
            left: 15px;
        }
        svg{
            margin-right: 5px;
            width: 15px;
            height: auto;
        }
    }
    .owl-carousel {
        .owl-stage {
            transition: 0.8s !important;
        }
    }
    .milestone-carousel {
        position: relative;
        z-index: 10;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 60%;
        .owl-stage {
            @media (max-width: 767px) {
                display: flex;
            }
        }
        .milestone {
            width: 100%;
            color: #000;
            font-size: 16px;
            position: relative;
            // background-color: #fff;
            @media (min-width: 768px) {
                height: 100vh;
            }
            @media (max-width: 767px) {
                height: 100%;
            }
            .banner-img {
                min-height: auto;
                width: 100%;
                overflow: hidden;
                background: #fff;
                @media (min-width: 768px) {
                    position: relative;
                    height: 100vh;
                }
                @media (max-width: 767px) {
                    position: absolute;
                    height: 100%;
                }
                picture {
                    img {
                        width: 100%;
                        position: absolute;
                        height: 100%;
                        @media (min-width: 768px) {
                            object-fit: fill;
                            object-position: bottom;
                        }
                        @media (max-width: 767px) {
                            object-fit: cover;
                            object-position: bottom;
                        }
                    }
                }
            }
            .company_logo {
                width: 178px;
                margin-left: auto;
                margin-bottom: 30px;
                @media (max-width: 767px) {
                    margin-right: auto;
                }
            }
            .related_image {
                @media (min-width: 1200px) {
                    width: 600px;
                    height: auto;
                }
                @media (min-width: 768px) {
                    margin-left: auto;
                }
                @media (max-width: 767px) {
                    height: 250px;
                    margin-bottom: 30px;
                }
                picture {
                    height: 100%;
                    img {
                        @media (max-width: 767px) {
                            height: 250px;
                            object-fit: cover;
                        }
                    }
                }
            }
            .related_images {
                display: flex;
                flex-flow: row-reverse;
                position: relative;
                @media (max-width: 767px) {
                    height: 250px;
                    margin-bottom: 30px;
                }
                picture {
                    &:nth-child(1) {
                        position: absolute;
                        bottom: 0;
                        img {
                            object-fit: cover;
                            @media (min-width: 768px) {
                                width: 370px;
                                height: 440px;
                            }
                            @media (max-width: 767px) {
                                width: 170px;
                                height: 250px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        position: absolute;
                        @media (min-width: 768px) {
                            left: 6%;
                            bottom: -65px;
                        }
                        @media (max-width: 767px) {
                            left: 0;
                            bottom: 0px;
                        }
                        img {
                            object-fit: cover;
                            @media (min-width: 768px) {
                                width: 330px;
                                height: 200px;
                            }
                            @media (max-width: 767px) {
                                width: 230px;
                                height: 150px;
                            }
                        }
                    }
                }
            }
            .decade_content {
                padding-bottom: 50px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                align-items: center;
                @media (min-width: 768px) {
                    position: absolute;
                }
                @media (max-width: 767px) {
                    position: relative;
                    padding-top: 30px;
                }
                h2 {
                    @media (min-width: 992px) {
                        font-size: 80px;
                        line-height: 107px;
                    }
                    @media (max-width: 991px) {
                        font-size: 40px;
                        line-height: 67px;
                    }
                    color: #272726;
                    position: relative;
                    margin-bottom: 50px;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 265px;
                        bottom: 0;
                        left: 0;
                        background-color: #A9986A;
                    }
                }
                h4 {
                    color: #756A4B;
                    font-size: 30px;
                    line-height: 47px;
                }
                p {
                    color: #272726;
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 30px;
                    font-weight: 600;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .scroll {
                    margin-top: 60px;
                    display: grid;
                    cursor: pointer;
                    width: fit-content;
                    span {
                        color: #FFFFFF;
                        font-size: 16px;
                        line-height: 25px;
                        font-weight: bold;
                    }
                    &:hover {
                        span {
                            color: #A9986A;
                        }
                        svg {
                            path {
                                fill: #A9986A;
                            }
                        }
                    }
                }
            }
            .decade_list_content {
                padding-bottom: 50px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                @media (min-width: 768px) {
                    align-items: center;
                    position: absolute;
                }
                @media (max-width: 767px) {
                    align-items: flex-start;
                    position: relative;
                    padding-top: 30px;
                }
                .decade_list_cont_box {                      
                    @media (min-width: 992px) {
                        padding: 0px 38px;
                    }
                    @media (max-width: 991px) and (min-width: 768px) {
                        padding: 0px 10px;
                    }
                    @media (max-width: 767px) {
                        height: auto;
                        margin-bottom: 70px;
                    }
                    h3 {
                        color: #84754E;
                        @media (min-width: 992px) {
                            font-size: 140px;
                            line-height: 187px;
                        }
                        @media (max-width: 991px) {
                            font-size: 100px;
                            line-height: 147px;
                        }
                        @media (min-width: 768px) {
                            margin-bottom: 60px;
                        }
                        @media (max-width: 767px) {
                            margin-bottom: 45px;
                        }
                        position: relative;
                        display: flex;
                        height: 147px;
                        align-items: end;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 1px;
                            width: 215px;
                            bottom: 0;
                            left: 0;
                            background-color: #A9986A;
                        }
                    }
                    p, li {
                        color: #272726;
                        font-size: 18px;
                        line-height: 30px;
                        margin-bottom: 15px;
                        font-weight: 600;
                        &:last-child {
                            // margin-bottom: 0;
                        }
                        b, strong {
                            font-size: 14px;
                            line-height: 26px;
                            font-weight: 600;
                        }   
                    }
                    ul {
                        li {
                            display: flex;
                            &:before {
                                display: block;
                                flex-shrink: 0;
                                width: 33px;
                                height: 33px;
                                margin-right: 16px;
                                background: url(../../uploads/images/right-arrow-long.svg) no-repeat left center;
                                background-size: contain;
                                content: '';
                                float: left;
                                position: relative;
                                top: -2px;
                            }
                        }
                    }
                }
                .col-md-8{
                    .related_image{
                        width: 100%;
                    }
                }
            }
            &.decade_main {
                //.banner-img {
                    &::before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-image: linear-gradient(#f6f6f6 20%, rgba(9, 9, 9, 0.288) 80%);
                        z-index: 1;
                    }
                //}
            }
            &.decade_inner {
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: auto;
                    left: 0;
                    right: -1px;
                    top: 0;
                    bottom: 0;
                    background-color: rgba(248, 246, 241, 0.90);
                    z-index: 1;
                }
            }
            &.decade_other {
                //.banner-img {
                    &::before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.50);
                        z-index: 1;
                    }
                //}
                .decade_other_content {
                    padding-bottom: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    @media (max-width:$mobile-lg) {
                        top: 25px;
                    }
                    .container{
                        @media (max-width:$mobile-lg) {
                            height: 100%;
                        }
                    }
                    h2 {
                        @media (min-width: 992px) {
                            font-size: 160px;
                            line-height: 213px;
                        }
                        @media (max-width: 991px) {
                            font-size: 80px;
                            line-height: 100px;
                        }
                        color: #fff;
                        position: relative;
                        margin-bottom: 30px;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 1px;
                            width: 265px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: #fff;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    h3 {
                        @media (min-width: 992px) {
                            font-size: 70px;
                            line-height: 94px;
                        }
                        @media (max-width: 991px) {
                            font-size: 35px;
                            line-height: 50px;
                        }
                        color: #fff;
                    }
                }
            }
        }
        .owl-item {
            @keyframes content_moving {
                0% {
                   opacity: 0;
                   top: 30px;
                }
            
                100% {
                    opacity: 1;
                    top: 0px;
                }
            }
            .decade_other {
                .decade_other_content {
                    h2, h3 {
                        opacity: 0;
                        transition: all 3s;
                        position: relative;
                        z-index: 0;
                    }
                }
            }
            &.end {
                .decade_other {
                    .decade_other_content {
                        h2, h3 {
                            animation: content_moving;
                            animation-duration: 1s;
                            animation-fill-mode: forwards;
                            animation-timing-function: ease-out;
                        }
                        h2 {
                            animation-delay: 0.7s;
                        }
                        h3{
                            animation-delay: 0.3s;
                        }
                    }
                }
            }
        }
    }
    .owl-dots {
        display: none;
    }
    .years-carousel {

        @media (min-width: 768px) {
            position: absolute;
        }
        @media (max-width: 767px) {
            position: fixed;
            transition: 0.5s;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        z-index: 10;
        padding: 30px 15px;
        bottom: 0;
        .owl-stage-outer {
            overflow: inherit;
         }
        .owl-stage {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            max-width: 100%;
            @media (min-width: 768px) {
                justify-content: center;
            }
            @media (max-width: 767px) {
                justify-content: flex-start;
            }
            @media (max-width: 570px) {
               max-width: unset;
            }
            // transform: translate3d(0px, 0px, 0px) !important;
        }
        .owl-item a {
            font-weight: bold;
            text-decoration: none;
            font-size: 16px;
            line-height: 25px;
            font-family: "poppins", sans-serif;
        }
        .owl-item.end ~ .owl-item a {
            font-weight: 400;
        }
        .years{
            position: relative;
        }
        .parent-owl-item {
            margin-right: 15px;
        }
        .parent-owl-item>.years::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 74%;
            top: auto;
            right: 0;
            left: 50px;
            margin-left: auto;
            margin-right: auto;
            opacity: 1;
            @media (min-width: 1400px) {
                bottom: 9.5px;
                // left: 40px;
            }
            @media (max-width: 1399px) and (min-width: 768px) {
                bottom: 8px;
            }
            @media (max-width: 1200px) {
                left: 40px;
            }
            @media (max-width: 990px) {
               width: 66%;
            }
            @media (max-width: 767px) {
                bottom: 9px;
            }
        }
        .parent-owl-item.end ~ .parent-owl-item>.years::after,
        .parent-owl-item.end>.years::after {
            opacity: 0.4;
            height: 1px;
        }
        .owl-stage > .parent-owl-item:last-child > div.years:after {
            width: 0;
            display: none;
        }
        .owl-stage > .parent-owl-item:last-child {
            @media (min-width:581px) {
                
                width: auto !important;
            }
        }
        .nesteditem  {
            position: absolute;
            top: -50px;
            width: calc(100% - 45px);
            left: 0;
            margin-left: 50px;
            .years {
                a {
                    position: relative;
                    right: 0;
                    left: -5px;
                    transition: .5s;
                    display: block;
                    text-align: end;
                    width: 15px;
                    margin-left: auto;
                }
            }
            .owl-stage {
                width: 100% !important;
                justify-content: space-between !important;
                &::after {
                    content: none;
                }
            }
            .nested-owl-item {
                flex-grow: 1;
                pointer-events: none;
            }
            .nested-owl-item>.years::after  {
                content: "";
                position: absolute;
                height: 35px;
                width: 2px;
                top: 30px;
                bottom: 0px;
                right: 0;
                left: 0px;
                margin-left: auto;
                opacity: 1;
            }
            .nested-owl-item>.years::before  {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                top: 65px;
                bottom: 0px;
                right: 0px;
                left: 0px;
                margin-left: auto;
                opacity: 1;
            }
            .nested-owl-item .years a,
            .nested-owl-item .years::after {
                opacity: 0;
                display: none;
            }
            .nested-owl-item.active.end .years a,
            .nested-owl-item.active.end .years::after {
                opacity: 1;
                display: block;
            }
            .nested-owl-item.end ~ .nested-owl-item>.years::before {
                opacity: 0;
            }
            &.inactive .years::before {
                opacity: 0;
            }
        }
    } 
    .parent-owl-item:not(.end) .nesteditem,
    .decade_year a.active_year ~ .nesteditem {
         .years::before {
            opacity: 0 !important;
        }
    } 
    &.gradient_banner {
        .years-carousel {
            .owl-item a {
                color: #756A4B;
            }
            .years {
                &:after,
                &:before {
                    background-color: #756A4B;
                }
            }
            @media (max-width: 767px) {
                background-color: #eceae5;
                padding-top: 65px;
            }
        }
    }
    &:not(.gradient_banner) {
        .years-carousel {
            .owl-item a {
                color: #fff;
            }
            .years {
                &:after,
                &:before {
                    background-color: #fff;
                }
            }
            .owl-item.end a,
            .owl-item.end ~ .owl-item a {
                color: #fff;
            }
            .owl-item.end .years::after, 
            .owl-item.end ~ .owl-item .years::after {
                background-color: rgba(255, 255, 255, 0.40);
            }
            .nested-owl-item.end .years::after, 
            .nested-owl-item.end ~ .nested-owl-item .years::after {
                background-color: #fff;
            }
        }
    }
    .custom-owl-arow-normal {
        line-height: 0;
        padding: 5px;
        opacity: 0.5;
        transition: 0.5s;
        height: 35px;
        width: 35px;
        text-align: center;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        top: 45%;
        svg{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .custom-owl-arow-normal:hover {
        opacity: 1;
    }
    .custom-owl-right-arow {
        right: 55px;
        @media (max-width:1200px) {
            right: 10px;
        }
    }
    .custom-owl-left-arow {
        left: 55px;
        @media (max-width:1200px) {
            left: 10px;
        }
    }
    &.black_gradient_banner {
        .custom-owl-arow-normal {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        .years-carousel {
            @media (max-width: 767px) {
                background-color: #333;
            }
        }
    }
    &.first_one {
        .nesteditem .years::before {
            opacity: 0 !important;
        }
        .years-carousel {
            @media (max-width: 767px) {
                background-color: #333;
            }
        }
    }
}