.expertise_grid_column_block{
  padding: 120px 0px;
  .ecpertise_grip_wrapper{
    .grid_block_element{
      margin-bottom: 120px;
      display: flex !important;
      margin-left: -25px;
      margin-right: -25px;
      &.slick-active{
        z-index: 2;
        position: relative;
      }
      @media (max-width:990px) {
        margin-left: -15px;
      margin-right: -15px;
      }
      &.grid_block_element:last-child{
      margin-bottom: 0px;
      }
      .col-md-6{
        padding: 0 25px;
        @media (max-width:990px) {
          padding: 0 15px;
        }
      }
      .col-md-6:nth-child(2){
        display: flex;
        flex-flow: column;
        justify-content: space-between;
      }
      .body_copy{
        .btn_inner_wrap{
          display: flex;
          justify-content: space-between;
          .slider_btn{
            .slick_arrow{
              cursor: pointer;
              border: none;
              outline: none;
              background-color: transparent;
              width: 9px;
              height: 15px;
              padding: 0;
              svg{
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
              &+.slick_arrow{
                margin-left: 15px;
              }
            }
          }
        }
        @media (max-width:570px) {
          margin-top: 20px;
        }
      }
      .expertise_grid {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
      }
      .expertise_logo_list {
          margin: 0 auto;
          width: 100%;
          .slick-slide {
              margin: 0 10px;
          }
          .slick-list {
              margin: 0px -10px 0px -10px;
          }
      }
      .thumbnail_image_row{
        .img_wrap{
          width: 100%;
          height: 102px;
          border: 1px solid #bea9794d;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          @media (max-width:990px) {
            height: 80px;
          }
          img{
              width: 100%;
              max-width: 130px;
              max-height: 48px;
              height: 100%;
              object-fit: contain;
              @media (max-width:990px) {
                max-height: 30px;
                max-width: 100px;
              }
          }
          @media (max-width:570px) {
            margin-top: 20px;
          }
        }
      }
      .feature_thumb_image{
        width: 100%;
        height: 375px;
        display: block;
        @media (max-width:1200px) {
        height: 290px;
        }
        @media (max-width:990px) {
          height: 250px;
          }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
      }
      h3 , h3 a{
        font-size: 30px;
        line-height: 40px;
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
        @media (max-width:1200px) {
          font-size: 28px;
        }
        
      }
      p{
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: #000;
        margin-bottom: 20px;
        @media (max-width:1200px) {
          font-size: 13px;
          line-height: 22px;
        margin-bottom: 17px;
        }
      }
      a{
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #84754E;
        margin-bottom: 10px;
      }
    }
  }
}


.four_column_image_grid{
  margin-top: 50px;
  margin-left: -20px;
  margin-right: -20px;

  &>div{
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .image_wrap{
    width: 100%;
    // border: 1px solid rgba($color: #000000, $alpha: .6);
    height: 167px;
    @media (max-width:1200px) {
      height: 130px;
    }
    @media (max-width:990px) {
      height: 200px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      // border: 1px solid #;
    }
  }
}
.expertise-selectbox{
 border: 1px solid #84754E; 
 border-radius: 3px;
 display: flex;
 justify-content: space-between;
 position: relative;
 align-items: center;
 cursor: pointer;
 min-width: 450px;
 padding: 13px 20px;
 width: max-content;
 margin-left: auto;
 height: 47px;
 margin-right: auto;
 max-width: 475px;
 @media (max-width:1200px) {
 min-width: auto;
 }
 @media (max-width:570px) {
   width: 300px;
   justify-content: center;
 }
 span{
   font-size: 14px;
   white-space: nowrap;
   padding-right: 15px;
   font-family: "poppins", sans-serif;
   line-height: 45px;
   display: block;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-weight: 500;
   color: #84754E;
 }
 svg{
   width: 7px;
   background-color: #fff;
  //  padding: 5PX ;
   height: 14px;
   transform: rotate(90deg);
 }
 .dropdown-options{
   position: absolute;
   top: calc(100% + 5px);
   user-select: none;
   left: 0;
   width: 100%;
   height: auto;
   background-color: #fff;
   opacity: 0;
   visibility: hidden;
   transform: translateY(10px);
   transition: .2s all ease-in-out;
   min-width: max-content;
  //  padding: 10px 9px;
   z-index: 9;
   box-shadow: 0 0 20px 2px rgba($color: #bbb, $alpha: .7);
   a , li{
      padding: 5px 10px;
      font-size: 14px;
      display: block;
      line-height: 19px;
      transition: .2s all ease-in-out;
      color: #84754E;
   font-family: 'poppins';
        &:hover{
          background-color:#84754E ;
          color: #fff;
        }
      font-weight: 400;
 }

 }
 &.selectopen{
  .dropdown-options{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
 }
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.bg_peach{
  // background-color: #BFAA79;
}
// contact form stylesheet 
.contact_form_block{
  padding: 90px 0 0;
  @media (max-width:570px) {
    padding: 45px 0 0;
  }
  form{
    .row{
      &>div{
        @media (max-width:570px) {
          margin-bottom: 20px;
        }
      }
    }
    fieldset{
      margin-bottom: 40px;
      padding: 0;
      @media (max-width:570px) {
        margin-bottom:0px ;
      }
      &:last-child{
      // margin-bottom: 0px;
      }
      label{
        display: none;
      }
      input{
        border: 1px solid #BFAA79;
        background-color: #fff;
        padding: 20px 40px;
        height: 70px;
        width: 100%;
        outline: none;
        font-family: 'poppins';
        @media (max-width:990px) {
        height: 50px;
        padding: 10px 40px;
        }
        &::placeholder{
          font-size: 16px;
          line-height: 28px;
          font-weight: 400;
          color: #414240;

        }
      }
      textarea{
        border: 1px solid #BFAA79;
        background-color: #fff;
        padding: 20px 40px;
        height: 160px;
        width: 100%;
        outline: none;
        font-family: 'poppins';
        resize: none;
      }
      p{
        color: #6D6E6C;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 27px;
      }
    }
    .form-submit-btn{
      background-color: #84754E;
      font-family: 'poppins';
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3px;
      border: none;
      height: max-content;
      width: max-content;
      cursor: pointer;
      padding: 9px 40px;
      color: #fff;
      transition: .2s all ease-in-out;
      &:hover{
        opacity: .8;
      }
    }
  }
}

.bg_white{
  background-color: #fff;
}
.contact_locations{
  margin-top: 60px;
  h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 1px solid #707070;
    @media (max-width:990px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .location_item{
    border-bottom: 1px solid #707070;
padding: 40px 0 26px;
    h4{
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      color: #000;
      @media (max-width:990px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
    p{
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      margin: 0;
      color: #000;
      @media (max-width:990px) {
        font-size: 14px;
        line-height: 23px;
      }
    }
    a{
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      color: #84754E;
      display: block;
      font-family: 'poppins';
      margin-top: 20px;
      letter-spacing: 3px;
      &:hover {
        color: #000;
      }
    }
  }
}

// vacancy card 
.vacancy_card_block{
  margin: 0 -20px;
  margin-top: 100px;
  overflow: hidden;
  &>div{
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .vacancy_card{
    border:  1px solid #BFAA79;
    border-radius: 1px;
    background-color: #fff;
    padding: 40px 30px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    h4{
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      color: #000;
      margin-bottom: 17px;
      @media (max-width:1200px) {
        font-size: 20px;
        line-height: 27px;
      }
    }
    h6{
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: #A9986A;
      font-family: 'poppins';
      margin-bottom: 20px;
      @media (max-width:1200px) {
        margin-bottom: 10px;
      }
    }
    p{
      font-size: 15px;
      line-height: 28px;
      font-weight: 400;
      color: #414240;
      margin-bottom: 60px;
      @media (max-width:1200px) {
        font-size: 13px;
      margin-bottom: 30px;
        line-height: 24px;
      }
    }
    a{
      font-size: 14px;
      line-height: 0;
      padding-top: 10px;
      font-weight: 400;
      color: #A9986A;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: 'poppins';
    }
    .detail{
      display: flex;
      padding: 10px 0;
      border-top:1px solid  #A9986A;
      &:last-child{
      border-bottom:1px solid  #A9986A;
      margin-bottom: 15px;
      }
      .image{
        width: 24px;
        height: 24px;
        display: block;
        margin-right: 10px;
        @media (max-width:1200px) {
          width: 20px;
          height: 20px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      p{
        font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: #414240;
      margin: 0;
      @media (max-width:1200px) {
        font-size: 14px;
        line-height: 24px;
      }
      }
    }
  }
  &.insight_cards{
    &> div{
      flex: 0 0 auto;
      margin-bottom: 40px;
    }
    .insight_img {
      position: relative;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.30);
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }
    .insight_card_banner{
      width: 100%;
      // height: 205px;
      position: relative;
      .banner_tag{
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 2;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: #fff;
        text-transform: uppercase;
      }
      .likes_counter{
        width: 68px;
        height: 68px;
        border-radius: 50%;
        position: absolute;
        top: 100%;
        margin-top: -34px;
        z-index: 1;
        right: 30px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: .6);
        .icon{
          width: 20px;
          height: 20px;
          display: block;
          margin-bottom: 7px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          span{
            font-size: 14px;
            text-align: center;
            color: #000;
            font-weight: 400;
            line-height: 18px;

          }
        }
      }
    }
    .col-lg-4{
      .insight_card_banner{
        height: 205px;
      }
      .vacancy_card{
        height: calc(100% - 205px);
      }
    }
    .col-lg-8{
      .insight_card_banner{
        height: 430px;
        @media (max-width:991px) {
        height: 205px;
        }
      }
      .vacancy_card{
        height: calc(100% - 430px);
      }
      @media (max-width:991px) {
        height: calc(100% - 205px);
        }
    }
    .vacancy_card{
      background-color: #fff;
      border: none;
      height: auto;
    }
  }
&.latest_vacancies{
  position: relative;
  overflow: visible;
  button.slick_arrow {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 13px;
    height: 24px;
    padding: 0;
    svg{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    cursor: pointer;
    @media (max-width: 767px) {
        display: none !important;
    }
}
button.slick_arrow.slick_prev {
    left: -60px;
    float: left;
}
button.slick_arrow.slick_next {
    right: -60px;
    float: right;
}
  .slick-list.draggable{
    padding: 0;
  }
  .vacancy_card{
    border: none;
    h4{
      font-size: 40px;
      line-height: 53px;
      @media (max-width:990px) {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}
}
.section_subtitle{
  color: #6D6E6C;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 66px;
  font-family: "poppins", sans-serif;
}

// career vacancy
.benefits_grid_block{
  margin-top: 100px;
  .grid_ist_item{
    margin-bottom: 120px;
    margin-left: -30px;
    margin-right: -30px;
    &:last-child{
    margin-bottom: 0px;
    }
    &>div{
      padding: 0 30px;
    }
    &:nth-child(odd){
      .body_content{
        margin-left: 40px;
        @media (max-width:570px) {
          margin-left: 0px;
         }
      }
    }
      .col-md-6:nth-child(2){
        display: flex;
        align-items: center;
      }
    &:nth-child(even){
      flex-direction: row-reverse;
    }
    .image_wrap{
      width: 100%;
      height: 375px;
      @media (max-width:1200px) {
        height: 330px;
      }
      @media (max-width:990px) {
        height: 230px;
      }
      @media (max-width:570px) {
       margin-bottom: 15px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .body_content{
      h4{
        font-size: 30px;
        line-height: 40px;
        font-weight: 500;
        color: #000;
        margin-bottom: 15px;
      }
      p{
        color: #414240;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 30px;
      }
      a{
        color: #84754E;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 0px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: 'poppins';
      }
    }
  }
} 
.careeer-bg{
  &.careeer-bg:nth-child(even){
    margin-top: 120px;
    .career-content{
      left: 0;
      padding: 60px  60px 0 0;
      right: auto;
    }
  }
}

section.expertise{
  .custom-owl-left-arow.custom-owl-arow , .custom-owl-right-arow.custom-owl-arow{
    top: 430px;
    @media (max-width:990px) {
      top: 300px;
    }
  }
}