.mobile_decades_slider {
  width: 100%;
  padding-bottom: 50px;
  display: none;
  @media (max-width: 580px) {
    display: block;
  }
  .decade_wrapper {
    height: auto;
    overflow: hidden;
    .slick-list,
    .slick-track {
      height: 100%;
    }
    .mobile_timeline-slick {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      padding: 5px;
      display: block;
      align-items: center;
      justify-content: center;
      z-index: 5;
      transition: 0.2s all ease-in-out;
      &.slick-disabled {
        opacity: 0;
        pointer-events: none;
      }
      svg {
        width: 100%;
        height: auto;
      }
      &.slick_prev {
        left: 0;
      }
      &.slick_next {
        right: 0;
      }
    }
    .decade_slide {
      position: relative;
      width: 100%;
      height: auto;
      .scroll_icon {
        width: 40px;
        height: auto;
        margin: 30px auto 0;
        svg {
          width: 100%;
          height: auto;
          path {
            // stroke: #fff;
            fill: #fff;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background-color: rgba(248, 246, 241,1);
      }
      .container {
        padding: 40px 15px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > img {
        position: absolute;
        z-index: 0;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & > * {
        position: relative;
        z-index: 2;
      }
      .inner_row {
        // display: flex;
        // align-items: flex-start;
        // width: 100%;
        .inner_row {
          h2 {
          }
        }
        .inner_images {
          margin-bottom: 30px;
          position: relative;
          width: 100%;
          .lg {
            width: 100%;
            height: 250px;
            object-fit: contain;
            margin-left: auto;
            display: block;
            object-position: right;
          }
          .logo {
            width: 200px;
            height: 120px;
            position: absolute;
            left: 15px;
            bottom: 0;
            z-index: 2;
            object-fit: contain;
            object-position: left bottom;
          }
        }
        .content_inner {
          padding: 0 35px;
          h2 {
            color: #84754e;
            display: flex;
            align-items: end;
            position: relative;
            font-size: 90px;
            line-height: 1.5;
            margin-bottom: 30px;
            &::after {
              content: "";
              position: absolute;
              height: 1px;
              width: 215px;
              bottom: 0;
              left: 0;
              background-color: #a9986a;
            }
          }
          p {
            color: #272726;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 15px;
            font-weight: 600;
            b {
              font-size: 13px;
              line-height: 1.1;
              font-weight: 600;
            }
          }
          ul {
            li {
              color: #272726;
              font-size: 16px;
              line-height: 1.6;
              margin-bottom: 15px;
              font-weight: 600;
              display: flex;
              &::before {
                color: #272726;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 15px;
                display: block;
                flex-shrink: 0;
                width: 33px;
                height: 33px;
                margin-right: 16px;
                background: url(../../uploads/images/right-arrow-long.svg)
                  no-repeat left center;
                background-size: contain;
                content: "";
                float: left;
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
      &.decade_start {
        .container {
          min-height: 100vh;
        }
        &::before {
          background-color: rgba(0, 0, 0, 0.5);
        }
        .inner_row {
          .content_inner {
            h2 {
              color: #fff;
              text-align: center;
              width: max-content;
              margin-left: auto;
              margin-right: auto;
              &::after {
                background: #fff;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            h3 {
              color: #fff;
              text-align: center;
            }
            p {
              color: #fff;
              text-align: center;
            }
          }
        }
      }
      &.main_decade {
        &::before {
          background: linear-gradient(rgba(246,246,246 , .8) 50%, rgba(9, 9, 9, 0.288) 100%);
        }
        .container {
          min-height: 100vh;
        }
        .inner_row {
          h2 {
            font-size: 40px;
            line-height: 1.3;
            margin-bottom: 40px;
            &::after {
              content: none;
            }
          }
          .content_inner {
            padding: 0 15px;
            h2 {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
.decades .years-carousel {
  @media (max-width: 580px) {
    display: none !important;
  }
}
.decade_navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 22px 15px;
  z-index: 300;
  background-color: #84754e;
  display: none;
  @media (max-width: 580px) {
    display: block;
  }
  .custom_selectbox {
    position: relative;
    width: max-content;
    margin: auto;
    ul {
      position: absolute;
      z-index: 1;
      background-color: #fff;
      padding: 15px;
      width: auto;
      border-radius: 10px;
      bottom: calc(100% + 20px);
      left: 50%;
      min-width: 150px;
      max-height: 270px;
      overflow-y: auto;
      &::-webkit-scrollbar{
        width: 3px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 10px;
      }
      scrollbar-width: thin;
      transform: translateY(30px) translateX(-50%);
      transition: 0.3s all ease-in-out;
      opacity: 0;
      visibility: hidden;
      li {
        padding-bottom: 7px;
        margin-bottom: 7px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
        }
        a {
          font-size: 15px;
          display: block;
          text-align: center;
          color: #000;
          font-weight: 400;
        }
      }
      // display: none;
    }
    button {
      background-color: transparent;
      outline: none;
      border: 0;
      font-family: "poppins", sans-serif;
      font-size: 16px;
      text-transform: capitalize;
      line-height: 1;
      color: #fff;
      font-weight: 400;
      display: flex;
      align-items: center;
      svg {
        width: 15px;
        height: auto;
        margin-left: 8px;
      }
    }
    &.nav_open {
      ul {
        transform: translateY(0px) translateX(-50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
