section.news_listing_slider{
  padding: 100px 0px;
  @media (max-width:570px) {
  padding: 70px 0px;
  }

  .sllider_wrapper{
position: relative;
.slick_arrow{
  position: absolute;
  z-index: 2;
  border: none;
  outline: none;
  background-color: transparent;
  right: 0;
  bottom: -70px;
  width: 15px;
  height: 25px;
  display: block;
  cursor: pointer;
  padding: 0;
  @media (max-width:570px) {
    right: 50%;
  bottom: -50px;
    transform: translateX(-50%);
  }
  svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &.slick_prev{
    right: 50px;
    @media (max-width:570px) {
      left: 40%;
      right: auto;
    }
  }
  &.slick_next{
    @media (max-width:570px) {
      left: 60%;
      right: auto;
    }
  }
}
    .slider_item{
      padding: 25px 0px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: .5);
      .news_thumb_image{
        width: 90%;
        // height: 210px;
        aspect-ratio: 16/10;
        overflow: hidden;
        display: block;
        @media (max-width:570px) {
          width: 100%;
          margin-bottom: 15px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .5s all ease-in-out;
        }
        &:hover{
          img{
            transform: scale(1.1);
            @media (max-width:1200px) {
              transform: scale(1);
            }
          }
        }
      }
      h4{
        font-size: 14px;
        line-height: 18px;
        color: #84754E;
        font-weight: 400;
        font-family: "poppins", sans-serif;
        margin-bottom: 50px;
        @media (max-width:990px) {
          margin-bottom: 20px;
        }
        @media (max-width:570px) {
          margin-bottom: 30px;
        }
      }
      a{
        font-size: 14px;
        line-height: 18px;
        color: #84754E;
        text-decoration: none;
        font-weight: 400;
        font-family: "poppins", sans-serif;
        letter-spacing: 2px;
      }
      h2{
        font-size: 37px;
        line-height:53px;
        color: #000;
        font-weight: 500;
        // margin-bottom: 50px;
        margin-bottom: 15px;
        letter-spacing: 0;
        @media (max-width:1200px) {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 15px;
        }
        @media (max-width:570px) {
          font-size: 19px;
          line-height: 25px;
        }
      }
    }
  }
}