p:last-child {
    margin-bottom: 0;
}
section.detail-blocks {
    @media (min-width: 768px) {
        padding-top: 120px;
    }
    @media (max-width: 767px) {
        padding-top: 60px;
    }
    .detail-blocks-div {
        .detail-blocks-image::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.30);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        .detail-blocks-image {
            position: relative;
            .detail-blocks-tags {
                position: absolute;
                top: 0;
                padding: 30px;
                z-index: 2;
                h5{
                    color: #fff;
                    font-size: 14px;
                    line-height: 21px;
                    font-family: "poppins", sans-serif;
                }
                h5.tag-name {
                    font-weight: 600;
                }
            }
        }
        .detail-blocks-content {
            padding: 30px;
            h3 {
                color: #000000;
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 10px;
            }
            .more {
                margin-top: 0;
                padding-left: 5px;
            }
            p {
                font-size: 16px;
                line-height: 28px;
                color: #414240;
                font-weight: 400;
            }
        }
    }
    button.buttin-defult {
        margin-left: auto;
        margin-right: auto;
    }
}

section.related-links-slider {
    @media (min-width: 768px) {
        .slick-list::after{
            content: '';
            position: absolute;
            width: 150px;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(to right, transparent , #f7f4ee 50%);
        }
    }
    background-color: #F7F4EE;
    padding: 5px 0px;
    .slick-slide {
        margin: 0 5px;
    }
    .slick-list {
        margin: 0 -5px;
        padding: 10px 0px;
    }
    button.slick_arrow {
        background-color: transparent;
        border: 0;
        position: absolute;
        top: 30%;
        cursor: pointer;
        @media (max-width: 767px) {
            display: none !important;
        }
    }
    button.slick_arrow.slick_prev {
        left: -5%;
        float: left;
    }
    button.slick_arrow.slick_next {
        right: -5%;
        float: right;
    }
    .links-slider {
        .links-slider-item {
            border-radius: 3px;
            text-align: center;
            cursor: pointer;
            transition: all .5s ease-in-out;
            a {
                color: #84754E;
                font-size: 14px;
                line-height: 21px;
                font-weight: 600;
                font-family: "poppins", sans-serif;
                transition: all .5s ease-in-out;
                letter-spacing: 2.5px;
                white-space: nowrap;
                border: 1px solid #84754E;
                padding: 10px 25px;
                text-transform: uppercase;
                border-radius: 3px;
                display: block;
            }
        }
        .links-slider-item:hover {
            a {
                color: #fff;
            }
            background-color: #84754E;
        }
    }
}
body.breadcrumb-bg-color {
    .breadcrumb {
        padding-bottom: 30px;
        background-color: #ac9e7733;
    }
}
section.women-esag-content {
    background-color: #ac9e7733;
}
section.group-profile {
    .future-img {
        @media (min-width: 768px) {
            padding-bottom: 120px;
        }
        @media (max-width: 767px) {
            padding-bottom: 60px;
        }
    }
}
.esag_paged {
    display: flex;
    .esag_pagination {
        display: flex;
        margin-top: 30px;
        float: right;
        width: 100%;
        align-items: center;
        overflow-x: scroll;
        .paged {
            cursor: pointer;
            line-height: 0;
            &.disable {
                opacity: 0.5;
                pointer-events: none;
            }
            &.paged-prev {
                margin-right: auto;
            }
            &.paged-next {
                margin-left: auto;
            }
        }
        .pages {
            ul {
                display: flex;
                li {
                    .page-numbers {
                        background-color: transparent;
                        padding: 2px 5px;
                        margin: 0px 5px;
                        display: flex;
                        height: 35px;
                        width: 35px;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        vertical-align: middle;
                        border: 1px solid #84754E;
                        color: #84754E;
                        font-size: 14px;
                        &.current, &:hover {
                            background-color: #84754E;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}