<partial src="head.html" page="innerpage news-listing" title="About - News Listing"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>ALL THE HAPPENINGS</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav bg_peach">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb bg_tan">
  <div class="container">
    <ul>
      <li>About</li>
      <li>News</li>
    </ul>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="section-sub">IN THE NEWS</div>
    <h2 class="section-hd">ALL THE HAPPENINGS</h2>
    <div class="row newses owl-carousel">
      <div class="news-item ">
        <div class="news-content">
          <h5 class="section-hd">Why leadership matters in times of uncertainty by 
            Dr Raja Al Gurg</h5>
            <span class="section-sub">
              JUNE 23 2021
            </span>
            <p class="section-content">
              As the UAE begins to emerge from the COVID-19 pandemic, undoubtedly one of the most exceptional calamities of our lifetimes, we have all witnessed first-hand how strong leadership can define effective crisis navigation. 
            </p>
            <span class="more"><a href="#">READ MORE</a></span>
        </div>
      </div>
      <div class=" news-item">
        <div class="news-content">
          <h5 class="section-hd">Better Life delivery agreement with Aramex to enhance customer experience</h5>
            <span class="section-sub">
              JUNE 23 2021
            </span>
            <p class="section-content">
              The growth experienced by Better Life’s online business during the pandemic, is a key indicator of the change in purchasing behaviour. Better Life aims to adapt to this change and is working on building greater efficiency into their e-commerce model.
            </p>
            <span class="more"><a href="#">READ MORE</a></span>
        </div>
      </div>
    </div>
    <div class="prev all-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
    </div>
    <div class="next all-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
    </div>
    <!-- <buttonc class="buttin-defult">VIEW ALL</buttonc> -->
  </div>
</section>

<section class="news_listing_slider">
  <div class="container">
    <div class="sllider_wrapper" id="#news_slider">
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>EXPO 2022 - SHAPING OUR FUTURE WORLD</h2>
            <h4>JUNE 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="slider_item">
        <div class="row">
          <div class="col-md-4">
            <div class="news_thumb_image">
              <img src="uploads/about/related-link-01.jpg" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <h2>HY LEADERSHIP MATTERS IN THE TIME OF UNCERTAINITY BY Dr. RAJA AL GURG</h2>
            <h4>APRIL 23 2022</h4>
            <a href="#">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
