<partial src="head.html" page="innerpage" title="About - investment"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>SUSTAINABLE GROWTH</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" class="active">Investment Approach</a></li>
        <li><a data-scroll="" href="#">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <div class="container">
    <ul>
      <li>About</li>
      <li>Investment Approach</li>
    </ul>
  </div>
</section>

<section class="about-content">
  <div class="container">
    <div class="group-profile-content">
      <p>For over fifty one years, the Investments division has developed an impressive investment portfolio, 
          helping to establish the ESAG group as a multifaceted business conglomerate. Our prudent approach towards 
          identifying and investing inselect opportunities has delivered consistent performance. </p>
      <h2>Since, 1960 the Group has invested in 
          27 companies and 6 Joint Ventures across various industries in UAE, Saudi Arabia 
          and Oman.</h2>
      <p>Well-established Government ties, strong liquidity for expansion and a substantial resource pool combined with the capabilities of our 
              entrepreneurial management teams, places us in an excellent position to pursue future opportunities. The investment philosophy is driven by 
              ethical practice and professional management which reflects in all our business partnerships.</p>
      <p>ESAG’s investment approach is anchored within UAE and the GCC region focussing on varied business sectors and transaction structures. Our investment team helps portfolio companies in developing new strategies, 
              sustainable cash flow, joint purchasing and creating cross selling programmes.</p>
      <p>The team is focused on creating value through growth and operational improvement and incorporates this into the investment philosophy at 
              both the pre and post-investment stages. The Group adopts a long term approach on investments, while incorporating the latest technologies 
              and exploring dynamic business avenues.</p>
    </div>
  </div>
</section>

<section class="fundamentals">
  <div class="container">
    <div class="group-profile-content">
      <p>We aim to invest growth capital in companies which meet the following fundamental criteria:</p>
      <ul>
        <li>Exceptional management using best practices</li>
        <li>Sustainable growth and cash flows</li>
        <li>Brands with strong prospects for expansion</li>
        <li>Strong distribution network</li>
        <li>Value Added services & products</li>
        <li>Businesses with pricing power</li>
      </ul>
      <p>We invest strategically in a diverse portfolio, with the potential for superior returns. The Investment Division’s objective is to protect stake holder interest for the long term; 
        maximising investment opportunities and capitalising on optimised management of revenue streams.</p>
    </div>
  </div>
</section>

<section class="shaping-future ">
  <div class="future-bg">
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/home/Timeline.webp" type="image/webp">
      <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
      <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">INVESTMENT APPROACH</div>
      <h2 class="section-hd">SUSTAINABLE GROWTH</h2>
      <div class="future-content-inner">
        <p class="section-content">For over 51 years, the Investments division has developed an impressive investment portfolio, 
          helping to establish the ESAG group as a business conglomerate.</p>
        <buttonc class="buttin-defult">EXPLORE</button>
      </div>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
