<partial src="head.html" page="innerpage chairman" title="About - Chairman message and Profile"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/about-banner.webp" type="image/webp">
      <source srcset="uploads/about/about-banner.jpg" type="image/jpeg">
      <img src="uploads/about/about-banner.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>KNOW OUR LEADERS</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav bg_peach">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#" class="active">Leadership</a></li>
        <li><a data-scroll="" href="#">Investment Approach</a></li>
        <li><a data-scroll="" href="#">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb bg_tan">
  <div class="container">
    <ul>
      <li>About</li>
      <li>Leadership</li>
    </ul>
  </div>
</section>

<section class="about-content bg_tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <h2>HE Easa Saleh Al Gurg</h2>
        <h4>Founder & Chairman</h4>
      </div>
      <div class="col-lg-7 col-md-12">
        <p>With a history dating back to 1960, the Group is partnered by leading brands in various areas of enterprise across wide ranging industry
          and consumer sectors. Beginning in its early years as an exclusive trading partner for well-known consumer brands such as Grundig and 
          Siemens, ESAG today is a diversified conglomerate with businesses in retail, building and construction, industrial and real estate. The 
          Group’s institutional strengths, value-added products and services hold the key to its successful business relationships with partners and 
          customers.</p>
        <p>Through selective acquisitions and organic growth, ESAG has positioned itself for increased growth and continuing expansion into new 
          markets. The Group’s key joint ventures include Al Gurg Unilever, Siemens, Al Gurg Fosroc, Al Gurg Smollan, Akzo Nobel Decorative Paints,
          Siemens Healthcare and Siemens Mobility.</p>
      </div>
    </div>
  </div>
</section>

<section class="news-content">
  <div class="container">
    <div class="group-profile-content">
      <!-- <h2 class="title">Empowering women and creating real change in the boardroom by Dr Raja Al Gurg</h2> -->
      <!-- <h4 class="publish-date">JUNE 23 2021</h4> -->
    </div>
    <div class="future-bg featured-img">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/about/news-Img.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/about/news-Img.jpg" type="image/jpeg"> -->
        <source srcset="uploads/about/news-Img.webp" type="image/webp">
        <source srcset="uploads/about/news-Img.jpg" type="image/jpeg">
        <img src="uploads/about/news-Img.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div> 
    <div class="group-profile-content">
      <p>Sheikh Zayed bin Sultan Al Nahyan, the founding father of the UAE, once said: “I am a supporter of women. I say this to emphasise the right 
        of women to work and to participate in the building of their country.”</p>
      <p>Even before the unification of the Emirates in 1971, and certainly during the nation’s first 50 years, women have always played an 
        important role in UAE society. For decades of our country’s history and centuries before that, generations of women in this region have 
        worked hard and carried immense responsibility to family and society.</p>
      <p>Back when pearl diving was our main industry, when men left for months on end to work at sea, the resourceful and resilient women of the 
        region were responsible for the welfare of the entire family; this is no small feat when times were challenging, and resources were scarce. 
        Consequently, I believe resilience and fortitude are ingrained in the DNA of women in the Gulf.</p>
      <p>Despite misconceptions in certain corners of the world, UAE’s women have always been treated with respect — both for their actions, and 
        their role in society. It is this legacy that has shaped the role women can take as our nation moves forward.</p>
    </div>
  </div>
</section>

<section class="featured featured-gallery-news overflow-x-hidden">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">GALLERY</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div> 
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
      </div>            
    </div >
  </div>
</section>

<section class="about-content ">
  <div class="container">
    
    <div class="group-profile-content">
      <h2 class=" align-center underline">CHAIRMAN’S MESSAGE</h2>
      <p>For over fifty one years, the Investments division has developed an impressive
        investment portfolio, helping to establish the ESAG group as a multifaceted
        business conglomerate. Our prudent approach towards identifying and investing
        inselect opportunities has delivered consistent performance.</p>
      <h2>Since, 1960 the Group has invested in

        27 companies and 6 Joint Ventures across various industries in UAE, Saudi Arabia

        and Oman.</h2>
      <p>Well-established Government ties, strong liquidity for expansion and a
        substantial resource pool combined with the capabilities of our entrepreneurial
        management teams, places us in an excellent position to pursue future opportunities.
        The investment philosophy is driven by ethical practice and professional
        management which reflects in all our business partnerships.</p>
      <p>ESAG’s investment approach is anchored within UAE and the GCC region focussing
        on varied business sectors and transaction structures. Our investment team
        helps portfolio companies in developing new strategies, sustainable cash
        flow, joint purchasing and creating cross selling programmes.</p>
      <p>The team is focused on creating value through growth and operational improvement
        and incorporates this into the investment philosophy at both the pre and
        post-investment stages. The Group adopts a long term approach on investments,
        while incorporating the latest technologies and exploring dynamic business
        avenues.</p>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
