<partial src="head.html" page="innerpage" title="About - overview"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/about-banner.webp" type="image/webp">
      <source srcset="uploads/about/about-banner.jpg" type="image/jpeg">
      <img src="uploads/about/about-banner.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner inner_banner_align">
          <h1>REFLECTION OF A DREAM</h1>
          <span class="banner-subtxt">We have been ranked one of the Top 10 Arab 
            Family Businesses in the UAE 2021 by Forbes Middle East.</span>
            <div class="scroll-down-animation"></div>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#" class="active">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#">Investment Approach</a></li>
        <li><a data-scroll="" href="#">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <div class="container">
    <ul>
      <li>About</li>
      <li>Overview</li>
    </ul>
  </div>
</section>

<section class="about-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <h2>One of UAE’s most <br>
           eminent family businesses <br>
           with 27 companies in its <br>
           portfolio. </h2>
      </div>
      <div class="col-lg-7 col-md-12">
        <p>With a history dating back to 1960, the Group is partnered by leading brands in various areas of enterprise across wide ranging industry
          and consumer sectors. Beginning in its early years as an exclusive trading partner for well-known consumer brands such as Grundig and 
          Siemens, ESAG today is a diversified conglomerate with businesses in retail, building and construction, industrial and real estate. The 
          Group’s institutional strengths, value-added products and services hold the key to its successful business relationships with partners and 
          customers.</p>
        <p>Through selective acquisitions and organic growth, ESAG has positioned itself for increased growth and continuing expansion into new 
          markets. The Group’s key joint ventures include Al Gurg Unilever, Siemens, Al Gurg Fosroc, Al Gurg Smollan, Akzo Nobel Decorative Paints,
          Siemens Healthcare and Siemens Mobility.</p>
      </div>
    </div>
  </div>
</section>

<section class="shaping-future ">
  <div class="future-bg">
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/home/Timeline.webp" type="image/webp">
      <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
      <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">SINCE 1960</div>
    <h2 class="section-hd">SHAPING THE FUTURE</h2>
      <div class="future-content-inner">
        <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
        <buttonc class="buttin-defult">VIEW TIMELINE</button>
      </div>
    </div>
  </div>
</section>

<section class="group-profile">
  <div class="container">
    <div class="group-profile-content">
      <p>ESAG is a regional partner to over 370 international brands and principals from across the world. 
        It’s portfolio of brands comprises the likes of Osram, British American Tobacco, Dunlop, 
        Armitage Shanks, SieMatic, Steelcase, Delta, Trespa, Lutron, Danfoss, Smeg, and 3M among others.</p>
      <p>The Group’s engineering and manufacturing expertise offers technical consultancy, project management and contracting services to 
        construction, oil & gas, power and other infrastructure industries. In the consumer segment, the Group partners with state-of-the-art
        brands and products which cater to residential and commercial segments.</p>
      <p>As a UAE-based conglomerate, ESAG participates in the country’s progress and prosperity through transformational change. The Group’s
        manifold expertise is visible within several iconic projects in the UAE such as the Dubai Opera, Yas Marina, Burj Khalifa, Dubai Metro, 
        Dubai Tram, the Louvre and Sheikh Zayed Mosque.</p>
      <buttonc class="buttin-defult">DOWNLOAD GROUP PROFILE</button>
    </div>
  </div>
</section>

<section class="commitment">
  <div class="container">
    <div class="section-sub">LEADERSHIP</div>
    <h2 class="section-hd">LEADING THE WAY</h2>
    <div class="service owl-carousel">
      <div class="project-box">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
    </div>
    <div class="prev our-prev ">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
    </div>
    <div class="next our-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
    </div>
  </div>
</section>

<section class="career bg-white">
  <div class="container">
    <div class="careeer-bg">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/about/charity.webp" type="image/webp">
        <source srcset="uploads/about/charity.jpg" type="image/jpeg">
        <img src="uploads/about/charity.jpg" class="img-fluid" alt="algurg">
      </picture> 
      <div class="career-content half-width-content">
        <div class="section-sub">ESAG CHARITY FOUNDATION</div>
        <h2 class="section-hd">We Care For Our Society</h2>
        <p class="section-content">The ESAG Charity Foundation was set up in October 2010 by HE Easa Saleh Al Gurg, following a decree issued…</p>
        <span class="more"><a href="#">KNOW MORE</a> </span>
      </div>   
    </div>
  </div>
</section>

<section class="commitment">
  <div class="container">
    <div class="section-sub">CSR</div>
    <h2 class="section-hd">OUR COMMITMENT</h2>
    <div class="service owl-carousel">
      <div class="project-box">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/home/comit-1.webp" type="image/webp">
            <source srcset="uploads/home/comit-1.jpg" type="image/jpeg">
            <img src="uploads/home/comit-1.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Art of Dialogue</h3>
          <p class="section-content">The ‘Art of Dialogue’ is a series of interactions hosted at ESAG Design Hub where Emirati art aficionados come together.</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/home/comit-2.webp" type="image/webp">
            <source srcset="uploads/home/comit-2.jpg" type="image/jpeg">
            <img src="uploads/home/comit-2.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Women Empowerment</h3>
          <p class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure .</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
    </div>
    <div class="prev our-prev ">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
    </div>
    <div class="next our-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
    </div>
  </div>
</section>

<section class="who-we-are bg-white">
  <div class="container">
    <!-- <div class="section-sub">WHO WE ARE</div> -->
    <h2 class="section-hd">KEY FACTS</h2>
    <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 facts-desc-box">
        <div class="dream-box">
          <p>With a history dating back to 1960, the Group is partnered by leading brands in various areas of enterprise across wide ranging industry and consumer sectors.</p>
          <span class="more">KNOW MORE</span>
          <div class="slider">
            <span class="dream-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
              </svg>
            </span>
            <span class="dream-left">
              <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12 facts-list-box">
        <div class="row facts-carousal">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="portfolio-box">
              <div class="portfolio-img">
                <img src="uploads/home/portfolio.jpg" alt="">
              </div>
              <div class="portfolio-count">
                  <span class="count">30</span>
                  <span class="count-text">Companies in our portfolio</span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="portfolio-box">
              <div class="portfolio-img">
                <img src="uploads/home/brand.jpg" alt="">
              </div>
              <div class="portfolio-count">
                  <span class="count">370+</span>
                  <span class="count-text">Global Brands</span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="portfolio-box">
              <div class="portfolio-img">
                <img src="uploads/home/brand.jpg" alt="">
              </div>
              <div class="portfolio-count">
                  <span class="count">370+</span>
                  <span class="count-text">Global Brands</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>     
  </div>
</section>

<section class="shaping-future ">
  <div class="future-bg">
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">INVESTMENT APPROACH</div>
      <h2 class="section-hd">SUSTAINABLE GROWTH</h2>
      <div class="future-content-inner">
        <p class="section-content">For over 51 years, the Investments division has developed an impressive investment portfolio, 
          helping to establish the ESAG group as a business conglomerate.</p>
        <buttonc class="buttin-defult">EXPLORE</button>
      </div>
    </div>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="section-sub">IN THE NEWS</div>
    <h2 class="section-hd">ALL THE HAPPENINGS</h2>
    <div class="row newses owl-carousel">
      <div class="news-item ">
        <div class="news-content">
          <h5 class="section-hd">Why leadership matters in times of uncertainty by 
            Dr Raja Al Gurg</h5>
            <span class="section-sub">
              JUNE 23 2021
            </span>
            <p class="section-content">
              As the UAE begins to emerge from the COVID-19 pandemic, undoubtedly one of the most exceptional calamities of our lifetimes, we have all witnessed first-hand how strong leadership can define effective crisis navigation. 
            </p>
            <span class="more"><a href="#">READ MORE</a></span>
        </div>
      </div>
      <div class=" news-item">
        <div class="news-content">
          <h5 class="section-hd">Better Life delivery agreement with Aramex to enhance customer experience</h5>
            <span class="section-sub">
              JUNE 23 2021
            </span>
            <p class="section-content">
              The growth experienced by Better Life’s online business during the pandemic, is a key indicator of the change in purchasing behaviour. Better Life aims to adapt to this change and is working on building greater efficiency into their e-commerce model.
            </p>
            <span class="more"><a href="#">READ MORE</a></span>
        </div>
      </div>
    </div>
    <div class="prev all-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
    </div>
    <div class="next all-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
    </div>
    <buttonc class="buttin-defult">VIEW ALL</buttonc>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
