<partial src="head.html" page="innerpage benefits" title="Careers - Benefits"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>WE ARE HIRING</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb ">
  <div class="container">
    <ul>
      <li>Careers</li>
      <li>Vacancies</li>
    </ul>
  </div>
</section>



<section class="commitment bg_white">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <!-- <h2 class="section-hd">BENEFITS</h2> -->
    <h5 class="section_desc">Magna aliqua consectetur nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute nim ad minim veniam irure.</h5>
<div class="benefits_grid_block">
  <div class="grid_ist_item row">
    <div class="col-md-6">
      <div class="image_wrap">
        <img src="uploads/about/related-link-01.jpg" alt="img">
      </div>
    </div>
    <div class="col-md-6">
      <div class="body_content">
        <h4>Learning Center</h4>
        <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur. Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure .</p>
        <a href="#">KNOW MORE</a>
      </div>
    </div>
  </div>
  <div class="grid_ist_item row">
    <div class="col-md-6">
      <div class="image_wrap">
        <img src="uploads/about/related-link-01.jpg" alt="img">
      </div>
    </div>
    <div class="col-md-6">
      <div class="body_content">
        <h4>Learning Center</h4>
        <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur. Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure .</p>
        <a href="#">KNOW MORE</a>
      </div>
    </div>
  </div>
</div>
    <!-- <button class="buttin-defult">APPLY NOW
  </button></div> -->
</section>

<section class="commitment visible bg_peach">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">WOMAN@ESAG</h2>
    <h5 class="section_desc">Having women in our workforce enables ESAG to benefit from different points of view that come from varied life experiences. This multiplicity of perspectives sparks creativity and innovation. It also encourages us to challenge gender stereotypes.

      We believe in creating an environment where women can perform to their full potential. Our focus is to ensure they successfully navigate various life events, and also expand their access to career succession paths they want to pursue..</h5>
    <div class="programs_row row">
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp"
                                type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg"
                                type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder &amp; Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, is a distinguished personality
            who has surpassed in various fields…</p>
          <span class="more">

            <a href="#">KNOW MORE</a>



          </span>
        </div>
      </div>
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp"
                                type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg"
                                type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson &amp; Managing Director</p>
          <p class="section-content">Vice Chairperson &amp; Managing Director of the Easa Saleh Al Gurg Group,
            is a well known businesswoman in the region.</p>
          <span class="more">

            <a href="#">KNOW MORE</a>



          </span>
        </div>
      </div>
    </div>
    <!-- <buttonc class="buttin-defult">VIEW ALL</button> -->
  </div>
</section>

<section class="commitment ">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">ONGOING PROGRAMS</h2>
    <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5>
    <button class="buttin-defult">APPLY NOW</button>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
