<partial src="head.html" page="innerpage careers" title="Careers - Vacancies"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>LATEST VACANCIES</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb ">
  <div class="container">
    <ul>
      <li>Careers</li>
      <li>Vacancies</li>
    </ul>
  </div>
</section>



<section class="group-profile ">
  <div class="container">
    <div class="group-profile-content">
      <p>ESAG is a regional partner to over 370 international brands and principals
        from across the world. It’s portfolio of brands comprises the likes of
        Osram, British American Tobacco, Dunlop, Armitage Shanks, SieMatic, Steelcase,
        Delta, Trespa, Lutron, Danfoss, Smeg, and 3M among others.</p>
    </div>
<div class="vacancy_card_block row">
  <div class="col-lg-4 col-md-6 col-12">
    <div class="vacancy_card">
      <div class="card_upper">

        <h4>Assistant Showroom Manager</h4>
        <h6>JUNE 23 2021</h6>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore unde omnis iste natus error sit veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/hours.svg" alt="icon">
          </div>
          <p>5 - 9 Years</p>
        </div>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/location.svg" alt="icon">
          </div>
          <p>Dubai - United Arab Emirates</p>
        </div>
      </div>
      <a href="#">READ MORE</a>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="vacancy_card">
      <div class="card_upper">

        <h4>Assistant Showroom Manager</h4>
        <h6>JUNE 23 2021</h6>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore unde omnis iste natus error sit veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/hours.svg" alt="icon">
          </div>
          <p>5 - 9 Years</p>
        </div>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/location.svg" alt="icon">
          </div>
          <p>Dubai - United Arab Emirates</p>
        </div>
      </div>
      <a href="#">READ MORE</a>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="vacancy_card">
      <div class="card_upper">

        <h4>Assistant Showroom Manager</h4>
        <h6>JUNE 23 2021</h6>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore unde omnis iste natus error sit veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/hours.svg" alt="icon">
          </div>
          <p>5 - 9 Years</p>
        </div>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/location.svg" alt="icon">
          </div>
          <p>Dubai - United Arab Emirates</p>
        </div>
      </div>
      <a href="#">READ MORE</a>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="vacancy_card">
      <div class="card_upper">

        <h4>Assistant Showroom Manager</h4>
        <h6>JUNE 23 2021</h6>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore unde omnis iste natus error sit veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/hours.svg" alt="icon">
          </div>
          <p>5 - 9 Years</p>
        </div>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/location.svg" alt="icon">
          </div>
          <p>Dubai - United Arab Emirates</p>
        </div>
      </div>
      <a href="#">READ MORE</a>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="vacancy_card">
      <div class="card_upper">

        <h4>Assistant Showroom Manager</h4>
        <h6>JUNE 23 2021</h6>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore unde omnis iste natus error sit veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/hours.svg" alt="icon">
          </div>
          <p>5 - 9 Years</p>
        </div>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/location.svg" alt="icon">
          </div>
          <p>Dubai - United Arab Emirates</p>
        </div>
      </div>
      <a href="#">READ MORE</a>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="vacancy_card">
      <div class="card_upper">

        <h4>Assistant Showroom Manager</h4>
        <h6>JUNE 23 2021</h6>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore unde omnis iste natus error sit veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/hours.svg" alt="icon">
          </div>
          <p>5 - 9 Years</p>
        </div>
        <div class="detail">
          <div class="image">
            <img src="./assets/img/icons/location.svg" alt="icon">
          </div>
          <p>Dubai - United Arab Emirates</p>
        </div>
      </div>
      <a href="#">READ MORE</a>
      </div>
  </div>
</div>
<button class="buttin-defult pl-5 pr-5">VIEW ALL</button>
  </div>
</section>


<section class="commitment ">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">ONGOING PROGRAMS</h2>
    <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5>

    <button class="buttin-defult">APPLY NOW
  </button></div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
