<partial src="head.html" page="innerpage company-verticals-overview" title="Company - Verticals Overview"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>RETAILS & LIFESTYLE</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb ">
  <div class="container">
    <ul>
      <li>About</li>
      <li>News</li>
    </ul>
  </div>
</section>

<!-- <section class="group-profile">
  <div class="container">
  
  </div>
</section> -->


<section class="commitment bg_white">
  <div class="container">
    <div class="group-profile-content">
      <p>ESAG is a regional partner to over 370 international brands and principals
        from across the world. It’s portfolio of brands comprises the likes of
        Osram, British American Tobacco, Dunlop, Armitage Shanks, SieMatic, Steelcase,
        Delta, Trespa, Lutron, Danfoss, Smeg, and 3M among others.</p>
    </div>
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <!-- <h2 class="section-hd">Leadership Team</h2> -->
    <!-- <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5> -->
    <div class="programs_row row">
      <div class="project-box col-md-6">
        <div class="project-image" >
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
          <div class="logo_image">
            <img src="assets/img/logo/logo.svg" alt="">
          </div>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
          <div class="logo_image">
            <img src="assets/img/logo/logo.svg" alt="">
          </div>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
          <div class="logo_image">
            <img src="assets/img/logo/logo.svg" alt="">
          </div>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
          <div class="logo_image">
            <img src="assets/img/logo/logo.svg" alt="">
          </div>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
          <div class="logo_image">
            <img src="assets/img/logo/logo.svg" alt="">
          </div>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
          <div class="logo_image">
            <img src="assets/img/logo/logo.svg" alt="">
          </div>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
    </div>
      <!-- <buttonc class="buttin-defult">VIEW ALL</button> -->

  </div>
</section>


<!-- <section class="solution">
  <div class="future-bg solution-bg owl-carousel">
    <div class="future-banner">
      <picture>
        <source srcset="uploads/home/solutions.webp" type="image/webp">
        <source srcset="uploads/home/solutions.jpg" type="image/jpeg">
        <img src="uploads/home/solutions.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="future-banner">
      <picture>
        <source srcset="uploads/home/solutions.webp" type="image/webp">
        <source srcset="uploads/home/solutions.jpg" type="image/jpeg">
        <img src="uploads/home/solutions.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>    
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">FEATURED</div>
      <h2 class="section-hd">SOLUTIONS</h2>
      <div class="future-content-inner">
        <h2 class="section-hd">Lighting Technology</h2>
        <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
        <div class="solution-btns">
          <button class="buttin-defult">VIEW TIMELINE</button>
          <button class="buttin-defult">VIEW TIMELINE</button>
        </div>        
      </div>
    </div>
  </div>
  <div class="right-arow">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017" fill="#fff">
      <path fill="#fff" id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
  </div>
  <div class="left-arow">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017"  fill="#fff">
      <path fill="#fff" id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
  </div>
</section> -->

<section class="solution">
  <div class="solution-bg owl-carousel">
    <div class="solution-div">
      <div class="future-bg ">
        <div class="future-banner">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/home/solutions.webp" type="image/webp">
            <source srcset="uploads/home/solutions.jpg" type="image/jpeg">
            <img src="uploads/home/solutions.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>    
      </div>
      <div class="future-content">
        <div class="container">
          <div class="section-sub">FEATURED</div>
          <h2 class="section-hd">SOLUTIONS</h2>
          <div class="future-content-inner">
            <h2 class="section-hd">Lighting Technology</h2>
            <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
            <div class="solution-btns">
              <button class="buttin-defult">VIEW TIMELINE</button>
              <button class="buttin-defult">VIEW TIMELINE</button>
            </div>        
          </div>
        </div>
      </div>
    </div>
    <div class="solution-div">
      <div class="future-bg ">
        <div class="future-banner">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/home/solutions.webp" type="image/webp">
            <source srcset="uploads/home/solutions.jpg" type="image/jpeg">
            <img src="uploads/home/solutions.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>    
      </div>
      <div class="future-content">
        <div class="container">
          <div class="section-sub">FEATURED</div>
          <h2 class="section-hd">SOLUTIONS</h2>
          <div class="future-content-inner">
            <h2 class="section-hd">Lighting Technology</h2>
            <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
            <div class="solution-btns">
              <button class="buttin-defult">VIEW TIMELINE</button>
              <button class="buttin-defult">VIEW TIMELINE</button>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-arow">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017" fill="#fff">
      <path fill="#fff" id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
  </div>
  <div class="left-arow">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017"  fill="#fff">
      <path fill="#fff" id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
  </div>
</section>

<section class="career ">
  <div class="container">
    <div class="careeer-bg">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp"
                        type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg"
                        type="image/jpeg"> -->
        <source srcset="uploads/about/charity.webp" type="image/webp">
        <source srcset="uploads/about/charity.jpg" type="image/jpeg">
        <img src="uploads/about/charity.jpg" class="img-fluid" alt="algurg">
      </picture>
      <div class="career-content half-width-content">
        <div class="section-sub">ESAG CHARITY FOUNDATION</div>
        <h2 class="section-hd">We Care For Our Society</h2>
        <p class="section-content">The ESAG Charity Foundation was set up in October 2010 by HE Easa Saleh
          Al Gurg, following a decree issued…</p>
        <span class="more">
          <a href="#">KNOW MORE</a>
        </span>
      </div>
    </div>
  </div>
</section>

<section class="tailord " id="about">
  <div class="container">
    <div class="section-sub">TAILORED FOR YOU</div>
    <h2 class="section-hd">I WANT TO KNOW ABOUT</h2>
    <div class="about-service">
      <div class="tab-section">
        <ul class="tab-list">
          <li class="init">HOME FURNISHINGS</li>
          <li>INTERIOR FITOUT</li>
          <li>KITCHENS &amp; WARDROBES</li>
          <li>TRANSPORTATION &amp; MOBILITY</li>
      
      </div>
    
    </div>
  </div>
</section>
<section class="group-profile bg_peach common_contact_block">
  <div class="container">
    <div class="section-sub">TAILORED FOR YOU</div>
    <h2 class="section-hd">CONTACT US</h2>
    <div class="group-profile-content"><p>Amet consectetur adipiscing elit, sed do eiusmod tempor
       incididunt ut labore et dolore magna aliqua consec</p></div>
    <div class="contact_form_block">
      <form >
        <div class="row">
          <div class="col-md-6">
            <fieldset >
              <label for="name"></label>
              <input type="text" name="name" placeholder="Name*">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="email"></label>
              <input type="text" name="email" placeholder="Email*">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="messsage"></label>
              <textarea name="messsage" id=""  placeholder="Your Message"></textarea>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <p>By submitting this form, I authorize Algurg companies to contact me regarding this inquiry or according to my choice to register for future communications. See our Privacy Policy for more detail or opt-out at any point using the unsubscribe link on any of our emails.</p>
              <input type="submit" value="SUBMIT FORM" class="form-submit-btn">
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="csr-details-content featured featured-gallery-csr visible">
  <div class="container">
    <div class="back-to-csr">
      <a href="#" class="buttin-defult btn-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
          <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
        </svg>PREVIOUS EXPERTISE
      </a>
  
      <div class='expertise-selectbox'>
          <span>Select another expertise</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
            <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
          </svg>
          <div class="dropdown-options">
            <a href="#">another expertise</a> 
            <a href="#">Algurg</a>
            <a href="#">Lorem</a>
        </div>
      </div>
      <a href="#" class="buttin-defult btn-next">NEXT EXPERTISE
        <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
          <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
