<partial src="head.html" page="innerpage contact" title="Contact"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>CONTACT</h1>
        </div>
      </div>
    </div>
  </div>    
</section>

<section class="breadcrumb bg_peach">
  <div class="container">
    <ul>
      <li>CSR</li>
      <li>Societal Engagements</li>
    </ul>
  </div>
</section>



<section class="group-profile bg_peach">
  <div class="container">
    <div class="group-profile-content">
      <p>ESAG is a regional partner to over 370 international brands and principals
        from across the world. It’s portfolio of brands comprises the likes of
        Osram, British American Tobacco, Dunlop, Armitage Shanks, SieMatic, Steelcase,
        Delta, Trespa, Lutron, Danfoss, Smeg, and 3M among others.</p>
    </div>

    <div class="contact_form_block">
      <form >
        <div class="row">
          <div class="col-md-6">
            <fieldset >
              <label for="name"></label>
              <input type="text" name="name" placeholder="First Name*">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="lastname"></label>
              <input type="text" name="lastname" placeholder="Last Name*">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="company"></label>
              <input type="text" name="company" placeholder="Company*">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="email"></label>
              <input type="text" name="email" placeholder="Work Email*">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="country"></label>
              <input type="text" name="country" placeholder="Country*">
            </fieldset>
          </div>
           
    
          <div class="col-md-6">
            <fieldset>
              <label for="reason"></label>
              <input type="text" name="reason" placeholder="Reason for contactin*">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <label for="messsage"></label>
              <textarea name="messsage" id=""  placeholder="Your Message"></textarea>
            </fieldset>
          </div>

        
          <div class="col-md-6">
            <fieldset>
              <p>By submitting this form, I authorize Algurg companies to contact me regarding this inquiry or according to my choice to register for future communications. See our Privacy Policy for more detail or opt-out at any point using the unsubscribe link on any of our emails.</p>
              <input type="submit" value="SUBMIT FORM" class="form-submit-btn">
            </fieldset>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>

<section class="commitment bg_white">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">LOCATIONS</h2>
    <!-- <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5> -->

    <div class="contact_locations">
      <h3>HEADQUARTERS</h3>
      <div class="location_item row">
        <div class="col-md-4">
          <h4>Dubai</h4>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-6">
              <p>Al Gurg Tower , 1 Baniyas Rd <br>
                Dubai, United Arab Emirates</p>
            </div>
            <div class="col-6">
              <p>+9718003724</p>
              <p>info@algurg.com</p>
            </div>
          </div>
          <a href="#" >VIEW ON MAP</a>
        </div>
      </div>
    </div>
    <div class="contact_locations">
      <h3>INTERNATIONAL OFFICES</h3>
      <div class="location_item row">
        <div class="col-md-4">
          <h4>Dubai</h4>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-6">
              <p>Al Gurg Tower , 1 Baniyas Rd <br>
                Dubai, United Arab Emirates</p>
            </div>
            <div class="col-6">
              <p>+9718003724</p>
              <p>info@algurg.com</p>
            </div>
          </div>
          <a href="#" >VIEW ON MAP</a>
        </div>
      </div>
      <div class="location_item row">
        <div class="col-md-4">
          <h4>Dubai</h4>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-6">
              <p>Al Gurg Tower , 1 Baniyas Rd <br>
                Dubai, United Arab Emirates</p>
            </div>
            <div class="col-6">
              <p>+9718003724</p>
              <p>info@algurg.com</p>
            </div>
          </div>
          <a href="#" >VIEW ON MAP</a>
        </div>
      </div>  
    </div>
    <!-- <buttonc class="buttin-defult">VIEW ALL
  </buttonc> -->
</div>
</section>

<section class="shaping-future  ">
  <div class="future-bg">
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp"
                    type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg"
                    type="image/jpeg"> -->
      <source srcset="uploads/home/Timeline.webp" type="image/webp">
      <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
      <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">INVESTMENT APPROACH</div>
      <h2 class="section-hd">SUSTAINABLE GROWTH</h2>
      <div class="future-content-inner">
        <p class="section-content">For over 51 years, the Investments division has developed an impressive
          investment portfolio, helping to establish the ESAG group as a business
          conglomerate.</p>
        <buttonc class="buttin-defult">EXPLORE
      </buttonc></div>
    </div>
  </div>
</section>

<section class="commitment ">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">ONGOING PROGRAMS</h2>
    <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5>

    <button class="buttin-defult">APPLY NOW
  </button></div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
