<partial src="head.html" page="societal-engagements" title="SOCIETAL ENGAGEMENTS - Website"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/csr-overview/csr-details.webp" type="image/webp">
      <source srcset="uploads/csr-overview/csr-details.jpg" type="image/jpeg">
      <img src="uploads/csr-overview/csr-details.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>THE ART OF DIALOGUE</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#" >Overview</a></li>
        <li><a data-scroll="" href="#">Ongoing Programs</a></li>
        <li><a data-scroll="" class="active" href="#">Societal Engagements</a></li>
        <li><a data-scroll="" href="#">ESAG Charity Foundation</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <div class="container">
    <ul>
      <li>CSR</li>
      <li>Societal Engagements</li>
    </ul>
  </div>
</section>

<section class="csr-details-desc">
  <div class="container">
    <div class="group-profile-content">
      <p>The ‘Art of Dialogue’ is a series of interactions hosted at ESAG Design Hub where Emirati art aficionados come together to meet and 
        exchange ideas with like-minded individuals. The resilience of traditional UAE art interpretations has encouraged us to host these series 
        to seek new ways of adapting Emirati culture within the evolving art milieu.</p>
    </div>
  </div>
</section>

<section class="csr-details-content">
  <div class="container">
    <div class="group-profile-content">
      <h2>Art Of Dialogue 1: Art As Identity</h2>
      <p>Art and design is a multicultural phenomenon, not be viewed through a single perspective. The inaugural session welcomed a panel of 
        luminaries from the regional art scene - HE Noura Al Kaabi, UAE Minister of Culture and Knowledge Development; artists Emirati Ammar Al 
        Attar and Iraqi Rand Abdul Jabbar. During the session HE Noura Al Kaabi, encouraged greater focus on inspiring creative minds.</p>
    </div>
  </div>
</section>

<section class="group-profile bg_white">
  <div class="container">
    <div class="future-img">
      <picture>
        <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
        <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
        <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="group-profile-content">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas 
        sit aspernatur aut odit aut fugit, sed quia consequuntur  porro quisquam est, qui dolorem 
        ipsum quia dolor sit amet. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit 
        aut fugit, sed quia consequuntur  porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>

        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
        commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
</section>

<section class="csr-details-content">
  <div class="container">
    <div class="video-holder">
      <div id="player2" data-plyr-provider="vimeo" data-plyr-embed-id="76979871"></div>
    </div>
  </div>
</section>

<section class="featured featured-gallery-news overflow-x-hidden">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">GALLERY</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <a href="#">
              <picture>
                <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
                <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
                <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
              </picture>
            </a>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <a href="#">
              <picture>
                <source srcset="uploads/home/futre.webp" type="image/webp">
                <source srcset="uploads/home/futre.jpg" type="image/jpeg">
                <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
              </picture>
            </a>
          </div> 
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <a href="#">
              <picture>
                <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
                <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
                <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
              </picture>
            </a>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
      </div>            
    </div >
  </div>
</section>


<section class="csr-details-content">
  <div class="container">
    <div class="group-profile-content">
      <h2>Art Of Dialogue 1: Art As Identity</h2>
      <p>Art and design is a multicultural phenomenon, not be viewed through a single perspective. The inaugural session welcomed a panel of 
        luminaries from the regional art scene - HE Noura Al Kaabi, UAE Minister of Culture and Knowledge Development; artists Emirati Ammar Al 
        Attar and Iraqi Rand Abdul Jabbar. During the session HE Noura Al Kaabi, encouraged greater focus on inspiring creative minds.</p>
    </div>
  </div>
</section>

<section class="csr-details-content">
  <div class="container">
    <div class="video-holder">
      <div id="player1" data-plyr-provider="vimeo" data-plyr-embed-id="76979871"></div>
    </div>
  </div>
</section>

<section class="featured featured-gallery-news overflow-x-hidden">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">GALLERY</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div> 
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
      </div>            
    </div >
  </div>
</section>

<section class="csr-details-content ">
  <div class="back-to-csr">
    <button class="buttin-defult btn-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
      PREVIOUS ENGAGEMENT
    </button>
    <button class="buttin-defult btn-next">
      NEXT ENGAGEMENT
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
    </button>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>

<script>
	const videoPlayers1 = new Plyr('#player1');
	videoPlayers1.poster = 'uploads/csr-overview/video-img1.jpg';
	const videoPlayers2 = new Plyr('#player2');
	videoPlayers2.poster = 'uploads/csr-overview/video-img2.jpg';
</script>