<partial src="head.html" page="homepage" title="Homepage - Website"></partial>
<partial src="header.html"></partial> 

<section class="top-banner">
  <div class="custom-owl-left-arow custom-owl-arow-normal">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
      <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
    </svg> 
  </div>
  <div class="custom-owl-right-arow custom-owl-arow-normal">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
      <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
    </svg>
  </div>
  <div class="banner_slider owl-carousel ">
    <div class="banner_row " data-video="https://www.youtube.com/watch?v=oy18DJwy5lI">
      <div class="banner-img">    
        <div class="video-holder   player782454189">
          <div class="w-100 h-100 video_desktop">
          <div id="player782454189"  class="bannervideos"  data-plyr-provider="vimeo" data-plyr-embed-id="782454189"></div>
          <script>
            const player782454189 = new Plyr('#player782454189', {
                                                                    autoplay: true,
                                                                    loop: { active: true },
                                                                    //controls: ['play-large'],
                                                                    hideControls: true, 
                                                                    muted: true, 
                                                                    resetOnEnd : true,
                                                                  });
      // player782454189.on('ended', function(){
      //         videoSlider.trigger('next.owl.carousel');
      //       });
            player782454189.muted = true;
            var videoSlider = $('.banner_slider');
            videoSlider.on('translate.owl.carousel', function (e) {
              $('.owl-item .video-holder .bannervideos').each(function () {
                player782454189.pause();
              });
            });
            videoSlider.on('translated.owl.carousel', function (e) {
              if ($('.owl-item.active').find('.782454189').length !== 0) {
                player782454189.play();
                player782454189.muted = true;
              } else {
                player782454189.pause();
              }
            });
        
          
            // function goToNextCarouselPage() {    
            //   var $dots = $('.banner_slider .owl-dot');
            //     var $next = $dots.filter('.active').next();

            //     if (!$next.length)
            //         $next = $dots.first();

            //     $next.trigger('click');
            //   }

          </script>
          </div>
          <div class="w-100 h-100 video_mobile">

             <div id="player814497415"  class="bannervideos"  data-plyr-provider="vimeo" data-plyr-embed-id="814497415"></div>
             <script>
               const player814497415 = new Plyr('#player814497415', {
                                                                       autoplay: true,
                                                                       loop: { active: true },
                                                                       //controls: ['play-large'],
                                                                       hideControls: true, 
                                                                       muted: true, 
                                                                       resetOnEnd : true,
                                                                     });
         // player814497415.on('ended', function(){
         //         videoSlider.trigger('next.owl.carousel');
         //       });
               player814497415.muted = true;
               var videoSlider1 = $('.banner_slider');
               videoSlider1.on('translate.owl.carousel', function (e) {
                 $('.owl-item .video-holder .bannervideos').each(function () {
                   player814497415.pause();
                 });
               });
               videoSlider1.on('translated.owl.carousel', function (e) {
                 if ($('.owl-item.active').find('.814497415').length !== 0) {
                   player814497415.play();
                   player814497415.muted = true;
                 } else {
                   player814497415.pause();
                 }
               });
           
             
               // function goToNextCarouselPage() {    
               //   var $dots = $('.banner_slider .owl-dot');
               //     var $next = $dots.filter('.active').next();
   
               //     if (!$next.length)
               //         $next = $dots.first();
   
               //     $next.trigger('click');
               //   }
   
             </script>
          </div>
        </div>
      
      </div>
      <div class="banner-cnt">
        <div class="container">
          <div class="banner-text">
            <div class="banner-text-inner">
              <h1>Shaping the future together</h1>
              <span class="banner-subtxt">
                We have been ranked one of the Top 10 Arab Family Businesses in the UAE 2021 by Forbes Middle East.
              </span>
              <button class="buttin-defult banner-btn">READ ARTICLE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_row">
      <div class="banner-img">    
        <div class="video-holder">
          <div id="player11" class="videosss aa"  data-plyr-provider="youtube" data-plyr-embed-id="FTvWqmu429Y"></div>
        </div>
      </div>
      <div class="banner-cnt">
        <div class="container">
          <div class="banner-text">
            <div class="banner-text-inner">
              <h1>Shaping the future together</h1>
              <span class="banner-subtxt">
                We have been ranked one of the Top 10 Arab Family Businesses in the UAE 2021 by Forbes Middle East.
              </span>
              <button class="buttin-defult banner-btn">READ ARTICLE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_row">
      <div class="banner-img">    
        <picture>
          <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
          <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
          <source srcset="uploads/home/banner.webp" type="image/webp">
          <source srcset="uploads/home/banner.jpg" type="image/jpeg">
          <img src="uploads/home/banner.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div>
      <div class="banner-cnt">
        <div class="container">
          <div class="banner-text">
            <div class="banner-text-inner">
              <h1>Shaping the future together</h1>
              <span class="banner-subtxt">
                We have been ranked one of the Top 10 Arab Family Businesses in the UAE 2021 by Forbes Middle East.
              </span>
              <button class="buttin-defult banner-btn">READ ARTICLE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="baner-nav">
    <div class="container">
      <div class="banner-bottom-nav">
        <!-- <span class="">More from us</span> -->
        <span><a data-scroll="about" href="#"> SCROLL DOWN</a></span>
        <span><a data-scroll="about" href="#"> I WANT TO KNOW ABOUT</a></span>
        <span><a data-scroll="expertise" href="#"> OUR EXPERTISE</a></span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const player11 = new Plyr('#player11');
    player11.resetOnEnd = true;
    //player11.muted = true;
    // player11.hideControls = true;
    // player11.resetOnEnd = true;
  </script>
</section>

<section class="who-we-are">
  <div class="container">
    <div class="section-sub">WHO WE ARE</div>
    <h2 class="section-hd">REFLECTION OF A DREAM</h2>
    <div class="row">
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 facts-desc-box">
        <div class="dream-box">
          <p>With a history dating back to 1960, the Group is partnered by leading brands in various areas of enterprise across wide ranging industry and consumer sectors.</p>
          <span class="more">KNOW MORE</span>
          <div class="slider">
            <span class="dream-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
              </svg>
            </span>
            <span class="dream-left">
              <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12 facts-list-box">
        <div class="row facts-carousal">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="portfolio-box">
              <div class="portfolio-img">
                <img src="uploads/home/portfolio.jpg" alt="">
              </div>
              <div class="portfolio-count">
                  <span class="count">30</span>
                  <span class="count-text">Companies in our portfolio</span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="portfolio-box">
              <div class="portfolio-img">
                <img src="uploads/home/brand.jpg" alt="">
              </div>
              <div class="portfolio-count">
                  <span class="count">370+</span>
                  <span class="count-text">Global Brands</span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <div class="portfolio-box">
              <div class="portfolio-img">
                <img src="uploads/home/brand.jpg" alt="">
              </div>
              <div class="portfolio-count">
                  <span class="count">370+</span>
                  <span class="count-text">Global Brands</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>       
  </div>
</section>
<section class="shaping-future">
  <div class="future-bg">
    <picture>
      <source media="(max-width:990px)" srcset="uploads/abcd.webp" type="image/webp">
      <source media="(max-width:990px)" srcset="uploads/abcd.png" type="image/png">
      <source srcset="https://esag-algurg.pixelflames.net/wp-content/uploads-webpc/uploads/2022/12/MD-Timeline-1-1440x792.jpg.webp" type="image/webp">
      <source srcset="https://esag-algurg.pixelflames.net/wp-content/uploads/2022/12/MD-Timeline-1-1440x792.jpg" type="image/jpeg">
      <img src="https://esag-algurg.pixelflames.net/wp-content/uploads/2022/12/MD-Timeline-1-1440x792.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">SINCE 1960</div>
    <h2 class="section-hd">SHAPING THE FUTURE</h2>
      <div class="future-content-inner">
        <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
        <buttonc class="buttin-defult">VIEW TIMELINE</button>
      </div>
    </div>
  </div>
</section>
<section class="expertise overflow-x-hidden"  id="expertise">
  <div class="container">
    <div class="title">
      <div class="section-sub">WHAT WE DO</div>
      <h2 class="section-hd">OUR EXPERTISE</h2>
    </div>
    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter">

      </p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>

    <div class="custom-owl-left-arow custom-owl-arow">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
      </svg> 
    </div>
    <div class="custom-owl-right-arow custom-owl-arow">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
      </svg>
    </div>

    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">

        <div class="expertise">
          <div class="gallery-item">
            <div class="gallery-img">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/home/expertise-img.webp" type="image/webp">
                <source srcset="uploads/home/expertise-img.jpg" type="image/jpeg">
                <img src="uploads/home/expertise-img.jpg" class="img-fluid" alt="algurg">
              </picture>
            </div>
            <div class="gallery-content">
              <div class="content-hd">Retail & Lifestyle</div>
              <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
              <div class="expertise-btn">
                <div class="more"><a href="#">EXPLORE</a></div>
                <div class="slider">
                  <span class="exp-prev">              
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                    </svg>
                  </span>
                  <span class="exp-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>                                
          </div>
          <div class="logos home-expertise-list">
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
          </div>
        </div>  

        <div class="expertise">
          <div class="gallery-item">
            <div class="gallery-img">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/images/feature-galry1.webp" type="image/webp">
                <source srcset="uploads/images/feature-galry1.jpg" type="image/jpeg">
                <img src="uploads/images/feature-galry1.jpg" class="img-fluid" alt="algurg">
              </picture>
            </div>
            <div class="gallery-content">
              <div class="content-hd">Retail & Lifestyle</div>
              <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
              <div class="expertise-btn">
                <div class="more"><a href="#">EXPLORE</a></div>
                <div class="slider">
                  <span class="exp-prev">              
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                    </svg>
                  </span>
                  <span class="exp-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div> 
                               
          </div>
          <div class="logos home-expertise-list">
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
          </div>
        </div>

        <div class="expertise">
          <div class="gallery-item">
            <div class="gallery-img">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/home/expertise-img.webp" type="image/webp">
                <source srcset="uploads/home/expertise-img.jpg" type="image/jpeg">
                <img src="uploads/home/expertise-img.jpg" class="img-fluid" alt="algurg">
              </picture>
            </div>
            <div class="gallery-content">
              <div class="content-hd">Retail & Lifestyle</div>
              <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
              <div class="expertise-btn">
                <div class="more"><a href="#">EXPLORE</a></div>
                <div class="slider">
                  <span class="exp-prev">              
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                    </svg>
                  </span>
                  <span class="exp-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>                                
          </div>
          <div class="logos home-expertise-list">
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
          </div>
        </div>  

        <div class="expertise">
          <div class="gallery-item">
            <div class="gallery-img">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/images/feature-galry1.webp" type="image/webp">
                <source srcset="uploads/images/feature-galry1.jpg" type="image/jpeg">
                <img src="uploads/images/feature-galry1.jpg" class="img-fluid" alt="algurg">
              </picture>
            </div>
            <div class="gallery-content">
              <div class="content-hd">Retail & Lifestyle</div>
              <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
              <div class="expertise-btn">
                <div class="more"><a href="#">EXPLORE</a></div>
                <div class="slider">
                  <span class="exp-prev">              
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                    </svg>
                  </span>
                  <span class="exp-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                      <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div> 
                               
          </div>
          <div class="logos home-expertise-list">
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
            <span class="logo-item">
              <img src="uploads/home/SieMatic.svg" alt="logo">
            </span>
          </div>
        </div>
      </div>
      
      
    </div >
  </div>
</section>
<section class="solution">
  <div class="future-bg solution-bg owl-carousel">
    <div class="future-banner">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/home/solutions.webp" type="image/webp">
        <source srcset="uploads/home/solutions.jpg" type="image/jpeg">
        <img src="uploads/home/solutions.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="future-banner">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/home/solutions.webp" type="image/webp">
        <source srcset="uploads/home/solutions.jpg" type="image/jpeg">
        <img src="uploads/home/solutions.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>    
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">FEATURED</div>
      <h2 class="section-hd">SOLUTIONS</h2>
      <div class="future-content-inner">
        <h2 class="section-hd">Lighting Technology</h2>
        <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
        <div class="solution-btns">
          <button class="buttin-defult">VIEW TIMELINE</button>
          <button class="buttin-defult">VIEW TIMELINE</button>
        </div>        
      </div>
    </div>
  </div>
  <div class="right-arow">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017" fill="#fff">
      <path fill="#fff" id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
  </div>
  <div class="left-arow">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017"  fill="#fff">
      <path fill="#fff" id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
  </div>
</section>

<section class="tailord detail-blocks" id="about">
  <div class="container">
    <div class="section-sub">TAILORED FOR YOU</div>
    <h2 class="section-hd">I WANT TO KNOW ABOUT</h2>
    <div class="about-service">
      <div class="tab-section">
        <ul class="tab-list">
          <li class="active">HOME FURNISHINGS</li>
          <li>INTERIOR FITOUT</li>
          <li>KITCHENS & WARDROBES</li>
          <li>LIFE SCIENCES & HEALTHCARE</li>
          <li>INTERIOR DESIGN</li>
          <li>LIGHTING SOLUTIONS</li>
          <li>AUTOMATION</li>
          <li>TYRES</li>
          <li>OFFICE FURNITURE</li>
          <li>BUILDING SOLUTIONS</li>
          <li class="toggle_tab"><div class="toggle_tab_text">SHOW MORE</div></li>
        </ul>
        <!-- <div class="service-hide">
          <span class="show">
            <div class="show-more">SHOW MORE</div>
            <div class="show-less">SHOW LESS</div>
          </span>
        </div> -->
      </div>
      <div class="tab-content">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="detail-blocks-div">
              <div class="detail-blocks-image">
                <picture>
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
                <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
                </picture>
                <div class="detail-blocks-tags">
                    <h5 class="tag-name">INTERIOR DESIGN</h5>
                    <h5>COMPANY</h5>
                </div>
              </div>
              <div class="detail-blocks-content">
                <h3>Heading</h3>
                <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip. <span class="more"><a href="#">KNOW MORE</a></span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="detail-blocks-div">
              <div class="detail-blocks-image">
                <picture>
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
                <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
                </picture>
                <div class="detail-blocks-tags">
                    <h5 class="tag-name">INTERIOR DESIGN</h5>
                    <h5>COMPANY</h5>
                </div>
              </div>
              <div class="detail-blocks-content">
                <h3>Heading</h3>
                <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip. <span class="more"><a href="#">KNOW MORE</a></span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="detail-blocks-div">
              <div class="detail-blocks-image">
                <picture>
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
                <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
                </picture>
                <div class="detail-blocks-tags">
                    <h5 class="tag-name">INTERIOR DESIGN</h5>
                    <h5>COMPANY</h5>
                </div>
              </div>
              <div class="detail-blocks-content">
                <h3>Heading</h3>
                <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut. <span class="more"><a href="#">KNOW MORE</a></span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="detail-blocks-div">
              <div class="detail-blocks-image">
                <picture>
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
                <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
                <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
                </picture>
                <div class="detail-blocks-tags">
                    <h5 class="tag-name">INTERIOR DESIGN</h5>
                    <h5>COMPANY</h5>
                </div>
              </div>
              <div class="detail-blocks-content">
                <h3>Heading</h3>
                <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex. <span class="more"><a href="#">KNOW MORE</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="item-show buttin-defult">VIEW ALL</button>
    </div>
  </div>
</section>
<section class="career">
  <div class="container">
    <div class="careeer-bg">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/images/careers.webp" type="image/webp">
        <source srcset="uploads/images/careers.jpg" type="image/jpeg">
        <img src="uploads/images/careers.jpg" class="img-fluid" alt="algurg">
      </picture> 
      <div class="career-content">
        <div class="section-sub">CAREERS</div>
        <h2 class="section-hd">We Are Hiring</h2>
        <p class="section-content">A Business which started at a small office in Dubai in 1960 is now spread across UAE , Oman and Saudi Arabia.</p>
        <span class="more"><a href="#">LATEST VACANCIES</a> 
          
        </span>
      </div>   
    </div>
    
  </div>
</section>
 
<section class="message">
  <div class="message-bg">
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/images/pearl.webp" type="image/webp">
      <source srcset="uploads/images/pearl.jpg" type="image/jpeg">
      <img src="uploads/images/pearl.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="message-content">
    <div class="container">
      <h2 class="section-hd">A diver thinking of sharks will never get pearls.</h1>
      <div class="messager">
        <span class="messager-name">H.E. EASA SALEH AL GURG, KCVO, CBE</span>
        <span class="messger-position">FOUNDER & CHAIRMAN</span>
        <!-- <span class="more"><a href="#">CHAIRMAN’S MESSAGE</a> 
          
        </span> -->
      </div>
    </div>
  </div>    
</section>

<section class="commitment">
  <div class="container">
    <div class="section-sub">CSR</div>
    <h2 class="section-hd">OUR COMMITMENT</h2>
    <div class="service owl-carousel">
     
          <div class="project-box">
            <div class="project-image">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/home/comit-1.webp" type="image/webp">
                <source srcset="uploads/home/comit-1.jpg" type="image/jpeg">
                <img src="uploads/home/comit-1.jpg" class="img-fluid" alt="algurg">
              </picture>
              
            </div>
            <div class="project-content">
              <h3>Art of Dialogue</h3>
              <p class="section-content">The ‘Art of Dialogue’ is a series of interactions hosted at ESAG Design Hub where Emirati art aficionados come together.</p>
              <span class="more"><a href="#">KNOW MORE</a>  
                
              </span>
              
            </div>
          </div>                
          <div class="project-box">
            <div class="project-image">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/home/comit-2.webp" type="image/webp">
                <source srcset="uploads/home/comit-2.jpg" type="image/jpeg">
                <img src="uploads/home/comit-2.jpg" class="img-fluid" alt="algurg">
              </picture>

            </div>
            <div class="project-content">
              <h3>Women Empowerment</h3>
              <p class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure .</p>
              <span class="more"><a href="#">KNOW MORE</a> 
                
              </span>
              
            </div>
          </div>             
    
  
    </div>
    <div class="prev our-prev ">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
        </svg>
    </div>
    <div class="next our-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
        </svg>
    </div>
  </div>
</section>

<section class="commitment">
  <div class="container">
    <div class="section-sub">CSR</div>
    <h2 class="section-hd">OUR COMMITMENT</h2>
    <div class="single_service owl-carousel">
     
          <div class="project-box">
            <div class="project-image">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/home/comit-1.webp" type="image/webp">
                <source srcset="uploads/home/comit-1.jpg" type="image/jpeg">
                <img src="uploads/home/comit-1.jpg" class="img-fluid" alt="algurg">
              </picture>
              
            </div>
            <div class="project-content">
              <h3>Art of Dialogue</h3>
              <p class="section-content">The ‘Art of Dialogue’ is a series of interactions hosted at ESAG Design Hub where Emirati art aficionados come together.</p>
              <span class="more"><a href="#">KNOW MORE</a>  
                
              </span>
              
            </div>
          </div>                
          <div class="project-box">
            <div class="project-image">
              <picture>
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
                <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
                <source srcset="uploads/home/comit-2.webp" type="image/webp">
                <source srcset="uploads/home/comit-2.jpg" type="image/jpeg">
                <img src="uploads/home/comit-2.jpg" class="img-fluid" alt="algurg">
              </picture>

            </div>
            <div class="project-content">
              <h3>Women Empowerment</h3>
              <p class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure .</p>
              <span class="more"><a href="#">KNOW MORE</a> 
                
              </span>
              
            </div>
          </div>             
    
  
    </div>
    <div class="prev our-prev ">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
        </svg>
    </div>
    <div class="next our-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
        </svg>
    </div>
  </div>
</section>

<section class="featured overflow-x-hidden">
  <div class="container">
    <div class="title">
      <div class="section-sub">INSIGHTS</div>
      <h2 class="section-hd">FUTURISTIC</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>

    <div class="custom-owl-left-arow custom-owl-arow">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
      </svg> 
    </div>
    <div class="custom-owl-right-arow custom-owl-arow">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
      </svg>
    </div>
    
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>
          <div class="gallery-content">
            <div class="content-hd">Retail & Lifestyle</div>
            <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
            <span class="more"><a href="#">EXPLORE</a></span>
            <!-- <div class="slider">
              <span class="glry-prev">              
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                </svg>
              </span>
              <span class="glry-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                </svg>
              </span>
            </div> -->
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>
          <div class="gallery-content">
            <div class="content-hd">Retail & Lifestyle</div>
            <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
            <span class="more"><a href="#">EXPLORE</a></span>
            <!-- <div class="slider">
              <span class="glry-prev">              
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                </svg>
              </span>
              <span class="glry-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                </svg>
              </span>
            </div> -->
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>
          <div class="gallery-content">
            <div class="content-hd">Retail & Lifestyle</div>
            <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
            <span class="more"><a href="#">EXPLORE</a></span>
            <!-- <div class="slider">
              <span class="glry-prev">              
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                </svg>
              </span>
              <span class="glry-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                </svg>
              </span>
            </div> -->
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>
          <div class="gallery-content">
            <div class="content-hd">Retail & Lifestyle</div>
            <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
            <span class="more"><a href="#">EXPLORE</a></span>
            <!-- <div class="slider">
              <span class="glry-prev">              
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                </svg>
              </span>
              <span class="glry-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                </svg>
              </span>
            </div> -->
          </div>                    
        </div>
      </div>            
    </div >
  </div>
</section>


<section class="news">
  <div class="container">
    <div class="section-sub">IN THE NEWS</div>
    <h2 class="section-hd">ALL THE HAPPENINGS</h2>
    <div class="row newses owl-carousel">
      <div class="news-item ">
        <div class="news-content">
          <h5 class="section-hd">Why leadership matters in times of uncertainty by 
            Dr Raja Al Gurg</h5>
            <span class="section-sub">
              JUNE 23 2021
            </span>
            <p class="section-content">
              As the UAE begins to emerge from the COVID-19 pandemic, undoubtedly one of the most exceptional calamities of our lifetimes, we have all witnessed first-hand how strong leadership can define effective crisis navigation. 
            </p>
            <span class="more"><a href="#">READ MORE</a></span>
        </div>
      </div>
      <div class=" news-item">
        <div class="news-content">
          <h5 class="section-hd">Better Life delivery agreement with Aramex to enhance customer experience</h5>
            <span class="section-sub">
              JUNE 23 2021
            </span>
            <p class="section-content">
              The growth experienced by Better Life’s online business during the pandemic, is a key indicator of the change in purchasing behaviour. Better Life aims to adapt to this change and is working on building greater efficiency into their e-commerce model.
            </p>
            <span class="more"><a href="#">READ MORE</a></span>
        </div>
      </div>
    </div>
    <div class="prev all-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
    </div>
    <div class="next all-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
    </div>
    <button class="item-show buttin-defult">VIEW ALL</button>
  </div>
</section>
<section class="connected"> 
  <div class="container">
    <div class="section-sub">
      <svg xmlns="http://www.w3.org/2000/svg" width="28.436" height="23" viewBox="0 0 28.436 23">
        <path id="Twitter" d="M27.544,2.63a.639.639,0,0,1,.774.952,12.2,12.2,0,0,1-2.664,2.783q0,.176,0,.4a15.984,15.984,0,0,1-.681,4.586,16.439,16.439,0,0,1-2.069,4.387,17.285,17.285,0,0,1-3.3,3.709,14.838,14.838,0,0,1-4.643,2.591A17.123,17.123,0,0,1,9.187,23,16.265,16.265,0,0,1,.3,20.44a.639.639,0,0,1,.414-1.174,11.5,11.5,0,0,0,1.273.064A10.378,10.378,0,0,0,7.174,18a6.122,6.122,0,0,1-1.9-.96,6,6,0,0,1-2.191-3.022.64.64,0,0,1,.444-.816,6.41,6.41,0,0,1-1.006-.964A5.884,5.884,0,0,1,1.1,8.343V8.275a.639.639,0,0,1,.947-.56l.112.06q-.144-.215-.272-.445a5.915,5.915,0,0,1-.753-2.925,5.948,5.948,0,0,1,.848-3.093.639.639,0,0,1,1.042-.08A15.094,15.094,0,0,0,7.9,5.118a14.965,14.965,0,0,0,5.36,1.562q-.025-.282-.025-.56a5.88,5.88,0,0,1,1.819-4.333A6.042,6.042,0,0,1,19.437,0a6.021,6.021,0,0,1,4.273,1.675,10.368,10.368,0,0,0,3-1.18.639.639,0,0,1,.93.75,6.07,6.07,0,0,1-.84,1.671Q27.173,2.787,27.544,2.63Z" fill="#a9986a"/>
      </svg>
    </div>
    <h2 class="section-hd">BE CONNECTED</h2>
    <div class="twt-feeds owl-carousel">
      
        <div class="tweet-box">
          <div class="tweet-profile">
              <span class="pro-icon">
                <img src="uploads/home/pro-icon1.jpg" alt="">
              </span>
              <span class="pro-titles">
                Easa Saleh Al Gurg Group
                @AlGurgGroup
              </span>              
          </div>
          <p class="tweet-content">
            Applauding the pivotal role of our women leaders, as we honour the remarkable achievements of Emirati women in UAE's golden jubilee year.
            <br>
            <br>
            
            Happy Emirati Women's Day.
          </p>
          <div class="tweet-fetre">
            <span class="like-share">
              <svg xmlns="http://www.w3.org/2000/svg" width="15.732" height="15.61" viewBox="0 0 15.732 15.61">
                <path id="Stroke_132" data-name="Stroke 132" d="M7.5,15.448l-.292-.319-.768-.842c-.794-.874-1.588-1.753-2.329-2.584l-.142-.158A44.67,44.67,0,0,1,.695,7.661,5.444,5.444,0,0,1,1.9.844,3.967,3.967,0,0,1,7.866,2.179,3.966,3.966,0,0,1,13.831.844a5.443,5.443,0,0,1,1.205,6.817,44.67,44.67,0,0,1-3.272,3.884l-.141.158c-.742.831-1.536,1.71-2.33,2.584l-.768.842-.292.319a.5.5,0,0,1-.737,0Z" transform="translate(0 0)" fill="#c9a34b"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="15.694" height="15.694" viewBox="0 0 15.694 15.694">
                <path id="Combined_Shape" data-name="Combined Shape" d="M4.418,15.694A4.562,4.562,0,0,1,0,11v-.7a.5.5,0,1,1,1,0V11a3.564,3.564,0,0,0,3.418,3.694h6.857A3.565,3.565,0,0,0,14.694,11v-.7a.5.5,0,1,1,1,0V11a4.563,4.563,0,0,1-4.419,4.694Zm3.425-4.408a.5.5,0,0,1-.5-.5L7.405,1.6,3.85,4.771a.5.5,0,0,1-.665-.746L7.529.15a.6.6,0,0,1,.795,0l4.342,3.874A.5.5,0,0,1,12,4.771l-3.6-3.206-.059,9.224a.5.5,0,0,1-.5.5Z" transform="translate(15.694) rotate(90)" fill="#c9a34b"/>
              </svg>
            </span>
            <span class="date">AUG 28, 2021</span>
          </div>
        </div>
            
      <div class="tweet-box">
          <div class="tweet-profile">
              <span class="pro-icon">
                <img src="uploads/home/pro-icon1.jpg" alt="">
              </span>
              <span class="pro-titles">
                Easa Saleh Al Gurg Group
                @AlGurgGroup
              </span>              
          </div>
          <p class="tweet-content">
            <a href="#">#ESAGDiaries</a> is a snapshot of the daily routine of an entity or corporate office team member. We begin our series with Hakim Lalipurwala, Chief Internal Auditor, as he responds to some rapid fire questions.
          </p>
          <div class="tweet-fetre">
            <span class="like-share">
              <svg xmlns="http://www.w3.org/2000/svg" width="15.732" height="15.61" viewBox="0 0 15.732 15.61">
                <path id="Stroke_132" data-name="Stroke 132" d="M7.5,15.448l-.292-.319-.768-.842c-.794-.874-1.588-1.753-2.329-2.584l-.142-.158A44.67,44.67,0,0,1,.695,7.661,5.444,5.444,0,0,1,1.9.844,3.967,3.967,0,0,1,7.866,2.179,3.966,3.966,0,0,1,13.831.844a5.443,5.443,0,0,1,1.205,6.817,44.67,44.67,0,0,1-3.272,3.884l-.141.158c-.742.831-1.536,1.71-2.33,2.584l-.768.842-.292.319a.5.5,0,0,1-.737,0Z" transform="translate(0 0)" fill="#c9a34b"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="15.694" height="15.694" viewBox="0 0 15.694 15.694">
                <path id="Combined_Shape" data-name="Combined Shape" d="M4.418,15.694A4.562,4.562,0,0,1,0,11v-.7a.5.5,0,1,1,1,0V11a3.564,3.564,0,0,0,3.418,3.694h6.857A3.565,3.565,0,0,0,14.694,11v-.7a.5.5,0,1,1,1,0V11a4.563,4.563,0,0,1-4.419,4.694Zm3.425-4.408a.5.5,0,0,1-.5-.5L7.405,1.6,3.85,4.771a.5.5,0,0,1-.665-.746L7.529.15a.6.6,0,0,1,.795,0l4.342,3.874A.5.5,0,0,1,12,4.771l-3.6-3.206-.059,9.224a.5.5,0,0,1-.5.5Z" transform="translate(15.694) rotate(90)" fill="#c9a34b"/>
              </svg>
            </span>
            <span class="date">AUG 28, 2021</span>
          </div>
      
      </div>
      
        <div class="tweet-box">
          <p class="tweet-content-before"> Easa Saleh Al Gurg Group Retweeted</p>
          <div class="tweet-profile">
              <span class="pro-icon">
                <img src="uploads/home/pro-icon2.jpg" alt="">
              </span>
              <span class="pro-titles">
                Easa Saleh Al Gurg Group
                @AlGurgGroup
              </span>              
          </div>
          <p class="tweet-content">
            Emirati businesswoman and philanthropist @MunaAlGurg and @BadrJafar discuss the global philanthropic landscape and lessons to help improve #philanthropy in the #MiddleEast.
          </p>
          <div class="tweet-fetre">
            <span class="like-share">
              <svg xmlns="http://www.w3.org/2000/svg" width="15.732" height="15.61" viewBox="0 0 15.732 15.61">
                <path id="Stroke_132" data-name="Stroke 132" d="M7.5,15.448l-.292-.319-.768-.842c-.794-.874-1.588-1.753-2.329-2.584l-.142-.158A44.67,44.67,0,0,1,.695,7.661,5.444,5.444,0,0,1,1.9.844,3.967,3.967,0,0,1,7.866,2.179,3.966,3.966,0,0,1,13.831.844a5.443,5.443,0,0,1,1.205,6.817,44.67,44.67,0,0,1-3.272,3.884l-.141.158c-.742.831-1.536,1.71-2.33,2.584l-.768.842-.292.319a.5.5,0,0,1-.737,0Z" transform="translate(0 0)" fill="#c9a34b"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="15.694" height="15.694" viewBox="0 0 15.694 15.694">
                <path id="Combined_Shape" data-name="Combined Shape" d="M4.418,15.694A4.562,4.562,0,0,1,0,11v-.7a.5.5,0,1,1,1,0V11a3.564,3.564,0,0,0,3.418,3.694h6.857A3.565,3.565,0,0,0,14.694,11v-.7a.5.5,0,1,1,1,0V11a4.563,4.563,0,0,1-4.419,4.694Zm3.425-4.408a.5.5,0,0,1-.5-.5L7.405,1.6,3.85,4.771a.5.5,0,0,1-.665-.746L7.529.15a.6.6,0,0,1,.795,0l4.342,3.874A.5.5,0,0,1,12,4.771l-3.6-3.206-.059,9.224a.5.5,0,0,1-.5.5Z" transform="translate(15.694) rotate(90)" fill="#c9a34b"/>
              </svg>
            </span>
            <span class="date">AUG 28, 2021</span>
          </div>
        </div>
        
    </div> 
    <div class="prev be-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
    </div>
    <div class="next be-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
      </svg>
    </div>     
  </div>
</section>
<partial src="footer.html"></partial>
