<partial src="head.html" page="innerpage insight-details" title="Insight - Details"></partial>
<partial src="header.html"></partial> 

<div class="header_spacer"></div>

<section class="breadcrumb mt-5">
  <div class="container">
    <ul>
      <li>Insights</li>
      <li>Article</li>
    </ul>
  </div>
</section>






<section class="commitment news-content bg_white">
  <div class="container">
    <div class="section-sub">CATEGORY NAME</div>
    <h2 class="section-hd">Article title to come here</h2>
    <h5 class="section_subtitle">AUTHOR NAME  - JUNE 23 2021.</h5>
    <div class="future-bg featured-img mt-5">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/about/news-Img.webp"
                        type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/about/news-Img.jpg"
                        type="image/jpeg"> -->
        <source srcset="uploads/about/news-Img.webp" type="image/webp">
        <source srcset="uploads/about/news-Img.jpg" type="image/jpeg">
        <img src="uploads/about/news-Img.jpg" class="img-fluid" alt="algurg">
      </picture>
      <div class="likes_counter">
        <div class="icon">
          <img src="./assets/img/icons/heart.svg" alt="heart icon">
        </div>
        <span>234</span>
      </div>
    </div>
    <div class="group-profile-content">
      <p>Sheikh Zayed bin Sultan Al Nahyan, the founding father of the UAE, once
        said: “I am a supporter of women. I say this to emphasise the right of
        women to work and to participate in the building of their country.”</p>
      <p>Even before the unification of the Emirates in 1971, and certainly during
        the nation’s first 50 years, women have always played an important role
        in UAE society. For decades of our country’s history and centuries before
        that, generations of women in this region have worked hard and carried
        immense responsibility to family and society.</p>
      <p>Back when pearl diving was our main industry, when men left for months
        on end to work at sea, the resourceful and resilient women of the region
        were responsible for the welfare of the entire family; this is no small
        feat when times were challenging, and resources were scarce. Consequently,
        I believe resilience and fortitude are ingrained in the DNA of women in
        the Gulf.</p>
      <p>Despite misconceptions in certain corners of the world, UAE’s women have
        always been treated with respect — both for their actions, and their role
        in society. It is this legacy that has shaped the role women can take as
        our nation moves forward.</p>
      <p>The Dubai Business Women Council (DBWC) is a perfect example of the infrastructure
        in place as Dubai and the UAE create an enabling and supportive ecosystem
        to nurture female talent. Formed in March 2002 under the auspices of Dubai
        Chamber, DBWC has one simple mission: to encourage businesswomen in Dubai
        and help contribute to the national economy.</p>
      <p>For nearly 20 years, DBWC has been instrumental in the personal and professional
        development of businesswomen in the emirate. The Council encourages women
        to play an active role in building the country and stimulating sustainable
        development.</p>
      <p>As Vice Chair and Managing Director of the Easa Saleh Al Gurg Group, I
        was fortunate to be given the opportunity as I learned the running of a
        family business under the tutelage of my father. His counsel and insights
        have helped shaped me and my own brand of leadership.</p>
      <h2>This experience and my own journey has nurtured unique insights into how we can support women,

        and what successful women bring to the leadership table.</h2>
    </div>
</section>

<section class="shaping-future ">
  <div class="future-bg">
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp"
                    type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg"
                    type="image/jpeg"> -->
      <source srcset="uploads/home/Timeline.webp" type="image/webp">
      <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
      <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="future-content">
    <div class="container">
      <div class="section-sub">SINCE 1960</div>
      <h2 class="section-hd">SHAPING THE FUTURE</h2>
      <div class="future-content-inner">
        <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
        <buttonc class="buttin-defult">VIEW TIMELINE
      </buttonc></div>
    </div>
  </div>
</section> 

<section class="commitment bg_white ">
  <div class="container">

    <div class="group-profile-content">
      <p>Sheikh Zayed bin Sultan Al Nahyan, the founding father of the UAE, once
        said: “I am a supporter of women. I say this to emphasise the right of
        women to work and to participate in the building of their country.”</p>
      <p>Even before the unification of the Emirates in 1971, and certainly during
        the nation’s first 50 years, women have always played an important role
        in UAE society. For decades of our country’s history and centuries before
        that, generations of women in this region have worked hard and carried
        immense responsibility to family and society.</p>

    </div>
</section>

<section class="featured featured-gallery-news overflow-x-hidden">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">GALLERY</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div> 
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
      </div>            
    </div >
  </div>
</section>

<section class="commitment bg_white ">
  <div class="container"> 

    <div class="group-profile-content">
      <p>Sheikh Zayed bin Sultan Al Nahyan, the founding father of the UAE, once
        said: “I am a supporter of women. I say this to emphasise the right of
        women to work and to participate in the building of their country.”</p>
      <p>Even before the unification of the Emirates in 1971, and certainly during
        the nation’s first 50 years, women have always played an important role
        in UAE society. For decades of our country’s history and centuries before
        that, generations of women in this region have worked hard and carried
        immense responsibility to family and society.</p>

    </div>
    <div class="back-to-csr">
      <a href="#" class="buttin-defult btn-prev">
  
  
  
        <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
  
  
  
          <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
  
  
  
        </svg>PREVIOUS ARTICLE
  
  
  
      </a>
    
      <a href="#" class="buttin-defult btn-next">NEXT ARTICLE
  
  
  
        <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
  
  
  
          <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
  
  
  
        </svg>
  
  
  
      </a>
    </div>
  </div>
</section>

<section class="commitment  ">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">MORE INSIGHTS</h2>
    </div>  
    <div class="vacancy_card_block insight_cards row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <img src="uploads/about/news-Img.jpg" alt="image">
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
              <h6>AUTHOR NAME  - JUNE 23 2021</h6>
        
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <img src="uploads/about/news-Img.jpg" alt="image">
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
              <h6>AUTHOR NAME  - JUNE 23 2021</h6>
        
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <img src="uploads/about/news-Img.jpg" alt="image">
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
              <h6>AUTHOR NAME  - JUNE 23 2021</h6>
        
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
    
    </div>
  </div>

</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
