<partial src="head.html" page="innerpage insight-overview" title="Insight - Overview"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>LATEST VACANCIES</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb bg_peach ">
  <div class="container">
    <ul>
      <li>Careers</li>
      <li>Vacancies</li>
    </ul>
  </div>
</section>

<section class="commitment bg_peach">
  <div class="container">
    <div class="title">
      <!-- <h2 class="section-hd">MORE INSIGHTS</h2> -->
    </div>
    <div class="vacancy_card_block insight_cards row mt-0">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <div class="insight_img">
            <picture>
              <img src="uploads/about/news-Img.jpg" alt="image">
            </picture>
          </div>
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
            <h6>AUTHOR NAME - JUNE 23 2021</h6>
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <div class="insight_img">
            <picture>
              <img src="uploads/about/news-Img.jpg" alt="image">
            </picture>
          </div>
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
            <h6>AUTHOR NAME - JUNE 23 2021</h6>
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <div class="insight_img">
            <picture>
              <img src="uploads/about/news-Img.jpg" alt="image">
            </picture>
          </div>
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
            <h6>AUTHOR NAME - JUNE 23 2021</h6>
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <div class="insight_img">
            <picture>
              <img src="uploads/about/news-Img.jpg" alt="image">
            </picture>
          </div>
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
            <h6>AUTHOR NAME - JUNE 23 2021</h6>
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="insight_card_banner">
          <span class="banner_tag">CATEGORY NAME</span>
          <div class="insight_img">
            <picture>
              <img src="uploads/about/news-Img.jpg" alt="image">
            </picture>
          </div>
          <div class="likes_counter">
            <div class="icon">
              <img src="./assets/img/icons/heart.svg" alt="heart icon">
            </div>
            <span>234</span>
          </div>
        </div>
        <div class="vacancy_card">
          <div class="card_upper">
            <h4>Assistant Showroom Manager</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
              unde omnis iste natus error sit veritatis et quasi architecto beatae vitae
              dicta sunt explicabo.</p>
            <h6>AUTHOR NAME - JUNE 23 2021</h6>
          </div>
          <a href="#">READ MORE</a>
        </div>
      </div>
    </div>
    <buttonc class="buttin-defult mt-0">VIEW ALL
    </buttonc>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
