<partial src="head.html" page="know-about" title="Know - About"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/csr-overview/csr-details.webp" type="image/webp">
      <source srcset="uploads/csr-overview/csr-details.jpg" type="image/jpeg">
      <img src="uploads/csr-overview/csr-details.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>I WANT TO KNOW ABOUT</h1>
        </div>
      </div>
    </div>
  </div>    
</section>

<!-- <section class="related-links-slider">
  <div class="container">
    <div class="links-slider">
        <div class="links-slider-item">
          <a href="">HOME FURNISHINGS</a>
        </div>
        <div class="links-slider-item">
          <a href="">INTERIOR FITOUT</a>
        </div>  
        <div class="links-slider-item">
          <a href="">KITCHENS & WARDROBES</a>
        </div>      
        <div class="links-slider-item">
          <a href="">INTERIOR DESIGN</a>
        </div>  
        <div class="links-slider-item">
          <a href="">AUTOMATION</a>
        </div>  
        <div class="links-slider-item">
          <a href="">HOME FURNISHINGS</a>
        </div>     
    </div >
  </div>
</section> -->

<section class="esag-drop-down">
  <div class="expertise-selectbox mt-5">
    <span>Filter by Sector</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
      <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
    </svg>
    <ul class="dropdown-options">
      <li>
        another expertise
      </li>
      <li>
        Algurg
      </li>
      <li>
        Lorem
      </li>
    </ul>
  </div>
</section>

<section class="detail-blocks visible pt-5">
  <div class="container">
    <div class="tab-content">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="detail-blocks-div">
            <div class="detail-blocks-image">
              <picture>
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
              <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
              </picture>
              <div class="detail-blocks-tags">
                  <h5 class="tag-name">INTERIOR DESIGN</h5>
                  <h5>COMPANY</h5>
              </div>
            </div>
            <div class="detail-blocks-content">
              <h3>Heading</h3>
              <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut aliquip. <span class="more"><a href="#">KNOW MORE</a></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="detail-blocks-div">
            <div class="detail-blocks-image">
              <picture>
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
              <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
              </picture>
              <div class="detail-blocks-tags">
                  <h5 class="tag-name">INTERIOR DESIGN</h5>
                  <h5>COMPANY</h5>
              </div>
            </div>
            <div class="detail-blocks-content">
              <h3>Heading</h3>
              <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut aliquip. <span class="more"><a href="#">KNOW MORE</a></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="detail-blocks-div">
            <div class="detail-blocks-image">
              <picture>
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
              <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
              </picture>
              <div class="detail-blocks-tags">
                  <h5 class="tag-name">INTERIOR DESIGN</h5>
                  <h5>COMPANY</h5>
              </div>
            </div>
            <div class="detail-blocks-content">
              <h3>Heading</h3>
              <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut. <span class="more"><a href="#">KNOW MORE</a></span></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="detail-blocks-div">
            <div class="detail-blocks-image">
              <picture>
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
              <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
              <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
              </picture>
              <div class="detail-blocks-tags">
                  <h5 class="tag-name">INTERIOR DESIGN</h5>
                  <h5>COMPANY</h5>
              </div>
            </div>
            <div class="detail-blocks-content">
              <h3>Heading</h3>
              <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut aliquip ex. <span class="more"><a href="#">KNOW MORE</a></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button class="item-show buttin-defult">LOAD MORE</button> -->
    <div class="esag_paged">
      <div class="esag_pagination">
        <div class="paged paged-prev ">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
            <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
          </svg>
        </div>
        <div class="pages">
          <ul class="page-numbers">
            <li><a class="page-numbers current">1</a></li>
            <li><a class="page-numbers" href="#">2</a></li>
            <li><a class="page-numbers" href="#">3</a></li>
            <li><a class="page-numbers dots">…</a></li>
            <li><a class="page-numbers" href="#">33</a></li>
          </ul>
        </div>
        <div class="paged paged-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
            <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>