<partial src="head.html" page="innerpage careers" title="Careers - Overview"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>WE ARE HIRING</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb ">
  <div class="container">
    <ul>
      <li>Careers</li>
      <li>Vacancies</li>
    </ul>
  </div>
</section>



<section class="group-profile ">
  <div class="container">
    <div class="group-profile-content">
      <p>ESAG is a regional partner to over 370 international brands and principals
        from across the world. It’s portfolio of brands comprises the likes of
        Osram, British American Tobacco, Dunlop, Armitage Shanks, SieMatic, Steelcase,
        Delta, Trespa, Lutron, Danfoss, Smeg, and 3M among others.</p>
    </div>
  </div>
</section>

<div class="multi_media_block">
  <div class="container">
    <div class="image_video_media_wrap">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/about/investment.webp" type="image/webp">
        <source srcset="uploads/about/investment.jpg" type="image/jpeg">
        <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="image_video_media_description">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
    </div>
  </div>
</div>

<section class=" people_career_block bg_tan">
    <div class="future-content">
      <div class="container-fluid">
        <!-- <div class="section-sub">SINCE 1960</div> -->
      <h2 class="section-hd">SHAPING THE FUTURE</h2>
        <div class="future-content-inner">
          <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
          <buttonc class="buttin-defult">VIEW TIMELINE</button>
        </div>
      </div>
    </div>
</section>

<section class=" people_career_block">
    <div class="bg_image">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/home/Timeline.webp" type="image/webp">
        <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
        <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="future-content">
      <div class="container-fluid">
        <!-- <div class="section-sub">SINCE 1960</div> -->
      <h2 class="section-hd">SHAPING THE FUTURE</h2>
        <div class="future-content-inner">
          <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
          <buttonc class="buttin-defult">VIEW TIMELINE</button>
        </div>
      </div>
    </div>
</section>

<partial src="footer.html"></partial>
