<partial src="head.html" page="single-news" title="News Details"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>ALL THE HAPPENINGS</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#">Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <div class="container">
    <ul>
      <li>About</li>
      <li>News</li>
      <li>News Detail</li>
    </ul>
  </div>
</section>

<section class="news-content">
  <div class="container">
    <div class="group-profile-content">
      <h2 class="title">Empowering women and creating real change in the boardroom by Dr Raja Al Gurg</h2>
      <h4 class="publish-date">JUNE 23 2021</h4>
    </div>
    <div class="future-bg featured-img">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/about/news-Img.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/about/news-Img.jpg" type="image/jpeg"> -->
        <source srcset="uploads/about/news-Img.webp" type="image/webp">
        <source srcset="uploads/about/news-Img.jpg" type="image/jpeg">
        <img src="uploads/about/news-Img.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div> 
    <div class="group-profile-content">
      <p>Sheikh Zayed bin Sultan Al Nahyan, the founding father of the UAE, once said: “I am a supporter of women. I say this to emphasise the right 
        of women to work and to participate in the building of their country.”</p>
      <p>Even before the unification of the Emirates in 1971, and certainly during the nation’s first 50 years, women have always played an 
        important role in UAE society. For decades of our country’s history and centuries before that, generations of women in this region have 
        worked hard and carried immense responsibility to family and society.</p>
      <p>Back when pearl diving was our main industry, when men left for months on end to work at sea, the resourceful and resilient women of the 
        region were responsible for the welfare of the entire family; this is no small feat when times were challenging, and resources were scarce. 
        Consequently, I believe resilience and fortitude are ingrained in the DNA of women in the Gulf.</p>
      <p>Despite misconceptions in certain corners of the world, UAE’s women have always been treated with respect — both for their actions, and 
        their role in society. It is this legacy that has shaped the role women can take as our nation moves forward.</p>
      <p>The Dubai Business Women Council (DBWC) is a perfect example of the infrastructure in place as Dubai and the UAE create an enabling and 
        supportive ecosystem to nurture female talent. Formed in March 2002 under the auspices of Dubai Chamber, DBWC has one simple mission: to 
        encourage businesswomen in Dubai and help contribute to the national economy.</p>
      <p>For nearly 20 years, DBWC has been instrumental in the personal and professional development of businesswomen in the emirate. The Council 
        encourages women to play an active role in building the country and stimulating sustainable development.</p>
      <p>As Vice Chair and Managing Director of the Easa Saleh Al Gurg Group, I was fortunate to be given the opportunity as I learned the running 
        of a family business under the tutelage of my father. His counsel and insights have helped shaped me and my own brand of leadership.</p>
      <h2>This experience and my own journey has nurtured unique insights into how we can support women, 
        and what successful women bring to the leadership table.</h2>
    </div>
  </div>
</section>

<section class="featured featured-gallery-news overflow-x-hidden">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">GALLERY</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div> 
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
      </div>            
    </div >
  </div>
</section>

<section class="news-content">
  <div class="container">
    <div class="group-profile-content">
      <p>As president of the DBWC, it is my mission to ensure that relevant platforms and initiatives are offered to the 
        emirate’s businesswomen. One way we are enabling women is through our mentorship program. The initiative pair 
        industry experts representing multinationals, SME enterprises and government entities with DBWC members for a 
        unique one-on-one relationship to better develop their business skills and careers. I know from personal 
        experience how important it is to have a sounding board and the benefit of another’s wisdom.</p>
      <p>At DWBC we also understand the importance of role models. Our Women in Leadership Seminar Series, run in 
        collaboration with the University of Wollongong in Dubai and UNDP (United Nations Development Programme), 
        offers a highly engaging platform for the region’s eminent businesswomen to share success stories and 
        leadership narratives.</p>
      <p>This important series creates further awareness of successful regional businesswomen, with encouragement and 
        guidance for others to follow. The initiative helps promote and sustain positive change and gender equality in 
        the workplace, which is imperative in every forward-thinking nation.</p>
      <p>While these platforms empower women, our Gender Balance Best Practices Forums offer a roadmap for regional 
        businesses. The Forums are working labs, providing invaluable insights into the private and public sector’s 
        initiatives on gender parity progress through creating inclusive organisational cultures to create rewarding 
        business solutions.</p>
    </div>
  </div>
</section>

<section class="back-to-news">
  <div class="container">
    <button class="buttin-defult">
      <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
        <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"></path>
      </svg>
      BACK TO NEWS
    </button>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
