<partial src="head.html" page="innerpage careers" title="Careers - Overview"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>WE ARE HIRING</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb ">
  <div class="container">
    <ul>
      <li>Careers</li>
      <li>Vacancies</li>
    </ul>
  </div>
</section>

<section class="group-profile ">
  <div class="container">
    <div class="group-profile-content">
      <p>ESAG is a regional partner to over 370 international brands and principals
        from across the world. It’s portfolio of brands comprises the likes of
        Osram, British American Tobacco, Dunlop, Armitage Shanks, SieMatic, Steelcase,
        Delta, Trespa, Lutron, Danfoss, Smeg, and 3M among others.</p>
    </div>
    <div class="career_icons_row">
      <div class="iconcard">
        <img src="./uploads/career/gear-fill.svg" alt="">
        <h6>Consumer</h6>
      </div>
      <div class="iconcard">
        <img src="./uploads/career/person-fill.svg" alt="">
        <h6>Consumer</h6>
      </div>
      <div class="iconcard">
        <img src="./uploads/career/gear-fill.svg" alt="">
        <h6>Consumer</h6>
      </div>
      <div class="iconcard">
        <img src="./uploads/career/person-fill.svg" alt="">
        <h6>Consumer</h6>
      </div>
      <div class="iconcard">
        <img src="./uploads/career/gear-fill.svg" alt="">
        <h6>Consumer</h6>
      </div>
    </div>

 
  </div>
</section>

<section class="group-profile bg_white pb-5">
  <div class="container">
    <div class="future-img pb-0 mb-0 video_player_popup_btn">
      <picture>
                          <source srcset="https://esag-algurg.pixelflames.net/wp-content/uploads/2023/02/Mentor-1.jpg" type="image/webp">
          <source srcset="https://esag-algurg.pixelflames.net/wp-content/uploads/2023/02/Mentor-1.jpg" type="image/jpeg">
             
              <!-- <a href="https://www.youtube.com/watch?v=VDszsS43ZHA" target="_blank"> -->
                      <img src="https://esag-algurg.pixelflames.net/wp-content/uploads/2023/02/Mentor-1.jpg" class="img-fluid" alt="">
              <!-- </a> -->
      </picture>
    </div>
    <div class="video_player_popup_window">
      <button class="close_popup_btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
      <iframe src="https://www.youtube.com/embed/5BQQM4uvRkw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
                        </div>
    </section>

<section class=" people_career_block">
  <div class="container">

    <div class="bg_image">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/home/Timeline.webp" type="image/webp">
        <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
        <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="future-content">
      <div class="container-fluid">
        <!-- <div class="section-sub">SINCE 1960</div> -->
      <h2 class="section-hd">SHAPING THE FUTURE</h2>
        <div class="future-content-inner">
          <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
          <buttonc class="buttin-defult">VIEW TIMELINE</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="people_practices_section">
  <div class="container">
    <h2 class="section-hd underscore">People Practices</h2>
    <p class="section-content w-50 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <div class="people_career_row row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="people_card">
          <div class="image_wrp">
            <img src="" alt="">
            <span>advancement</span>
          </div>
          <h5>career development</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dicta?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dicta?</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="people_card">
          <div class="image_wrp">
            <img src="" alt="">
            <span>advancement</span>
          </div>
          <h5>career development</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dicta?</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="people_card">
          <div class="image_wrp">
            <img src="" alt="">
            <span>advancement</span>
          </div>
          <h5>career development</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing rem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dicta?</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="people_card">
          <div class="image_wrp">
            <img src="" alt="">
            <span>advancement</span>
          </div>
          <h5>career development</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dicta?</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="people_card">
          <div class="image_wrp">
            <img src="" alt="">
            <span>advancement</span>
          </div>
          <h5>career development</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dicta?</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="people_card">
          <div class="image_wrp">
            <img src="" alt="">
            <span>advancement</span>
          </div>
          <h5>career development</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, dicta?</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class=" people_career_block bg_tan">
    <div class="future-content">
      <div class="container-fluid">
        <!-- <div class="section-sub">SINCE 1960</div> -->
      <h2 class="section-hd">SHAPING THE FUTURE</h2>
        <div class="future-content-inner">
          <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
          <buttonc class="buttin-defult">VIEW TIMELINE</button>
        </div>
      </div>
    </div>
</section>

<section class=" people_career_block">
    <div class="bg_image">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/home/Timeline.webp" type="image/webp">
        <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
        <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="future-content">
      <div class="container-fluid">
        <!-- <div class="section-sub">SINCE 1960</div> -->
      <h2 class="section-hd">SHAPING THE FUTURE</h2>
        <div class="future-content-inner">
          <p class="section-content">Our scuccess throught the decades ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna.</p>
          <buttonc class="buttin-defult">VIEW TIMELINE</button>
        </div>
      </div>
    </div>
</section>
<section class="commitment visible">
  <div class="bg_image">
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/home/Timeline.webp" type="image/webp">
      <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
      <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">ONGOING PROGRAMS</h2>
    <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5>
    <button class="buttin-defult">APPLY NOW</button>
  </div>
</section>
<partial src="footer.html"></partial>
