<partial src="head.html" page="societal-engagements" title="SOCIETAL ENGAGEMENTS - Website"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/csr-overview/Spotlight.webp" type="image/webp">
      <source srcset="uploads/csr-overview/Spotlight.jpg" type="image/jpeg">
      <img src="uploads/csr-overview/Spotlight.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>OUR COMMITMENT</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#" >Overview</a></li>
        <li><a data-scroll="" href="#">Ongoing Programs</a></li>
        <li><a data-scroll="" class="active" href="#">Societal Engagements</a></li>
        <li><a data-scroll="" href="#">ESAG Charity Foundation</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <div class="container">
    <ul>
      <li>CSR</li>
      <li>Societal Engagements</li>
    </ul>
  </div>
</section>

<section class="group-profile">
  <div class="container">
    <div class="group-profile-content">
      <p>Easa Saleh Al Gurg Group (ESAG) has a rich history of corporate social responsibility, a history that has grown and evolved to meet the complexities of today’s business world and the challenges of a global society.  ESAG strives to be a good citizen when it comes to health, education and labour practices. Using innovative, sustainable and progressive practices is not just restricted to our business - it’s a principle we value in all of our work. Our CSR strategy has a three-fold focus: employee well-being, protecting the environment and giving back to the community we operate in. 
        
      </p>
      <p>

        ESAG consists of employees from a diverse range of race, age, gender and lifestyle. We embrace the insights and values that stem from these diverse backgrounds to build teams rich in diversity. This is imperative for providing the best work environment for our people and the best solutions for every client</p>
      <!-- <buttonc class="buttin-defult">DOWNLOAD GROUP PROFILE</button> -->
    </div>
  </div>
</section>

<section class="commitment bg_white pt-3">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <!-- <h2 class="section-hd">ONGOING PROGRAMS</h2>
    <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5>
  -->
    <div class="programs_row row mt-0">
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
    </div>
      <!-- <buttonc class="buttin-defult">VIEW ALL</button> -->

  </div>
</section>


<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
