<partial src="head.html" page="innerpage solution-details" title="Solution - Details"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>SOLUTIONS HEADING</h1>
        </div>
      </div>
    </div>
  </div>    
  <!-- <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#" >Investment Approach</a></li>
        <li><a data-scroll="" href="#" class="active">News</a></li>
      </ul>
    </div>
  </div> -->
</section>

<section class="breadcrumb bg_tan">
  <div class="container">
    <ul>
      <li>About</li>
      <li>News</li>
    </ul>
  </div>
</section>

<section class="about-content bg_tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <h2>One of UAE’s most
          <br>
          Lorem ipsum dolor sit <br>
          amet, consectetur <br>
          adipiscing elitisir
        </h2>
      </div>
      <div class="col-lg-7 col-md-12">
        <p>With a history dating back to 1960, the Group is partnered by leading
          brands in various areas of enterprise across wide ranging industry and
          consumer sectors. Beginning in its early years as an exclusive trading
          partner for well-known consumer brands such as Grundig and Siemens, ESAG
          today is a diversified conglomerate with businesses in retail, building
          and construction, industrial and real estate. The Group’s institutional
          strengths, value-added products and services hold the key to its successful
          business relationships with partners and customers.</p>
        <p>Through selective acquisitions and organic growth, ESAG has positioned
          itself for increased growth and continuing expansion into new markets.
          The Group’s key joint ventures include Al Gurg Unilever, Siemens, Al Gurg
          Fosroc, Al Gurg Smollan, Akzo Nobel Decorative Paints, Siemens Healthcare
          and Siemens Mobility.</p>
      </div>
    </div>
  </div>
</section>


<section class="commitment bg_white">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">product & services</h2>
    <!-- <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5> -->
    <div class="programs_row row">
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
    </div>
      <!-- <buttonc class="buttin-defult">VIEW ALL</button> -->

  </div>
</section>

<section class="featured featured-gallery-news">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">GALLERY</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div> 
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
      </div>            
    </div >
  </div>
</section>

<section class="commitment bg_white">
  <div class="container">
    <!-- <div class="section-sub">ONGOING PROGRAMS</div> -->
    <h2 class="section-hd">key brands</h2>
    <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5>
 <div class="four_column_image_grid row">
   <div class="col-lg-3 col-md-6 col-12">
     <div class="image_wrap">
       <img src="uploads/about/related-link-01.jpg" alt="image">
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-12">
    <div class="image_wrap">
      <img src="uploads/about/related-link-01.jpg" alt="image">
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="image_wrap">
      <img src="uploads/about/related-link-01.jpg" alt="image">
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="image_wrap">
      <img src="uploads/about/related-link-01.jpg" alt="image">
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="image_wrap">
      <img src="uploads/about/related-link-01.jpg" alt="image">
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="image_wrap">
      <img src="uploads/about/related-link-01.jpg" alt="image">
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="image_wrap">
      <img src="uploads/about/related-link-01.jpg" alt="image">
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="image_wrap">
      <img src="uploads/about/related-link-01.jpg" alt="image">
    </div>
  </div>
 </div>
      <!-- <buttonc class="buttin-defult">VIEW ALL</button> -->

  </div>
</section>

<section class="featured bg_tan">
  <div class="container">
    <div class="title">
      <!-- <div class="section-sub">FEATURED</div> -->
      <h2 class="section-hd">PROJECTS</h2>
    </div>    
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>
          <div class="gallery-content">
            <div class="content-hd">Retail & Lifestyle</div>
            <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
            <!-- <span class="more"><a href="#">EXPLORE</a></span> -->
            <!-- <div class="slider">
              <span class="glry-prev">              
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                </svg>
              </span>
              <span class="glry-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                </svg>
              </span>
            </div> -->
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>
          <div class="gallery-content">
            <div class="content-hd">Retail & Lifestyle</div>
            <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
            <!-- <span class="more"><a href="#">EXPLORE</a></span> -->
            <!-- <div class="slider">
              <span class="glry-prev">              
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                </svg>
              </span>
              <span class="glry-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                </svg>
              </span>
            </div> -->
          </div>                    
        </div>
          <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
              <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>
          <div class="gallery-content">
            <div class="content-hd">Retail & Lifestyle</div>
            <div class="section-content">Enim ad minim veniam, quis nostrud exercitation ullamco labo ex ea commodo consequatuis aute.</div>
            <!-- <span class="more"><a href="#">EXPLORE</a></span> -->
            <!-- <div class="slider">
              <span class="glry-prev">              
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
                </svg>
              </span>
              <span class="glry-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="7.023" height="14.017" viewBox="0 0 7.023 14.017">
                  <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
                </svg>
              </span>
            </div> -->
          </div>                    
        </div>
      </div>            
    </div >
    <button class="buttin-defult ml-0">VIEW ALL</button>
  </div>
</section>


<section class="commitment bg_white">
  <div class="container">
    <div class="section-sub">COMPANIES</div>
    <h2 class="section-hd">SOLUTION PROVIDERS</h2>
    <!-- <h5 class="section_desc">ESAG embraces the philosophy of giving back to the community by encouraging proactive involvement in the company’s multiple corporate social responsibility initiatives.</h5> -->
    <div class="programs_row row">
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="project-position">Founder & Chairman</p>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, 
            is a distinguished personality who has surpassed in various fields…</p>
          <span class="more"><a href="#">KNOW MORE</a>  
          </span>
        </div>
      </div>                
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="project-position">Vice Chairperson & Managing Director</p>
          <p class="section-content">Vice Chairperson & Managing Director of the 
            Easa Saleh Al Gurg Group, is a well known businesswoman in the region.</p>
          <span class="more"><a href="#">KNOW MORE</a> 
          </span>
        </div>
      </div> 
 
    </div>
      <!-- <buttonc class="buttin-defult">VIEW ALL</button> -->

  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>
