<partial src="head.html" page="innerpage timeline relative_header timeline_hide_header" title="About - Timeline"></partial>
<partial src="header.html"></partial> 

<section class="top-banner">    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="" href="#">Overview</a></li>
        <li><a data-scroll="" href="#" class="active">ESAG Timeline</a></li>
        <li><a data-scroll="" href="#">Leadership</a></li>
        <li><a data-scroll="" href="#">Investment Approach</a></li>
        <li><a data-scroll="" href="#">News</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="decades">
  <a href="#" class="go_to_home"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
  </svg>Go back home</a>

  <div class="custom-owl-left-arow custom-owl-arow-normal">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
      <path id="arow" d="M-.161.133A.5.5,0,0,0-.8.1L-.867.161-6.89,6.678a.5.5,0,0,0-.058.6l.058.076,6.023,6.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-5.389,7.5a.766.766,0,0,1-.268-.5.81.81,0,0,1,.284-.5L-.133.839A.5.5,0,0,0-.1.2Z" transform="translate(7.023)" fill="#84754e"/>
    </svg> 
  </div>
  <div class="custom-owl-right-arow custom-owl-arow-normal">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 7.023 14.017">
      <path id="arow" d="M.161.133A.5.5,0,0,1,.8.1L.867.161,6.89,6.678a.5.5,0,0,1,.058.6l-.058.076-6.023,6.5a.5.5,0,0,1-.789-.608l.055-.071L5.389,7.5a.766.766,0,0,0,.268-.5.81.81,0,0,0-.284-.5L.133.839A.5.5,0,0,1,.1.2Z" fill="#84754e"/>
    </svg>
  </div>

  <div class="milestone-carousel owl-carousel">

    <div class="milestone decade_main" data-hash="2000" data-value="uploads/timeline/TimelineStart.jpg" data-value-mobile="https://images.pexels.com/photos/16161062/pexels-photo-16161062.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load">
      <!-- <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div> -->
      <div class="decade_content">
        <div class="container">
          <h2>
            OUR SUCCESS <br>
            THROUGH THE DECADES
          </h2>
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <h4>Since 1960</h4>
            </div>
            <div class="col-md-5 col-sm-12">
              <p>Explore the story of EASA SALEH AL GURG starting since its inception at 1960 to become one of the 
                top successful companies in the region.</p>
              <div class="scroll">
                <svg xmlns="http://www.w3.org/2000/svg" width="158.64" height="36.017" viewBox="0 0 158.64 36.017">
                  <path id="arow" d="M140.961.3A1.125,1.125,0,0,1,142.4.225l.15.136,15.792,16.9a1.125,1.125,0,0,1,.13,1.356l-.131.172L142.549,35.657a1.124,1.124,0,0,1-1.773-1.368l.124-.161,14.067-15.005H1.1S0,18.983,0,18.008s1.1-1.122,1.1-1.122H154.93l-14.032-15a1.125,1.125,0,0,1-.073-1.438Z" fill="#fff"/>
                </svg>            
                <span>SCROLL</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2001" data-value="uploads/timeline/TimelineStart.jpg">
      <!-- <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div> -->
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-7 col-sm-12">
              <div class="related_image">
                <picture>
                  <source srcset="uploads/timeline/1960.webp" type="image/webp">
                  <source srcset="uploads/timeline/1960.jpg" type="image/jpeg">
                  <img src="uploads/timeline/1960.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1960</h3>
                <p>The set up of the first office in Dubai in 1960, on the cusp of Dubai’s inevitable development, 
                  was a well calculated move that laid the foundation for how the business would grow.
                </p>
                <p><b>H.E. Easa Saleh Al Gurg, KCVO CBE,  founded the company in 1960 following a successful 
                  career in banking and finance. </b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2002" data-value="uploads/timeline/TimelineStart.jpg">
      <!-- <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div> -->
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-md-6 col-sm-12">
              <div class="related_images">
                <picture>
                  <source srcset="uploads/timeline/image1.webp" type="image/webp">
                  <source srcset="uploads/timeline/image1.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image1.jpg" class="img-fluid" alt="algurg">
                </picture>
                <picture>
                  <source srcset="uploads/timeline/image2.webp" type="image/webp">
                  <source srcset="uploads/timeline/image2.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image2.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1962</h3>
                <ul>
                  <li>First investment in Real Estate by purchase of land for Mateena Building</li>
                  <li>ESAG signs contract with A. Jackel Import-Export GmBH, Germany for Grunding distribution</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2003" data-value="uploads/timeline/timeline_other.jpg">
      <!-- <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div> -->
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-7 col-sm-12">
              <div class="related_image">
                <picture>
                  <source srcset="uploads/timeline/1960.webp" type="image/webp">
                  <source srcset="uploads/timeline/1960.jpg" type="image/jpeg">
                  <img src="uploads/timeline/1960.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1960</h3>
                <p>The set up of the first office in Dubai in 1960, on the cusp of Dubai’s inevitable development, 
                  was a well calculated move that laid the foundation for how the business would grow.
                </p>
                <p><b>H.E. Easa Saleh Al Gurg, KCVO CBE,  founded the company in 1960 following a successful 
                  career in banking and finance. </b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2004" data-value="uploads/timeline/timeline_other.jpg">
      <!-- <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div> -->
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-md-6 col-sm-12">
              <div class="related_images">
                <picture>
                  <source srcset="uploads/timeline/image1.webp" type="image/webp">
                  <source srcset="uploads/timeline/image1.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image1.jpg" class="img-fluid" alt="algurg">
                </picture>
                <picture>
                  <source srcset="uploads/timeline/image2.webp" type="image/webp">
                  <source srcset="uploads/timeline/image2.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image2.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1962</h3>
                <ul>
                  <li>First investment in Real Estate by purchase of land for Mateena Building</li>
                  <li>ESAG signs contract with A. Jackel Import-Export GmBH, Germany for Grunding distribution</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2005">
      <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div>
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-7 col-sm-12">
              <div class="related_image">
                <picture>
                  <source srcset="uploads/timeline/1960.webp" type="image/webp">
                  <source srcset="uploads/timeline/1960.jpg" type="image/jpeg">
                  <img src="uploads/timeline/1960.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1960</h3>
                <p>The set up of the first office in Dubai in 1960, on the cusp of Dubai’s inevitable development, 
                  was a well calculated move that laid the foundation for how the business would grow.
                </p>
                <p><b>H.E. Easa Saleh Al Gurg, KCVO CBE,  founded the company in 1960 following a successful 
                  career in banking and finance. </b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2006">
      <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div>
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-md-6 col-sm-12">
              <div class="related_images">
                <picture>
                  <source srcset="uploads/timeline/image1.webp" type="image/webp">
                  <source srcset="uploads/timeline/image1.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image1.jpg" class="img-fluid" alt="algurg">
                </picture>
                <picture>
                  <source srcset="uploads/timeline/image2.webp" type="image/webp">
                  <source srcset="uploads/timeline/image2.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image2.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1962</h3>
                <ul>
                  <li>First investment in Real Estate by purchase of land for Mateena Building</li>
                  <li>ESAG signs contract with A. Jackel Import-Export GmBH, Germany for Grunding distribution</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2007">
      <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div>
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-7 col-sm-12">
              <div class="related_image">
                <picture>
                  <source srcset="uploads/timeline/1960.webp" type="image/webp">
                  <source srcset="uploads/timeline/1960.jpg" type="image/jpeg">
                  <img src="uploads/timeline/1960.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1960</h3>
                <p>The set up of the first office in Dubai in 1960, on the cusp of Dubai’s inevitable development, 
                  was a well calculated move that laid the foundation for how the business would grow.
                </p>
                <p><b>H.E. Easa Saleh Al Gurg, KCVO CBE,  founded the company in 1960 following a successful 
                  career in banking and finance. </b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2008">
      <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div>
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-md-6 col-sm-12">
              <div class="related_images">
                <picture>
                  <source srcset="uploads/timeline/image1.webp" type="image/webp">
                  <source srcset="uploads/timeline/image1.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image1.jpg" class="img-fluid" alt="algurg">
                </picture>
                <picture>
                  <source srcset="uploads/timeline/image2.webp" type="image/webp">
                  <source srcset="uploads/timeline/image2.jpg" type="image/jpeg">
                  <img src="uploads/timeline/image2.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1962</h3>
                <ul>
                  <li>First investment in Real Estate by purchase of land for Mateena Building</li>
                  <li>ESAG signs contract with A. Jackel Import-Export GmBH, Germany for Grunding distribution</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2009" data-value="uploads/timeline/TimelineStart.jpg">
      <!-- <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div> -->
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-7 col-sm-12">
              <div class="related_image">
                <picture>
                  <source srcset="uploads/timeline/1960.webp" type="image/webp">
                  <source srcset="uploads/timeline/1960.jpg" type="image/jpeg">
                  <img src="uploads/timeline/1960.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1960</h3>
                <p>The set up of the first office in Dubai in 1960, on the cusp of Dubai’s inevitable development, 
                  was a well calculated move that laid the foundation for how the business would grow.
                </p>
                <p><b>H.E. Easa Saleh Al Gurg, KCVO CBE,  founded the company in 1960 following a successful 
                  career in banking and finance. </b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="milestone decade_other" data-hash="2010" data-value="uploads/timeline/timeline_other.jpg">
      <!-- <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/timeline_other.webp" type="image/webp">
          <source srcset="uploads/timeline/timeline_other.jpg" type="image/jpeg">
          <img src="uploads/timeline/timeline_other.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div> -->
      <div class="decade_other_content">
        <div class="container">
          <h2>1970'S</h2>
          <h3>Decade of opportunities</h3>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2011">
      <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/TimelineStart.webp" type="image/webp">
          <source srcset="uploads/timeline/TimelineStart.jpg" type="image/jpeg">
          <img src="uploads/timeline/TimelineStart.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div>
      <div class="decade_list_content">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-7 col-sm-12">
              <div class="related_image">
                <picture>
                  <source srcset="uploads/timeline/1960.webp" type="image/webp">
                  <source srcset="uploads/timeline/1960.jpg" type="image/jpeg">
                  <img src="uploads/timeline/1960.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1960</h3>
                <p>The set up of the first office in Dubai in 1960, on the cusp of Dubai’s inevitable development, 
                  was a well calculated move that laid the foundation for how the business would grow.
                </p>
                <p><b>H.E. Easa Saleh Al Gurg, KCVO CBE,  founded the company in 1960 following a successful 
                  career in banking and finance. </b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="milestone decade_inner" data-hash="2012"></div>

    <div class="milestone decade_inner" data-hash="2013">
      <div class="banner-img">    
        <picture>
          <source srcset="uploads/timeline/timeline_other.webp" type="image/webp">
          <source srcset="uploads/timeline/timeline_other.jpg" type="image/jpeg">
          <img src="uploads/timeline/timeline_other.jpg" class="img-fluid" alt="algurg">
        </picture>
      </div>
      <div class="decade_list_content">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="company_logo">
                <img src="uploads/timeline/company_logo.svg" class="img-fluid" alt="algurg">
              </div>
            </div>
          </div>
          <div class="row align-items-start">
            <div class="col-md-7 col-sm-12">
              <div class="related_image">
                <picture>
                  <source srcset="uploads/timeline/1972.webp" type="image/webp">
                  <source srcset="uploads/timeline/1972.jpg" type="image/jpeg">
                  <img src="uploads/timeline/1972.jpg" class="img-fluid" alt="algurg">
                </picture>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="decade_list_cont_box">
                <h3>1972</h3>
                <p>Setup of Scientechnic</p>
                <p><b>Scientechnic is one of the region’s top integrated solution providers of electrical, 
                  mechanical, power, automation and mobility technologies.
                </b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
  </div>
  <div class="years-carousel owl-carousel">
    <div class="years decade_year">
      <a href="#2000">2000</a>
      <div class="nesteditem"> 
        <div class="years decade_inner_year"><a href="#2001">2001</a></div>  
        <div class="years decade_inner_year"><a href="#2002">2002</a></div>  
        <div class="years decade_inner_year"><a href="#2003">2003</a></div>  
        <div class="years decade_inner_year"><a href="#2004">2004</a></div> 
        <div class="years decade_inner_year"><a href="#2005">2005</a></div>  
        <div class="years decade_inner_year"><a href="#2006">2006</a></div>  
        <div class="years decade_inner_year"><a href="#2007">2007</a></div>  
        <div class="years decade_inner_year"><a href="#2008">2008</a></div> 
        <div class="years decade_inner_year"><a href="#2009">2009</a></div>
      </div>
    </div>  
    <div class="years decade_year">
      <a href="#2010">2010</a>
      <div class="nesteditem">
        <div class="years decade_inner_year"><a href="#2011">2011</a></div>
        <div class="years decade_inner_year"><a href="#2012">2012</a></div>
      </div>
    </div>  
    <div class="years decade_inner_year"><a href="#2013">PRESENT</a></div>  
  </div>
</section>
<div class="decade_navigation">
  <div class="custom_selectbox">
      <button>Select decade <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg></button>
      <ul>
        <li><a href="#1">1960</a></li>
        <li><a href="#2">1961</a></li>
        <li><a href="#3">1970</a></li>
        <li><a href="#4">1971</a></li>
      </ul>
    </div>
  </div>
<section class="mobile_decades_slider">
  <div class="decade_wrapper">
    <div class="decade_slide main_decade" id="1">
      <img src="https://esag-algurg.pixelflames.net/wp-content/uploads-webpc/uploads/2022/12/abcd.png.webp" alt="bg image">
      <div class="container">
        <div class="inner_row row">
          <div class="col-12">
            <h2>
              OUR SUCCESS <br>
              THROUGH THE DECADES
              </h2>
          </div>
          <div class="content_inner col-12 col-md-6">
            <h2>since 1960</h2>
          </div>
          <div class="content_inner col-12 col-md-6">
            <p>Explore the story of EASA SALEH AL GURG starting since its inception at
              1960 to become one of the top successful companies in the region.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="decade_slide" id="2">
      <img src="uploads/timeline/TimelineStart.jpg" alt="bg image">
      <div class="container">
        <div class="inner_row row">
          <div class="inner_images col-12 col-md-6">
            <img src="uploads/timeline/1960.jpg" alt="" class="lg">
          </div>
          <div class="content_inner col-12 col-md-6">
            <h2>1961</h2>
           <p>The set up of the first office in Dubai in 1960, on the cusp of Dubai’s
            inevitable development, was a well calculated move that laid the foundation
            for how the business would grow.</p>
              <p><b>H.E. Easa Saleh Al Gurg, KCVO CBE, founded the company in 1960 following a successful
    
                career in banking and finance. </b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="decade_slide decade_start" id="3">
      <img src="uploads/timeline/TimelineStart.jpg" alt="bg image">
      <div class="container">
        <div class="inner_row row">
          <div class="content_inner col-12">
            <h2>1970</h2>
            <h3>Decade of opportunities</h3>
            <div class="scroll_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="decade_slide" id="4">
      <img src="uploads/timeline/TimelineStart.jpg" alt="bg image">
      <div class="container">
        <div class="inner_row row">
          <div class="inner_images col-12 col-md-6">
            <img src="uploads/timeline/image1.jpg" alt="" class="lg">
            <img src="uploads/timeline/image2.jpg" alt="" class="logo">
          </div>
          <div class="content_inner col-12 col-md-6">
            <h2>1971</h2>
         <ul>
          <li>First investment in Real Estate by purchase of land for Mateena Building</li>
          <li>ESAG signs contract with A. Jackel Import-Export GmBH, Germany for Grunding
                            distribution</li>
         </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>