<partial src="head.html" page="innerpage careers breadcrumb-bg-color" title="Woman @ Esag"></partial>
<partial src="header.html"></partial> 


<section class="top-banner centered-banner">
  <div class="banner-img">    
    <picture>
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
      <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
      <source srcset="uploads/about/investment.webp" type="image/webp">
      <source srcset="uploads/about/investment.jpg" type="image/jpeg">
      <img src="uploads/about/investment.jpg" class="img-fluid" alt="algurg">
    </picture>
  </div>
  <div class="banner-cnt">
    <div class="container">
      <div class="banner-text">
        <div class="banner-text-inner">
          <h1>WOMEN @ ESAG</h1>
        </div>
      </div>
    </div>
  </div>    
  <div class="page-inner-nav">
    <div class="container">
      <ul>
        <li><a data-scroll="about" href="#">Overview</a></li>
        <li><a data-scroll="" href="#">Why Join ESAG</a></li>
        <li><a data-scroll="" href="#">Tawteen Initiative</a></li>
        <li><a data-scroll="" href="#" >Vacancies</a></li>
        <li><a data-scroll="" href="#" class="active">Benefits</a></li>
        <li><a data-scroll="" href="#" >Internships</a></li>
        <li><a data-scroll="" href="#" >People of ESAG</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="breadcrumb ">
  <div class="container">
    <ul>
      <li>Careers</li>
      <li><a href="#" >Benefits</a></li>
      <li><a href="#" >Woman@ESAG</a></li>
      <li><a href="#" >Nursing Lounge</a></li>
    </ul>
  </div>
</section>

<section class="group-profile pb-0">
  <div class="container">
    <div class="group-profile-content">
      <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
          magna aliqua consectetur. Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
          ut aliquip ex ea commodo consequat aute irure .</p>
      <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
          magna aliqua consectetur. Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
          ut aliquip ex ea commodo consequat aute irure .</p>
    </div>
  </div>
</section>

<section class="commitment visible bg_white">
  <div class="container">
    <div class="programs_row row mt-0">
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, is a distinguished personality
            who has surpassed in various fields…</p>
          <span class="more">
            <a href="#">KNOW MORE</a>
          </span>
        </div>
      </div>
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" type="image/jpeg">
            <img src="uploads/about/Dr-Raja-Easa-Al-Gurg.jpeg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>Dr. Raja Easa Al Gurg</h3>
          <p class="section-content">Vice Chairperson &amp; Managing Director of the Easa Saleh Al Gurg Group,
            is a well known businesswoman in the region.</p>
          <span class="more">
            <a href="#">KNOW MORE</a>
          </span>
        </div>
      </div>
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, is a distinguished personality
            who has surpassed in various fields…</p>
          <span class="more">
            <a href="#">KNOW MORE</a>
          </span>
        </div>
      </div>
      <div class="project-box col-md-6">
        <div class="project-image">
          <picture>
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.webp" type="image/webp">
            <source srcset="uploads/about/HE-Easa-Saleh-Al-Gurg.jpg" type="image/jpeg">
            <img src="uploads/home/HE-Easa-Saleh-Al-Gurg.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>
        <div class="project-content">
          <h3>HE Easa Saleh Al Gurg</h3>
          <p class="section-content">His Excellency Easa Saleh Al Gurg, the Chairman, is a distinguished personality
            who has surpassed in various fields…</p>
          <span class="more">
            <a href="#">KNOW MORE</a>
          </span>
        </div>
      </div>
    </div>
    <!-- <buttonc class="buttin-defult">VIEW ALL</button> -->
  </div>
</section>

<section class="group-profile pt-0">
  <div class="container">
    <div class="future-img">
      <picture>
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.webp" type="image/webp"> -->
        <!-- <source media="(max-width:767px)" srcset="uploads/hero/hero-banner.jpg" type="image/jpeg"> -->
        <source srcset="uploads/home/Timeline.webp" type="image/webp">
        <source srcset="uploads/home/Timeline.jpg" type="image/jpeg">
        <img src="uploads/home/Timeline.jpg" class="img-fluid" alt="algurg">
      </picture>
    </div>
    <div class="group-profile-content">
      <p>Though awareness that breastfeeding is the best option for a newborn is very high, nearly 50 per cent of women stop nursing because they 
        return to work. The Nursing Lounge is our answer to this challenge. The objective is to help mothers breastfeed for longer.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab 
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut 
        odit aut fugit, sed quia consequuntur  porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
  </div>
</section>

<section class="featured featured-gallery-news two-column-featured-gallery">
  <div class="container">
    <div class="title">
      <h2 class="section-hd">GALLERY</h2>
    </div>
    <div class="gallery-nav">
      <span class="glry-prev img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017" class="">
          <path id="arow" d="M-22.662.133A.5.5,0,0,0-23.3.1l-.067.061-7.023,7.517a.5.5,0,0,0-.058.6l.058.076,7.023,7.5a.5.5,0,0,0,.707.027.5.5,0,0,0,.082-.635l-.055-.071L-28.891,8.5h28.4S0,8.442,0,8.008s-.488-.5-.488-.5H-28.875l6.24-6.67A.5.5,0,0,0-22.6.2Z" transform="translate(30.525)" fill="#84754e"/>
        </svg>  
      </span>
      <p class="slider-counter"></p>
      <span class="glry-next img-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30.525" height="16.017" viewBox="0 0 30.525 16.017">
          <path id="arow" d="M22.662.133A.5.5,0,0,1,23.3.1l.067.061,7.023,7.517a.5.5,0,0,1,.058.6l-.058.076-7.023,7.5a.5.5,0,0,1-.789-.608l.055-.071L28.891,8.5H.488S0,8.442,0,8.008s.488-.5.488-.5H28.875L22.635.839A.5.5,0,0,1,22.6.2Z" fill="#84754e"/>
        </svg>
      </span>
    </div>
    <div class="featured-gallery">
      <div class="featured-galery-box-two owl-carousel">
        <div class="gallery-item">
          <div class="gallery-img">
            <a href="" data-toggle="modal" data-target="#videoPopup">
              <div class="play_button_div">
                <button type="button" class="play_button" >
                  <svg aria-hidden="true" focusable="false"><use xlink:href="#plyr-play"></use></svg>
                </button>
              </div>
              <picture>
                <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
                <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
                <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
              </picture>
            </a>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <source srcset="uploads/home/futre.webp" type="image/webp">
              <source srcset="uploads/home/futre.jpg" type="image/jpeg">
              <img src="uploads/home/futre.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div> 
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                    
        </div>
        <div class="gallery-item">
          <div class="gallery-img">
            <picture>
              <source srcset="uploads/about/news-gallery-1.webp" type="image/webp">
              <source srcset="uploads/about/news-gallery-1.jpg" type="image/jpeg">
              <img src="uploads/about/news-gallery-1.jpg" class="img-fluid" alt="algurg">
            </picture>
          </div>  
          <div class="gallery_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>                  
        </div>
      </div>            
    </div >

    <div class="modal fade" id="videoPopup" tabindex="-1" role="dialog" aria-labelledby="videoPopupTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span date-id="player1" aria-hidden="true">&times;</span>
          </button>
          <div class="video-container">
            <div class="video-holder">
              <div id="player1" data-plyr-provider="youtube" data-plyr-embed-id="FTvWqmu429Y"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const player1 = new Plyr('#player1');
      player1.poster = 'uploads/csr-overview/video-img1.jpg';
      $('.modal button.close').click(function() {
        player1.pause();
      });
    </script>

  </div>
</section>

<section class="commitment ">
  <div class="container">
    <h2 class="section-hd">JOIN ESAG</h2>
    <div class="section_desc">
      <p>Magna aliqua consectetur nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute nim ad 
        minim veniam irure. Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure .</p>
      <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    </div>
    <a href="#" class="buttin-defult">APPLY NOW</a>
  </div>
</section>

<section class="related-links">
  <div class="container">
    <!-- <div class="section-sub">IN THE NEWS</div> -->
    <h2 class="section-hd">SEE ALSO</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-01.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-01.webp" type="image/webp">
            <source srcset="uploads/about/related-link-01.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-01.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Solutions</h2>
                <p>Ut enim ad minim veniam, quis nostrud</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-02.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-02.webp" type="image/webp">
            <source srcset="uploads/about/related-link-02.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-02.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Companies</h2>
                <p>Laboris nisi ut aliq commodo consequat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="future-bg">
          <picture>
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.webp" type="image/webp"> -->
            <!-- <source media="(max-width:767px)" srcset="uploads/about/related-link-03.jpg" type="image/jpeg"> -->
            <source srcset="uploads/about/related-link-03.webp" type="image/webp">
            <source srcset="uploads/about/related-link-03.jpg" type="image/jpeg">
            <img src="uploads/about/related-link-03.jpg" class="img-fluid" alt="algurg">
          </picture>
        </div>     
        <div class="related-links-content">
          <div class="links-container">
            <div class="banner-text">
              <div class="banner-text-inner">
                <h2>Careers</h2>
                <p>Laboris nisi ut aliquip commodo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<partial src="footer.html"></partial>